{% extends "layout.html" %}

{% block pageTitle %}
  Outcomes of questions
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/mvp-1_1/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/mvp-1_1/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/mvp-1_1/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Outcomes of questions
        </h1>
        <form action="added-call-details" method="post" novalidate>
          <!-- for eas -->
          <div class="govuk-form-group {{isNpd}}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h2 class="govuk-fieldset__heading">
                  Was the <span class="govuk-!-font-weight-bold">next payment date</span> question resolved?
                </h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="npd_resolved" name="npd_wasQuestionResolved" type="radio" value="Resolved" {{ checked ('npd_wasQuestionResolved', 'Resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="npd_resolved">
                    Yes <span class="govuk-visually-hidden">the next payment date question was resolved</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="npd_Not-resolved" name="npd_wasQuestionResolved" type="radio" value="Not resolved" {{ checked ('npd_wasQuestionResolved', 'Not resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="npd_Not-resolved">
                    No <span class="govuk-visually-hidden">the next payment date question was not resolved</span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group {{isNpa}}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h2 class="govuk-fieldset__heading">
                  Was the <span class="govuk-!-font-weight-bold">next payment amount </span> question resolved?
                </h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="npa_resolved" name="npa_wasQuestionResolved" type="radio" value="Resolved" {{ checked ('npa_wasQuestionResolved', 'Resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="npa_resolved">
                    Yes <span class="govuk-visually-hidden">the next payment amount question was resolved</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="npa_Not-resolved" name="npa_wasQuestionResolved" type="radio" value="Not resolved" {{ checked ('npa_wasQuestionResolved', 'Not resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="npa_Not-resolved">
                    No <span class="govuk-visually-hidden">the next payment amount question was not resolved</span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group {{isMp}}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h2 class="govuk-fieldset__heading">
                  Was the <span class="govuk-!-font-weight-bold">missing payment</span> question resolved?
                </h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ma_resolved" name="ma_wasQuestionResolved" type="radio" value="Resolved" {{ checked ('ma_wasQuestionResolved', 'Resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="ma_resolved">
                    Yes <span class="govuk-visually-hidden">the missing payment question was resolved</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ma_Not-resolved" name="ma_wasQuestionResolved" type="radio" value="Not resolved" {{ checked ('ma_wasQuestionResolved', 'Not resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="ma_Not-resolved">
                    No <span class="govuk-visually-hidden">the missing payment question was not resolved</span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="govuk-form-group {{isRfch}}">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">
                <h2 class="govuk-fieldset__heading">
                  Was the <span class="govuk-!-font-weight-bold">change in payment amount</span> question resolved?
                </h2>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="chpa_resolved" name="chpa_wasQuestionResolved" type="radio" value="Resolved" {{ checked ('chpa_wasQuestionResolved', 'Resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="chpa_resolved">
                    Yes  <span class="govuk-visually-hidden">change in payment amount question was resolved</span>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="chpa_Not-resolved" name="chpa_wasQuestionResolved" type="radio" value="Not resolved" {{ checked ('chpa_wasQuestionResolved', 'Not resolved') }}>
                  <label class="govuk-label govuk-radios__label" for="chpa_Not-resolved">
                    No  <span class="govuk-visually-hidden">change in payment amount question was not resolved</span>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}


