$mobile-nav-break-point : 390px; // point where nav switches to a mobile nav with a JavaScript dropdown nav
$nojs-mobile-nav-break-point : tablet; // point where nav switchs to mobile view when JavaScript is disabled

/* Chevron - TODO: cross-browser testing
   Creates a chevron in a chosen direction and colour by styling the :after pseudo element 

   Usage: @include dwp-chevron("down", govuk-colour("blue"), inline-block);

   @param {String} $direction - Direction for chevron: up, right, down, left
   @param {Number} $colour - Colour of chevron, can be colour value e.g. hex, rgb etc., css variable or result of another mixin e.g. govuk-colour()
   @param {String} $display [block] - CSS display property of the arrow
*/

@mixin dwp-chevron($direction, $colour, $display: block) {
    &:after {
      background: transparent;
      content: "";
      border-bottom: 2px solid $colour;
      border-right: 2px solid $colour;
      display: $display;
      height: 8px;
      position: relative;
      vertical-align: middle;
      width: 8px;
  
      @if $direction == "up" {
          -webkit-transform: translateY(1px) rotate(225deg) scale(1);
          -ms-transform: translateY(1px) rotate(225deg) scale(1);
          transform: translateY(1px) rotate(225deg) scale(1);
      } @else if $direction == "right" {
          -webkit-transform: translateY(1px) rotate(-45deg) scale(1);
          -ms-transform: translateY(1px) rotate(-45deg) scale(1);
          transform: translateY(1px) rotate(-45deg) scale(1);
      } @else if $direction == "down" {
          -webkit-transform: translateY(-35%) rotate(45deg) scale(1);
          -ms-transform: translateY(-35%) rotate(45deg) scale(1);
          transform: translateY(-35%) rotate(45deg) scale(1);
      } @else if $direction == "left" {
          -webkit-transform: translateY(1px) rotate(135deg) scale(1);
          -ms-transform: translateY(1px) rotate(135deg) scale(1);
          transform: translateY(1px) rotate(135deg) scale(1);
      } @else {
        @error "Invalid arrow direction: expected `up`, `right`, `down` or `left`, got `#{$direction}`";
      }
    }
  }

/* Current, active, hover link style */
@mixin current {
  text-decoration: underline;
  text-decoration-thickness: max(3px, 0.0625rem);
  box-shadow: none;
}

/* Link and button base styles for all header navigation links  */
@mixin header-nav-link-and-button-base {
  box-sizing: border-box;
  color: govuk-colour("light-grey");
  display: block;    
  font-size: 1rem;
  padding: 3px 7px 7px 7px;
  text-decoration: none;
  
  &:focus,
  &:hover {
    @include current;
  }
  
  &.current {
    font-weight: 700;
    @include current;
  }

  @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
    text-align: left;
    padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(3);
  }
}

/* Button overriding styles - extra bits required for button interaction behaviour */
@mixin header-nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  @include dwp-chevron("down", govuk-colour("light-grey"), inline-block);

  &:after {
    left: -4px;
    margin: 0 0 0 govuk-spacing(2);
  }

  &:focus {
    @include current;
    background-color: govuk-colour("yellow");
    color: govuk-colour("black");

    &:after {
      border-bottom-color: govuk-colour("black");
      border-right-color: govuk-colour("black");
    }
  }

  @include govuk-media-query($until: $mobile-nav-break-point ) {
    margin-right: govuk-spacing(3) * -1;
    margin-top: -8px;
  }

  &.dwp-header-navigation__menu-button--open {
    @include dwp-chevron("up", govuk-colour("light-grey"), inline-block);

    font-weight: 700;

    &:focus {
      background-color: govuk-colour("yellow");
      color: govuk-colour("black");
      @include current;
  
      &:after {
        border-bottom-color: govuk-colour("black");
        border-right-color: govuk-colour("black");
      }
    }
  }
}

/* header navigation styles */
.dwp-header-navigation-v1 {
  background-color: govuk-colour("black");
  padding-bottom: govuk-spacing(1);

  ul {
    @include govuk-clearfix;
    left: -7px;
    margin: 0 auto;
    max-width: 960px;
    min-height: 34px;
    padding: 0 govuk-spacing(6);
    position: relative;
    
    @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
      padding: 0 7px;
    }
  }

  .js-enabled &.dwp-header-navigation--js-nav ul {
    overflow: hidden;
    height: 34px; 

    @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
      height: 44px;
    }
  }

  li {
    box-sizing: border-box;
    float: left;
    margin: 0 govuk-spacing(3) 5px 0;
    list-style-type: none;

    &.dwp-header-navigation__button-list-item {
      margin-right: 0;
    }

    @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
      margin: 0;
    }
  }

  a, .dwp-header-navigation__overflow-menu-button {
    @include header-nav-link-and-button-base;
  }

  a:focus {
    color: govuk-colour("black");
  }

  .dwp-header-navigation__overflow-menu-button {
    @include header-nav-button; 

    @include govuk-media-query($until: $mobile-nav-break-point) {
      display: none;
    }
  }


  .nav-links--overflow {
    display: none;

    @include govuk-media-query($until: $mobile-nav-break-point) {
      display: block;
    }
  }
  

  .nav-links--overflow.navlinks--overflow-visible {
    display: block;
    position: relative;


    ul {
      height: auto;
      position: relative;
      padding-left: govuk-spacing(6);

      li:first-child {
        margin-left: 0;
      }

      @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
        padding: 0 7px;
      }
    }
    
    a {
      @include govuk-media-query($from: $mobile-nav-break-point) {
        margin: govuk-spacing(1) 0 0 0;
      }

      &:focus,
      &:focus-visible {
        background-color: govuk-colour("yellow");
        color: govuk-colour("black");
      }
    }
  }
  
  @include govuk-media-query($until: $mobile-nav-break-point) {
    ul {
      height: auto;
      overflow: visible;
      padding: 0 govuk-spacing(1);
      text-align: left;

      a, .govuk-header__link  {
        display: inline-block;
        
        &:before {
          display: none;
        }      
      }

      .govuk-header__link {
        &:focus {
          color: govuk-colour("black");
        }
      }
    }

    .js-enabled &.dwp-header-navigation--js-nav ul {
      display: none; 

      &.nav-links--mobile-visible {
        display: block;
        overflow: visible;
        height: auto;
        left: 0;
        padding: 0;

        li {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }

  @include govuk-media-query($from:$mobile-nav-break-point, $until: $nojs-mobile-nav-break-point ) {

    .js-enabled & ul {
      display: block; 
    }
  }
  
  // @include govuk-media-query($until: $nojs-mobile-nav-break-point ) {
  //   &.dwp-header-navigation--nojs-mobile ul {
  //     // display: none;
  //   }
  // }
}

/* Internal service header override - Nojs mobile navigation button */
.dwp-header-navigation-v1__nojs-mobile-nav-link {
  display: none !important;
}


/* Internal service header override - Mobile navigation button */
.dwp-header-navigation__mobile-nav-button {
  @include header-nav-link-and-button-base;
  @include header-nav-button; 

  display: none;
  float: right;
  font-size: inherit;
  font-weight: 700;

  &:after {
    margin: 0 0 1px 14px;
  }

  @include govuk-media-query($until: $mobile-nav-break-point ) {
   .js-enabled & { 
     display: inline-block;
    }
  }

  &.dwp-header-navigation__menu-button--open {
    background-color: transparent;
    color: govuk-colour("light-grey");

    &:after {
      border-bottom-color: govuk-colour("light-grey");
      border-right-color: govuk-colour("light-grey");
      margin: 0 0 -2px 14px;
    }
  }
}

/* Internal service header override - applied by js to hide any links in the header component when using js mobile nav */
@include govuk-media-query($until: $mobile-nav-break-point ) {
  .hide-links--mobile {
    a {
      display: none;
    }
  }
}



//new style for complete session  button in navigation

.govuk-completeSession-button--inverse, .govuk-completeSession-button--inverse:link, .govuk-completeSession-button--inverse:visited, .govuk-completeSession-button--inverse:active, .govuk-completeSession-button--inverse:hover {
  // color: #1d70b8;
  color: #0b0c0c;
  margin-top: 5px;
  margin-bottom: 0px;
}

.govuk-completeSession-button--inverse {
  background-color: #ffffff;
  box-shadow: 0 2px 0 #666b71;
  }





  // new css for navigation- 2nd Nonvember
  .dwp-header {
    background-color: #0b0c0c;
    border-bottom: 0;
  }
  .dwp-header .govuk-grid-row {
    padding: 10px 10px 0;
  }
  // .dwp-header .govuk-width-container .govuk-grid-row {
  //   padding: 10px 0 0;
  // }
  @media (min-width: 20em) and (max-width: 40.0525em) {
    .dwp-header .govuk-grid-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .dwp-header .govuk-grid-column-two-thirds {
      flex-basis: 66.666%;
    }
    .dwp-header .govuk-grid-column-one-third {
      flex-basis: 33.333%;
    }
  }
  .dwp-header__container {
    border-bottom: 0;
    padding: 10px 30px 0;
    display: flex;
  }
  @media (max-width: 40.0525em) {
    .dwp-header__container {
      padding: 10px 15px 0;
    }
  }
  .dwp-header__container--service-name {
    padding: 10px 0 0 0;
  }
  @media (max-width: 40.0525em) {
    .dwp-header__container--service-name {
      padding: 10px 0 0 0;
    }
  }
  .dwp-header__container--action .action {
    float: right;
    font-weight: 700;
    margin-top: 2px;
  }
  @media (min-width: 40.0625em) {
    .dwp-header__container--action .action {
      margin-top: 5px;
    }
  }
  
  .service-name-default {
    padding-left: 10px;
  }



  .dwp-header {
    min-height: 50px;
    display: table;
    clear: both;
    width: 100%;
  }
  .dwp-header .dwp-header__link-active {
    text-decoration: underline;
    text-decoration-thickness: max(3px, 0.0625rem);
    box-shadow: none;
  }
  .dwp-header__navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    // float: left;
  }
  @media (max-width: 40.0525em) {
    // .dwp-header__navigation {
    //   display: none;
    // }
    .dwp-header__navigation.menu-open {
      display: block;
    }
  }
  .dwp-header__navigation--item {
    display: inline-block;
    margin-right: 15px;
    border-bottom: 0;
  }
  @media (max-width: 40.0525em) {
    .dwp-header__navigation--item {
      display: block;
      border-bottom: 1px solid #2e3133;
    }
  }
  .dwp-header__navigation--toggle {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.14286;
    float: right;
    padding: 0;
    margin-top: 5px;
    display: none;
  }
  @media (max-width: 40.0525em) {
    .dwp-header__navigation--toggle {
      display: block;
    }
  }
  .dwp-header__navigation--toggle:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 8.66px 5px 0 5px;
    border-top-color: inherit;
    margin-left: 5px;
  }
  .dwp-header__navigation--toggle.menu-open:after {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    border-width: 0 5px 8.66px 5px;
    border-bottom-color: inherit;
  }
  
  .navigation-secondary ul:after {
    content: "";
    display: block;
    clear: both;
  }
  
  .navigation-secondary {
    border-bottom: 1px solid #bfc1c3;
    margin: auto;
    max-width: 960px;
  }
  
  .navigation-secondary ul {
    margin: 0 auto;
    max-width: 960px;
    padding-left: 0;
  }
  
  .navigation-secondary li {
    float: left;
    list-style-type: none;
  }
  
  @media (max-width: 640px) {
    .navigation-secondary li {
      border: 0;
      width: 100%;
    }
  }
  .navigation-secondary a {
    display: block;
    padding: 15px;
  }
  
  .navigation-secondary a:visited {
    color: #005ea5;
  }
  
  .navigation-secondary a:hover {
    background-color: #f8f8f8;
  }
  
  .navigation-secondary .active {
    box-shadow: inset 0px -5px 0px 0px #005ea5;
    color: #0b0c0c;
    text-decoration: none;
  }
  
  .navigation-secondary .active:visited {
    color: #0b0c0c;
  }
  
  .prototype-\!-side-nav-pane {
    max-width: 260px;
  }
  .prototype-\!-side-nav-pane .app-subnav {
    padding-top: 0;
  }
  
  .prototype-\!-content-pane {
    max-width: 700px;
  }
  