{% extends "layout.html" %}

{% block pageTitle %}
Do you want to add anything else to the contact history?
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/opt1/header_keydetail_bar.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/prototype-dev-QA/common/phase-banner--user-research.html" %}
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/footer.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Information added to this call
      </h1>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <!-- <th scope="col" class="govuk-table__header">Date</th> -->
            <!-- <th scope="col" class="govuk-table__header">Interaction Type</th> -->
            <th scope="col" class="govuk-table__header ">Benefit</th>
            <th scope="col" class="govuk-table__header">Enquiry Type</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Notes</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <!-- <td class="govuk-table__cell">14 April 2023</td> -->
            <!-- <td class="govuk-table__cell">Incoming telephone call</td> -->
            <td class="govuk-table__cell">Employment and Support Allowance</td>
            <td class="govuk-table__cell">Next payment date</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">--</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Resolved</strong></td>
            <td class="govuk-table__cell"><a href="contact-history-detail.html" class="govuk-link">Edit note</a></td>
          </tr>
          <tr class="govuk-table__row">
            <!-- <td class="govuk-table__cell">14 April 2023</td> -->
            <!-- <td class="govuk-table__cell">Incoming telephone call</td> -->
            <td class="govuk-table__cell">Employment and Support Allowance</td>
            <td class="govuk-table__cell">Next payment amount</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">This is an example of what more information could look like...</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Resolved</strong></td>
            <td class="govuk-table__cell"><a href="contact-history-detail.html" class="govuk-link">Edit note</a></td>
          </tr>
        </tbody>
      </table>
  </div>
      <div class="govuk-grid-column-two-thirds">
        <form class="form" action="session-completed" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Do you want to add any information to the contact history before complete this call?
                </h2>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                Select one option.
              </div>
              <div class="govuk-radios govuk-!-margin-top-5" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Do-you-want-to-complete-the-session-1" name="Do-you-want-to-complete-the-session" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="Do-you-want-to-complete-the-session-1">
                    Yes, add more information to the contact history
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="Do-you-want-to-complete-the-session-2" name="Do-you-want-to-complete-the-session" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="Do-you-want-to-complete-the-session-2">
                    No, I want to complete the session
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
