{% extends "layout.html" %}

{% block pageTitle %}
  Contact logged confirmation
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/phase-banner.html" %}
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Contact logged</h1>
      </div>
      <form action="/index" method="post" novalidate>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Reset for next contact
        </button>
      </form>


    </div>
  </div>

{% endblock %}
