.govuk-footer__meta-item {
  font-size: 19px;
}

#sl-footer-accessibility, #sl-footer-feedback {
  margin-top: 0;
}

#sl-footer-feedback {
  margin-bottom: 0;
}

.ov-footer-copyright{
  text-align: right;
}



.ov-footer__links {
  margin-bottom: 40px;
}