<footer class="govuk-footer sl-not-printable" role="contentinfo">

  <div class="app-width-container home-width">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p id="sl-footer-feedback" class="govuk-!-font-weight-bold">This is a new service - your <a class="govuk-link" link="#">feedback</a> will help us improve it.</p>
        <p id="sl-footer-accessibility" class="govuk-!-font-weight-bold">Read our <a class="govuk-link" link="#">Accessibility Statement</a>.</p>
      </div>
    </div>
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Built by DWP Digital.</p>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="govuk-footer__meta-item" style="" id="sl-footer-version" [attr.data-qa]="'sl-footer-version'">
          <p class="ov-footer-copyright">© Copyright | Prototype V.1.0</p>
      </div>
      </div>
    </div>
  </div>

</footer>
