<div class="sl-primary-card__wrapper">
    <h2 tabindex="-2" id="block-pd" class="maincontent govuk-heading-l scroll-margin-xl"><span id="interactions"></span>Interactions</h2>
    <div class="sl-primary-card">
        
        <!-- everything -->
        <div>
            {% include "./details/_kcis.html" %}
            <hr  class="details-separator" /> <!--Why is this not the same width as the content?-->
            {% include "./details/_contact-record.html" %}
        </div>
    </div>
</div>
