<div class="sl-primary-card__wrapper" >
    <h2 tabindex="-1" id="block-pd" class="maincontent govuk-heading-l scroll-margin-xl" ><span id="personal-details"></span>Personal details</h2>
    <div class="sl-primary-card">
        
        <!-- everything -->
        <div >
            {% include "./details/_name.html" %}
            
            {% include "./details/_dob.html" %}

            <!-- date of death -->

            {% include "./details/_disability_status.html" %}

            {% include "./details/_needs.html" %}

            {% include "./details/_ni.html" %}
           
            {% include "./details/_at_risk.html" %}

            {% include "./details/_fraud-yes.html" %}

            {% include "./details/_lang.html" %}

            {% include "./details/_lang_spoken.html" %}

            {% include "./details/_status.html" %}

            {% include "./details/_sex.html" %}

            <!-- gender -->
            {% include "./details/_immigration.html" %}

        </div>
    </div>
</div>
