{% extends "layout.html" %}

{% block pageTitle %}
Do you want to complete the contact?
{% endblock %}

{% block header %}
{% include "/prototype-dev-baseline/mvp-1_2/common/non-telephony/header_keydetail_bar.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block content %}
<form class="form" action="contact-details-completed" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Do you want to start the service again?
        </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-acomplete-call-1" name="complete-contact" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-acomplete-call-1">
            Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-acomplete-call-2" name="complete-contact" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-acomplete-call-2">
              No, continue working on this contact
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </form>
  {% endblock %}