{% extends "layout.html" %}

{% block pageTitle %}
Accessibility statement for Colleague view
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Accessibility statement for Colleague view</h1>
    <p class="govuk-body">
        <!-- This accessibility statement applies to <a href="#" class="govuk-link">Check a customer's benefit information</a>. -->
        This accessibility statement applies to Colleague view.
    </p>
    <p class="govuk-body">This service is maintained by the Department for Work and Pension (DWP) and is part of the wider GOV.UK website. There is a separate <a href="#" class="govuk-link">accessibility statement for GOV.UK</a>.</p>
    <h2 class="govuk-heading-m">Using this service</h2>
    <p class="govuk-body">We want as many people as possible to be able to use this service. This means you should be able to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts using browser or device settings</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate all the service using a keyboard or speech recognition software</li>
        <li>listen to all the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We have made the text in the service as simple as possible to understand.</p>
    <p class="govuk-body">We have used common styles, patterns and components from the <a href="#" class="govuk-link">GOV.UK Design System</a>, which are widely regarded as accessible.</p>
    <p class="govuk-body">
        <a href="#" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.
    </p>
    <h2 class="govuk-heading-m">Reporting accessibility problems</h2>
    <p class="govuk-body">
        We are always looking to improve the accessibility of this service. If you find any problems not listed on this page, or you think we are not meeting accessibility requirements, <a href="#" class="govuk-link">contact the DWP accessibility team</a>.
    </p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
    <p class="govuk-body">If you are not happy with how we respond to your complaint, 
        <a href="#" class="govuk-link">contact the Equality Advisory and Support Service (EASS).</a>.
    </p>
    <h2 class="govuk-heading-m">Compliance status</h2>
    <p class="govuk-body">DWP is committed to making its service accessible, in accordance with the Public Sector Bodies (services and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    <p class="govuk-body">
        This service is fully compliant with the <a href="#" class="govuk-link">Web Content Accessibility Guidelines version 2.2</a> AA standard
    </p>

    <p class="govuk-body">There are no known accessibility issues within this service.</p>

    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 3 June 2024. It was last reviewed on [insert new date].</p>
    <p class="govuk-body">This service was last tested on 3 June 2024 against the WCAG 2.2 AA standard.</p>
    <p class="govuk-body">The test was carried out by DWP Digital.</p>

    <!-- <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">
        If you find any problems not listed on this page or think we’re not meeting accessibility requirements, <a href="#" class="govuk-link">use the contact form to provide your feedback</a>.
    </p>
    <p class="govuk-body">If you need information on this service in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>email: rhys.dey@dwp.gov.uk using the subject line 'Accessibility feedback'</li>
        <li>call: 07393780471</li>
    </ul>
    <p class="govuk-body">
        We’ll consider your request and get back to you in 20 working days.
    </p>

    <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>
    <p class="govuk-body">
        The Department for Work and Pension (DWP) is committed to making its service accessible, in accordance with the Public Sector Bodies (services and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    </p> -->

</div>
</div>

{% endblock %}
