{% extends "layout.html" %}

{% block pageTitle %}
Home
{% endblock %}


{% block header %}
  {% include "prototype-dev-baseline/mvp-1_1/common/header.html" %}
  {% include "prototype-dev-baseline/mvp-1_1/common/opt2/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/mvp-1_1/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-dev-baseline/mvp-1_1/common/phase-banner.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Home</h1>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
          <form action="call-log-journey/selectBenefit" method="post">
            <button class="govuk-button {{hideAddNote}}" data-module="govuk-button" onclick="global_var['a']['b']=1;">
              Add or view call details
            </button>
          </form>
          <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add note
          </button> -->
          <!-- <a href="engagement-log-journey/what-service-called-about" role="button" draggable="false" class="govuk-button" data-module="govuk-button" onclick="global_var['a']['b']=1;">Add or view call details</a> -->
          <!-- <p class="govuk-body">
            <a href="engagement-log-journey/what-service-called-about" class="govuk-link  ">Add or view call details</a>
          </p> -->
        </div>
      </div>
            <!-- to be card styel -->
            <ul class="govuk-grid-row nhsuk-card-group">
              <li class="govuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <a class="nhsuk-card__link govuk-link" href="personal-details.html">Personal details</a>
                    </h2>
                    <p class="nhsuk-card__description">
                      View personal details, including contact numbers and addresses.</p>
                  </div>
                </div>
              </li>
              <li class="govuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <a class="nhsuk-card__link govuk-link" href="contact-history.html">Contact history</a>
                    </h2>
                    <p class="nhsuk-card__description">
                      View notes and details about previous contact.</p>
                  </div>
                </div>
              </li>
              <li class="govuk-grid-column-one-third nhsuk-card-group__item">
                <div class="nhsuk-card nhsuk-card--clickable">
                  <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                      <a class="nhsuk-card__link govuk-link" href="benefit-payment.html">Benefit payments</a>
                    </h2>
                    <p class="nhsuk-card__description">
                      View details, including payment frequency and amounts.</p>
                  </div>
                </div>
              </li>
            </ul>
      <!-- <ul class="govuk-grid-row customer-view-card-group">
        <li class="govuk-grid-column-one-third customer-view-card-group__item">
          <div class="customer-view-card customer-view-card--clickable">
            <div class="customer-view-card__content">
              <h2 class="customer-view-card__heading govuk-heading-m">
                <a class="govuk-link   customer-view-card__link" href="personal-details.html">Personal details</a>
              </h2>
              <p class="govuk-body customer-view-card__description">View the customer's personal details.</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third customer-view-card-group__item">
          <div class="customer-view-card customer-view-card--clickable">
            <div class="customer-view-card__content">
              <h2 class="customer-view-card__heading govuk-heading-m">
                <a class="govuk-link   customer-view-card__link" href="contact-history.html">Contact history</a>
              </h2>
              <p class="govuk-body customer-view-card__description">View notes and details for previous contact with the customer.</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third customer-view-card-group__item">
          <div class="customer-view-card customer-view-card--clickable">
            <div class="customer-view-card__content">
              <h2 class="customer-view-card__heading govuk-heading-m">
                <a class="govuk-link   customer-view-card__link" href="payment-and-awards.html">Upcoming and historic benefit payments</a>
              </h2>
              <p class="govuk-body customer-view-card__description">Check payments and details for benefits that the customer gets.</p>
            </div>
          </div>
        </li>
      </ul> -->

    </div>
  </div>

{% endblock %}
