
<app-account-addresses _ngcontent-ng-c2065916579="" _nghost-ng-c1987325688=""><!---->
    <div _ngcontent-ng-c1987325688="" class="govuk-grid-row govuk-body">
        <div _ngcontent-ng-c1987325688="" class="address-change-view"><a _ngcontent-ng-c1987325688=""
                href="javascript://" data-qa="change-address-view-link">Change address view</a></div>
    </div><!----><!---->
    <div _ngcontent-ng-c1987325688="" class="govuk-grid-row">
        <div _ngcontent-ng-c1987325688="" class="govuk-grid-column-one-third govuk-body"><span
                _ngcontent-ng-c1987325688="" id="address-type-description"
                data-qa="address-type-description">Correspondence address</span>
            <div _ngcontent-ng-c1987325688="" class="govuk-grey" id="address-present-date"
                data-qa="address-present-date"> 27 Apr 2021 to Present </div>
        </div>
        <div _ngcontent-ng-c1987325688="" class="govuk-grid-column-two-thirds">
            <div _ngcontent-ng-c1987325688="" class="govuk-grid-row govuk-body">
                <div _ngcontent-ng-c1987325688="" class="govuk-grid-column-one-third"><app-account-address-block
                        _ngcontent-ng-c1987325688="" _nghost-ng-c3849750804=""><!---->
                        <div _ngcontent-ng-c3849750804="" class="govuk-body address-block">
                            <div _ngcontent-ng-c3849750804="" id="lineOne-current-3-0"> 8 Earsdon View </div>
                            <div _ngcontent-ng-c3849750804="" id="lineTwo-current-3-0"> Shiremoor </div>
                            <div _ngcontent-ng-c3849750804="" id="lineThree-current-3-0"> Newcastle Upon Tyne </div>
                            <div _ngcontent-ng-c3849750804="" id="lineFour-current-3-0"> </div>
                            <div _ngcontent-ng-c3849750804="" id="lineFive-current-3-0"> </div>
                            <div _ngcontent-ng-c3849750804="" id="postcode-current-3-0"> NE27 0SX </div>
                            <div _ngcontent-ng-c3849750804="" id="country-current-3-0"> England </div><!---->
                        </div><!----><!---->
                    </app-account-address-block></div>
                <div _ngcontent-ng-c1987325688="" class="govuk-grid-column--two-thirds">
                    <div _ngcontent-ng-c1987325688="" class="additional-data-links-container"><!----></div>
                </div>
            </div>
        </div>
    </div><!----><!----><!----><!----><!----><!----><!----><!---->
</app-account-addresses>