<app-id-at-risk _ngcontent-ng-c1527080084="" _nghost-ng-c3300527660="">
    <div _ngcontent-ng-c3300527660="" class="govuk-grid-row">
        <div _ngcontent-ng-c3300527660="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c3300527660="" class="govuk-body">Identity at risk</p></div>
        <div _ngcontent-ng-c3300527660="" class="govuk-grid-column-two-thirds">
            <div _ngcontent-ng-c3300527660="" class="govuk-grid-row govuk-body">
                <div _ngcontent-ng-c3300527660="" class="govuk-grid-column-full">
                    <div _ngcontent-ng-c3300527660="" style="float: right;"><!----></div>
                    <span _ngcontent-ng-c3300527660="" class="govuk-body"><strong _ngcontent-ng-c3300527660="" id="id-at-risk">Yes</strong></span>
                    <p _ngcontent-ng-c3300527660="" class="govuk-body"><span _ngcontent-ng-c3300527660="" id="id-at-risk-since">Since 23 Apr 2024</span></p>
                </div>
            </div>
        </div>
    </div>
    <hr _ngcontent-ng-c3300527660="" class="details-separator" />
    <!----><!---->
</app-id-at-risk>