<app-benefits-summary _nghost-ng-c2786309421=""><!----></app-benefits-summary>

<table class="benefits-current-summary-table benefits-summary-table govuk-table"
    data-qa="account-benefits-current-summary" id="account-benefits-current-summary">
    <caption hidden="hidden" class="visible-hidden govuk-table__caption"
        id="account-benefits-table-caption-current"> Benefits table </caption>
    <thead class="govuk-table__head">
        <tr role="row" class="govuk-table__row benefits-summary-table-row">
            <th scope="col" role="columnheader"
                class="govuk-table__header benefit-start-date-column black-text current-benefit-start-date-column"
                id="benefit-start-date-column-current"><a role="button"
                    href="javascript://" aria-live="polite" style="text-decoration: none;"
                    data-qa="sort-by-start-date-current-benefits-summary"
                    aria-label="Sorts by benefit start date, currently sorted by this column descending"> Benefit start
                    date <i aria-hidden="true" class="fa fa-sort-desc"
                        data-qa="sort-by-start-date-current-benefits-summary-indicator"></i></a></th>
            <th aria-hidden="true" scope="col"
                class="govuk-table__header current-benefit-end-date-column black-text visible-hidden"> End Date </th>
            <!----><!---->
            <th scope="col"
                class="govuk-table__header benefit-name-column sl-font-bold govuk-!-width-one-half"
                id="benefit-name-column-current"><a role="button" href="javascript://"
                    aria-live="polite" style="text-decoration: none;"
                    data-qa="sort-by-benefit-name-current-benefits-summary"
                    aria-label="Sorts by benefit description, currently sorted by this column descending"> Benefit <i
                     aria-hidden="true" class="fa fa-sort"
                        data-qa="sort-by-benefit-name-current-benefits-summary-indicator"></i></a></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row benefits-summary-table-row">
            <td class="govuk-table__cell" data-qa="current-benefit-0-start-date"
                id="current-benefit-0-start-date"><span>16 Nov 2018</span></td>
            <td aria-hidden="true" class="visible-hidden govuk-table__cell"></td>
            <!----><!---->
            <td class="govuk-table__cell benefit-with-awards"
                data-qa="current-benefit-0-desc" id="current-benefit-0-desc">
                <div>
                    <div></div><app-benefit-summary-details><!----></app-benefit-summary-details>
                    <div class="govuk-grid-column-full benefit-summary-details-container">
                        <div class="govuk-grid-row benefit-summary-benefit-type"><span
                             class="benefit-name current-benefit-name"
                                data-qa="current-benefit-0-name">Jobseeker’s Allowance </span><span
                            >&nbsp;&nbsp;•&nbsp;&nbsp;</span><a
                             aria-label="View Jobseeker’s Allowance Details"
                                data-qa="view-current-benefit--0-details"
                                href="/citizen-info/account/view/d1bd05e8b3eb/benefit/33310608309135200">View benefit
                                details</a><!----><!----><!----></div><!---->
                        <div>
                            <div aria-label="Benefit Awards table" role="table"
                                class="govuk-grid-row benefit-award-table govuk-body">
                                <div role="row" class="govuk-grid-row">
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Award Start </div>
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Award End </div>
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Amount </div>
                                </div>
                                <hr aria-hidden="true" class="benefit-summary-hr">
                                <div role="row" class="govuk-grid-row last-row"
                                    data-qa="sl-current-benefit-0-award-0-row" id="sl-current-benefit-0-award-0-row">
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell sl-font last-row"
                                        data-qa="sl-current-benefit-0-award-0-start-date"
                                        id="sl-current-benefit-0-award-0-start-date"> 16 Nov 2018 </div>
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell sl-font last-row"
                                        data-qa="sl-current-benefit-0-award-0-end-date"
                                        id="sl-current-benefit-0-award-0-end-date"><!----> - <!----><!----></div>
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell sl-font last-row"
                                        data-qa="sl-current-benefit-0-award-0-award-amount"
                                        id="sl-current-benefit-0-award-0-award-amount"> £500.00 </div>
                                </div><!----><!----><!---->
                            </div><!---->
                        </div><!---->
                    </div><!---->
                </div>
            </td>
        </tr>
        <tr class="govuk-table__row benefits-summary-table-row">
            <td class="govuk-table__cell" data-qa="current-benefit-1-start-date"
                id="current-benefit-1-start-date"><span>16 Nov 2018</span></td>
            <td aria-hidden="true" class="visible-hidden govuk-table__cell"></td>
            <!----><!---->
            <td class="govuk-table__cell benefit-with-awards"
                data-qa="current-benefit-1-desc" id="current-benefit-1-desc">
                <div>
                    <div></div><app-benefit-summary-details><!----></app-benefit-summary-details>
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row benefit-summary-benefit-type"><span
                             class="benefit-name current-benefit-name"
                                data-qa="current-benefit-1-name">Jobseeker’s Allowance </span><span
                            >&nbsp;&nbsp;•&nbsp;&nbsp;</span><a
                             aria-label="View Jobseeker’s Allowance Details"
                                data-qa="view-current-benefit--1-details"
                                href="/citizen-info/account/view/d1bd05e8b3eb/benefit/53578985268122000">View benefit
                                details</a><!----><!----><!----></div>
                        <div class="govuk-grey govuk-grid-row"
                            data-qa="current-benefit-1-summary"> No current awards </div><!---->
                        <div>
                            <div aria-label="Benefit Awards table" role="table"
                                class="govuk-grid-row benefit-award-table govuk-body">
                                <div role="row" class="govuk-grid-row">
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Award Start </div>
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Award End </div>
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Amount </div>
                                </div>
                                <hr aria-hidden="true" class="benefit-summary-hr">
                                <div role="row" class="govuk-grid-row"
                                    data-qa="sl-current-benefit-1-award-0-row" id="sl-current-benefit-1-award-0-row">
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell"
                                        data-qa="sl-current-benefit-1-award-0-start-date"
                                        id="sl-current-benefit-1-award-0-start-date"> 10 Sep 2022 </div>
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell"
                                        data-qa="sl-current-benefit-1-award-0-end-date"
                                        id="sl-current-benefit-1-award-0-end-date"> 28 Sep 2022 <!----><!----><!---->
                                    </div>
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell"
                                        data-qa="sl-current-benefit-1-award-0-award-amount"
                                        id="sl-current-benefit-1-award-0-award-amount"> £1,300.00 </div>
                                </div><!----><!----><!----><!----><!----><!----><!---->
                            </div>
                            <div class="govuk-grid-row">
                                <hr aria-hidden="true" class="benefit-summary-hr">
                                <govuk-details role="group" class="benefit-awards-details"
                                    _nghost-ng-c3055480674=""
                                    aria-label=" Show previous awards for Jobseeker’s Allowance">
                                    <details _ngcontent-ng-c3055480674="" data-module="govuk-details"
                                        class="govuk-details" id="current-benefit-1-show-awards">
                                        <summary _ngcontent-ng-c3055480674="" class="govuk-details__summary"
                                            role="button"><span _ngcontent-ng-c3055480674=""
                                                class="govuk-details__summary-text"
                                                id="details-summary-current-benefit-1-show-awards"> Show previous awards
                                            </span></summary>
                                        <div _ngcontent-ng-c3055480674="" class="govuk-details__text hide-options"
                                            id="details-text-current-benefit-1-show-awards">
                                            <div data-qa="benefit-1-awards-table"
                                                id="benefit-1-awards-table"><!----></div>
                                        </div>
                                    </details>
                                </govuk-details>
                            </div><!---->
                        </div><!---->
                    </div><!---->
                </div>
            </td>
        </tr>
        <tr class="govuk-table__row benefits-summary-table-row">
            <td class="govuk-table__cell" data-qa="current-benefit-2-start-date"
                id="current-benefit-2-start-date"><span>16 Oct 2018</span></td>
            <td aria-hidden="true" class="visible-hidden govuk-table__cell"></td>
            <!----><!---->
            <td class="govuk-table__cell benefit-with-awards"
                data-qa="current-benefit-2-desc" id="current-benefit-2-desc">
                <div>
                    <div></div><app-benefit-summary-details><!----></app-benefit-summary-details>
                    <div class="govuk-grid-column-full">
                        <div class="govuk-grid-row benefit-summary-benefit-type"><span
                             class="benefit-name current-benefit-name"
                                data-qa="current-benefit-2-name">Employment And Support Allowance </span><span
                            >&nbsp;&nbsp;•&nbsp;&nbsp;</span><a
                             aria-label="View Employment And Support Allowance Details"
                                data-qa="view-current-benefit--2-details"
                                href="/citizen-info/account/view/d1bd05e8b3eb/benefit/11473596780620200">View benefit
                                details</a><!----><!----><!----></div><!---->
                        <div>
                            <div aria-label="Benefit Awards table" role="table"
                                class="govuk-grid-row benefit-award-table govuk-body">
                                <div role="row" class="govuk-grid-row">
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Award Start </div>
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Award End </div>
                                    <div role="columnheader"
                                        class="govuk-grid-column-one-third benefit-award-cell"> Amount </div>
                                </div>
                                <hr aria-hidden="true" class="benefit-summary-hr">
                                <div role="row" class="govuk-grid-row"
                                    data-qa="sl-current-benefit-2-award-0-row" id="sl-current-benefit-2-award-0-row">
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell sl-font"
                                        data-qa="sl-current-benefit-2-award-0-start-date"
                                        id="sl-current-benefit-2-award-0-start-date"> 01 Dec 2022 </div>
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell sl-font"
                                        data-qa="sl-current-benefit-2-award-0-end-date"
                                        id="sl-current-benefit-2-award-0-end-date"><!----> - <!----><!----></div>
                                    <div role="cell"
                                        class="govuk-grid-column-one-third benefit-award-cell sl-font"
                                        data-qa="sl-current-benefit-2-award-0-award-amount"
                                        id="sl-current-benefit-2-award-0-award-amount"> £430.00 </div>
                                </div><!----><!----><!----><!----><!----><!----><!---->
                            </div>
                            <div class="govuk-grid-row">
                                <hr aria-hidden="true" class="benefit-summary-hr">
                                <govuk-details role="group" class="benefit-awards-details"
                                    _nghost-ng-c3055480674=""
                                    aria-label=" Show previous awards for Employment And Support Allowance">
                                    <details _ngcontent-ng-c3055480674="" data-module="govuk-details"
                                        class="govuk-details" id="current-benefit-2-show-awards">
                                        <summary _ngcontent-ng-c3055480674="" class="govuk-details__summary"
                                            role="button"><span _ngcontent-ng-c3055480674=""
                                                class="govuk-details__summary-text"
                                                id="details-summary-current-benefit-2-show-awards"> Show previous awards
                                            </span></summary>
                                        <div _ngcontent-ng-c3055480674="" class="govuk-details__text hide-options"
                                            id="details-text-current-benefit-2-show-awards">
                                            <div data-qa="benefit-2-awards-table"
                                                id="benefit-2-awards-table"><!----></div>
                                        </div>
                                    </details>
                                </govuk-details>
                            </div><!---->
                        </div><!---->
                    </div><!---->
                </div>
            </td>
        </tr>

        <tr class="govuk-table__row benefits-summary-table-row table-last-row">
            <td class="govuk-table__cell benefits-payments-table-cell">
                <strong>Payments</strong>
            </td>
            <td aria-hidden="true" class="visible-hidden govuk-table__cell"></td>

            <td class="govuk-table__cell benefits-payments-table-cell">
                <p><a href="prototype-dev-baseline/mvp-1_2/benefit-payment">Next payments</strong></a></p>
                <p><a href="prototype-dev-baseline/mvp-1_2/payment-history">Payment history</strong></a></p>
            </td>
            <td aria-hidden="true" class="visible-hidden govuk-table__cell"></td>

            
        </tr><!---->
    </tbody>
</table>

<div class="govuk-body text-align-right govuk-!-margin-top-6">
    <a id="recover-deleted-awards-link"
        data-qa="recover-deleted-awards-link" class="govuk-link"
        href="/citizen-info/account/maintain/recover-deleted/awards?id=d1bd05e8b3eb"> Recover deleted awards </a>
</div>