<app-disability-status _ngcontent-ng-c1527080084="" _nghost-ng-c1848431076="">
    <div _ngcontent-ng-c1848431076="" class="govuk-grid-row acc-disability-row">
        <div _ngcontent-ng-c1848431076="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c1848431076="" class="govuk-body">Disability status</p></div>
        <div _ngcontent-ng-c1848431076="" class="govuk-grid-column-two-thirds">
            <div _ngcontent-ng-c1848431076="" class="govuk-grid-row govuk-body">
                <div _ngcontent-ng-c1848431076="" class="govuk-grid-column-one-third">
                    <span _ngcontent-ng-c1848431076="" class="govuk-body"><strong _ngcontent-ng-c1848431076="" id="disability-status"> Disabled </strong></span>
                </div>
                <div _ngcontent-ng-c1848431076="" class="govuk-grid-column--two-thirds">
                    <div _ngcontent-ng-c1848431076="" class="additional-data-links-container">
                        <app-view-maintenance _ngcontent-ng-c1848431076="" _nghost-ng-c311355542="">
                            <!---->
                            <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container">
                                <a
                                    _ngcontent-ng-c311355542=""
                                    href="#"
                                    aria-label="View disability-status maintenance, click then press tab for content"
                                    data-qa="maintenance-for-disability-status"
                                    id="maintenance-for-disability-status"
                                >
                                    View<!---->
                                    maintenance
                                </a>
                                <div _ngcontent-ng-c311355542="" tabindex="-1" id="disability-status-holding-area"></div>
                            </div>
                        </app-view-maintenance>
                        <!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr _ngcontent-ng-c1848431076="" class="disability-separator" />
    <!----><!---->
</app-disability-status>