
<app-date-of-birth _ngcontent-ng-c1527080084="" _nghost-ng-c1885076790="">
    <div _ngcontent-ng-c1885076790="" class="govuk-grid-row acc-dob-row">
        <div _ngcontent-ng-c1885076790="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c1885076790="" class="govuk-body">Date of birth</p></div>
        <div _ngcontent-ng-c1885076790="" class="govuk-grid-column-two-thirds">
            <div _ngcontent-ng-c1885076790="" class="govuk-grid-row govuk-body">
                <div _ngcontent-ng-c1885076790="" class="govuk-grid-column-one-third">
                    <span _ngcontent-ng-c1885076790="" class="govuk-body">
                        <strong _ngcontent-ng-c1885076790="" id="date-of-birth"> 25 Feb 2001 </strong><span _ngcontent-ng-c1885076790="" id="age-description">(age 24)</span>
                        <!---->
                    </span>
                    <p _ngcontent-ng-c1885076790="" class="govuk-body">
                        <em _ngcontent-ng-c1885076790="" class="fa fa-check-circle"></em><span _ngcontent-ng-c1885076790="" id="dob-verification-level-description" style="padding-left: 10px;">Verified to level 1</span>
                    </p>
                    <!---->
                </div>
                <div _ngcontent-ng-c1885076790="" class="govuk-grid-column--two-thirds">
                    <div _ngcontent-ng-c1885076790="" class="additional-data-links-container">
                        <app-view-maintenance _ngcontent-ng-c1885076790="" _nghost-ng-c311355542="">
                            <!---->
                            <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container">
                                <a _ngcontent-ng-c311355542="" href="#" aria-label="View date-of-birth maintenance, click then press tab for content" data-qa="maintenance-for-date-of-birth" id="maintenance-for-date-of-birth">
                                    View<!---->
                                    maintenance
                                </a>
                                <div _ngcontent-ng-c311355542="" tabindex="-1" id="date-of-birth-holding-area"></div>
                            </div>
                        </app-view-maintenance>
                        <!----><!----><!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr _ngcontent-ng-c1885076790="" class="details-separator" />
    <!----><!---->
</app-date-of-birth>