<div _ngcontent-ng-c1527080084="" id="nationality-immigration-container">
    <app-nationality _ngcontent-ng-c1527080084="" _nghost-ng-c4229350094="">
        <div _ngcontent-ng-c4229350094="" class="govuk-grid-row">
            <div _ngcontent-ng-c4229350094="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c4229350094="" class="govuk-body" data-qa="nationality-label">Nationality</p></div>
            <div _ngcontent-ng-c4229350094="" class="govuk-grid-column-two-thirds govuk-body">
                <div _ngcontent-ng-c4229350094="" class="immigration-data">
                    <div _ngcontent-ng-c4229350094="" class="govuk-grid-row nationality-row">
                        <div _ngcontent-ng-c4229350094="" class="govuk-grid-column-two-thirds nationality-description-row">
                            <strong _ngcontent-ng-c4229350094="" data-qa="nationality-0-description">British</strong>
                            <hr _ngcontent-ng-c4229350094="" class="nationality-row-separator" />
                        </div>
                        <div _ngcontent-ng-c4229350094="" class="govuk-grid-column-one-third">
                            <div _ngcontent-ng-c4229350094="" class="nationality-links-container" data-qa="nationality-0-links-container"><!----><!----><!----></div>
                        </div>
                    </div>
                    <div _ngcontent-ng-c4229350094="" class="govuk-grid-row nationality-row">
                        <div _ngcontent-ng-c4229350094="" class="govuk-grid-column-two-thirds">
                            <span _ngcontent-ng-c4229350094="" class="nationality-source-label" data-qa="nationality-0-source-label"> Source</span>
                            <span _ngcontent-ng-c4229350094="" class="nationality-source-value" data-qa="nationality-0-source-value">Unknown </span>
                            <!---->
                        </div>
                        <div _ngcontent-ng-c4229350094="" class="govuk-grid-column-one-third"></div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
        <hr _ngcontent-ng-c4229350094="" class="nationality-separator" />
        <!----><!---->
    </app-nationality>
    <app-immigration _ngcontent-ng-c1527080084="" _nghost-ng-c143205860="">
        <div _ngcontent-ng-c143205860="" class="govuk-grid-row">
            <div _ngcontent-ng-c143205860="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c143205860="" class="govuk-body" data-qa="immigration-label">Immigration status</p></div>
            <div _ngcontent-ng-c143205860="" class="govuk-grid-column-two-thirds govuk-body">
                <div _ngcontent-ng-c143205860="">
                    <div _ngcontent-ng-c143205860="" class="govuk-grid-row immigration-row">
                        <div _ngcontent-ng-c143205860="" class="govuk-grid-column-two-thirds immigration-description-row"><strong _ngcontent-ng-c143205860="" data-qa="immigration-0-description">Refugee</strong></div>
                        <div _ngcontent-ng-c143205860="" class="govuk-grid-column-one-third">
                            <div _ngcontent-ng-c143205860="" class="immigration-links-container" data-qa="immigration-0-links-container">
                                <app-view-maintenance _ngcontent-ng-c143205860="" _nghost-ng-c311355542="">
                                    <!---->
                                    <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container">
                                        <a _ngcontent-ng-c311355542="" href="#" aria-label="View immigration-0 maintenance, click then press tab for content" data-qa="maintenance-for-immigration-0" id="maintenance-for-immigration-0">
                                            View<!---->
                                            maintenance
                                        </a>
                                        <div _ngcontent-ng-c311355542="" tabindex="-1" id="immigration-0-holding-area"></div>
                                    </div>
                                </app-view-maintenance>
                                <!----><!----><!----><!---->
                            </div>
                        </div>
                    </div>
                    <!---->
                    <div _ngcontent-ng-c143205860="" class="govuk-grid-row immigration-row">
                        <div _ngcontent-ng-c143205860="" class="govuk-grid-column-two-thirds">
                            <span _ngcontent-ng-c143205860="" class="immigration-start-date-label" data-qa="immigration-0-start-date-label"> Start date</span>
                            <span _ngcontent-ng-c143205860="" class="immigration-field-value" data-qa="immigration-0-start-date-value">24 Apr 2024 </span>
                            <hr _ngcontent-ng-c143205860="" class="immigration-row-separator" />
                        </div>
                        <div _ngcontent-ng-c143205860="" class="govuk-grid-column-one-third"></div>
                    </div>
                    <!----><!---->
                    <div _ngcontent-ng-c143205860="" class="govuk-grid-row immigration-row">
                        <div _ngcontent-ng-c143205860="" class="govuk-grid-column-two-thirds">
                            <span _ngcontent-ng-c143205860="" class="immigration-reference-label" data-qa="immigration-0-reference-label"> Reference</span>
                            <span _ngcontent-ng-c143205860="" class="immigration-field-value" data-qa="immigration-0-reference-value">123456789 </span>
                            <!---->
                        </div>
                        <div _ngcontent-ng-c143205860="" class="govuk-grid-column-one-third"></div>
                    </div>
                    <!----><!----><!---->
                </div>
                <!---->
            </div>
        </div>
        <hr _ngcontent-ng-c143205860="" class="immigration-separator" />
        <!----><!---->
    </app-immigration>
    <!-- home office -->
</div>