<table class="govuk-table">
    <caption hidden="hidden" id="account-interests-table" class="visible-hidden govuk-table__caption"> Interests table
    </caption>
    <thead class="govuk-table__head">
        <tr role="row" class="govuk-table__row">
            <th scope="col" role="columnheader" class="govuk-table__header current-start-col"><a href="javascript://"
                    aria-live="polite" role="button" class="col-header" data-qa="sort-by-start-date-current"
                    aria-label="Sorts by start date, currently sorted by this column descending"> Start date <i
                        aria-hidden="true" data-qa="sort-by-start-date-current-indicator"
                        class="fa fa-sort-desc"></i></a></th>
            <th scope="col" role="columnheader" class="govuk-table__header current-interest-col"><a href="javascript://"
                    aria-live="polite" role="button" class="col-header" data-qa="sort-by-interest-current"
                    aria-label="Sorts by interest description, currently not sorted by this column"> Interest <i
                        aria-hidden="true" data-qa="sort-by-interest-current-indicator" class="fa fa-sort"></i></a></th>
            <td aria-hidden="true" class="govuk-table__header current-third-col"><br </td>
        </tr>
    </thead>

    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell"> 17 Sep 2024 </td>
            <td class="govuk-table__cell current-interest-cell"><span class="interest-service">Personal
                    Independence Payment</span><span data-qa="interest-item-description-0"
                    class="interest-type-system">System</span>
                <div class="govuk-body no-bottom-margin"><span class="govuk-grey">Interested parties:
                    </span><app-interested-parties _nghost-ng-c2590518032=""><!----><!----><a
                            _ngcontent-ng-c2590518032="" href="test" id="interested-parties-for-0"
                            data-qa="interested-parties-for-0">PIP and 1 more</a>
                        <div _ngcontent-ng-c2590518032="" tabindex="-1" id="0-holding-area"></div>
                    </app-interested-parties></div><!----><!---->
            </td>
            <td class="govuk-table__cell current-third-cell"><span style="float: right;"><app-view-maintenance
                        _nghost-ng-c311355542=""><!---->
                        <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container"><a
                                _ngcontent-ng-c311355542="" href="#"
                                aria-label="View current-interest-0 maintenance, click then press tab for content"
                                data-qa="maintenance-for-current-interest-0"
                                id="maintenance-for-current-interest-0">View<!----> maintenance</a>
                            <div _ngcontent-ng-c311355542="" tabindex="-1" id="current-interest-0-holding-area"></div>
                        </div>
                    </app-view-maintenance><!----></span></td>
        </tr>

        <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell"> 17 Sep 2024 </td>
            <td class="govuk-table__cell current-interest-cell"><span class="interest-service"
                    data-qa="servicekey-current-1">PIP - New
                    Service</span><span data-qa="interest-item-description-1" class="interest-type-system">System</span>
                <div class="govuk-body no-bottom-margin"><span class="govuk-grey">Interested parties:
                    </span><app-interested-parties _nghost-ng-c2590518032=""><!----><!----><a
                            _ngcontent-ng-c2590518032="" href="#" id="interested-parties-for-1"
                            data-qa="interested-parties-for-1">TREFOREST DWP HUB and 1 more</a>
                        <div _ngcontent-ng-c2590518032="" tabindex="-1" id="1-holding-area"></div>
                    </app-interested-parties></div><!----><!---->
            </td>
            <td class="govuk-table__cell current-third-cell"><span style="float: right;"><app-view-maintenance
                        _nghost-ng-c311355542=""><!---->
                        <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container"><a
                                _ngcontent-ng-c311355542="" href="#"
                                aria-label="View current-interest-1 maintenance, click then press tab for content"
                                data-qa="maintenance-for-current-interest-1"
                                id="maintenance-for-current-interest-1">View<!----> maintenance</a>
                            <div _ngcontent-ng-c311355542="" tabindex="-1" id="current-interest-1-holding-area"></div>
                        </div>
                    </app-view-maintenance><!----></span></td>
        </tr><!---->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell"> 27 Jun 2022 </td>
            <td class="govuk-table__cell current-interest-cell"><span class="interest-service"
                    data-qa="servicekey-current-2">Workmens
                    Compensation Scheme</span><span data-qa="interest-item-description-2"
                    class="interest-type-system">System</span>
                <div class="govuk-body no-bottom-margin"><span class="govuk-grey">Interested parties:
                    </span><app-interested-parties _nghost-ng-c2590518032=""><!----><!----><a
                            _ngcontent-ng-c2590518032="" href="#" id="interested-parties-for-2"
                            data-qa="interested-parties-for-2">DCI FRONTLINE SERVICES</a>
                        <div _ngcontent-ng-c2590518032="" tabindex="-1" id="2-holding-area"></div>
                    </app-interested-parties></div><!----><!---->
            </td>
            <td class="govuk-table__cell current-third-cell"><span style="float: right;"><app-view-maintenance
                        _nghost-ng-c311355542=""><!---->
                        <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container"><a
                                _ngcontent-ng-c311355542="" href="#"
                                aria-label="View current-interest-2 maintenance, click then press tab for content"
                                data-qa="maintenance-for-current-interest-2"
                                id="maintenance-for-current-interest-2">View<!----> maintenance</a>
                            <div _ngcontent-ng-c311355542="" tabindex="-1" id="current-interest-2-holding-area"></div>
                        </div>
                    </app-view-maintenance><!----></span></td>
        </tr><!---->

        <tr class="govuk-table__row">
            <td class="govuk-table__cell current-start-cell last-row-cell"> 16 Dec 2017
            </td>
            <td class="govuk-table__cell current-interest-cell last-row-cell"><span class="interest-service"
                    data-qa="servicekey-current-14">Incapacity
                    Benefit</span><span data-qa="interest-item-description-14"
                    class="interest-type-system">System</span><!---->
                <div class="govuk-body no-bottom-margin"><span class="govuk-grey"
                        data-qa="no-interested-parties-current-14">No interested parties</span></div>
                <!---->
            </td>
            <td class="govuk-table__cell current-third-cell last-row-cell"><span style="float: right;"><!----></span>
            </td>
        </tr><!---->
    </tbody>
</table>

<!-- Previous interests -->

<govuk-details _ngcontent-ng-c2117170526="" _nghost-ng-c3055480674="" data-qa="previous-interests">
    <details _ngcontent-ng-c3055480674="" data-module="govuk-details" class="govuk-details" id="previous-interests">
        <summary _ngcontent-ng-c3055480674="" class="govuk-details__summary" role="button"><span
                _ngcontent-ng-c3055480674="" class="govuk-details__summary-text"
                id="details-summary-previous-interests"> Show previous interests </span></summary>
        <div _ngcontent-ng-c3055480674="" class="govuk-details__text hide-options" id="details-text-previous-interests">
            <table _ngcontent-ng-c2117170526="" class="govuk-table">
                <thead _ngcontent-ng-c2117170526="" class="govuk-table__head">
                    <tr _ngcontent-ng-c2117170526="" class="govuk-table__row">
                        <th _ngcontent-ng-c2117170526="" scope="col" class="govuk-table__header previous-start-col"><a
                                _ngcontent-ng-c2117170526="" href="javascript://" aria-live="polite" role="button"
                                class="col-header" data-qa="sort-by-start-date-previous"
                                aria-label="Sorts by start date,currently sorted by this column descending"> Start date
                                <i _ngcontent-ng-c2117170526="" aria-hidden="true"
                                    data-qa="sort-by-start-date-previous-indicator" class="fa fa-sort-desc"></i></a>
                        </th>
                        <th _ngcontent-ng-c2117170526="" scope="col" class="govuk-table__header previous-end-col"><a
                                _ngcontent-ng-c2117170526="" href="javascript://" aria-live="polite" role="button"
                                class="col-header" data-qa="sort-by-end-date-previous"
                                aria-label="Sorts by end date, currently not sorted by this column"> End date <i
                                    _ngcontent-ng-c2117170526="" aria-hidden="true"
                                    data-qa="sort-by-end-date-previous-indicator" class="fa fa-sort"></i></a></th>
                        <th _ngcontent-ng-c2117170526="" scope="col" class="govuk-table__header current-interest-col"><a
                                _ngcontent-ng-c2117170526="" href="javascript://" aria-live="polite" role="button"
                                class="col-header" data-qa="sort-by-interest-previous"
                                aria-label="Sorts by interest description, currently not sorted by this column">
                                Interest <i _ngcontent-ng-c2117170526="" aria-hidden="true"
                                    data-qa="sort-by-interest-previous-indicator" class="fa fa-sort"></i></a></th>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__header current-third-col"><br
                                _ngcontent-ng-c2117170526=""></td>
                    </tr>
                </thead>
                <tbody _ngcontent-ng-c2117170526="" class="govuk-table__body">
                    <tr _ngcontent-ng-c2117170526="" class="govuk-table__row">
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-start-cell"> 29 Apr 2025
                        </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-end-cell"> 29 Apr 2025 </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-interest-cell"><span
                                _ngcontent-ng-c2117170526="" class="interest-service"
                                data-qa="servicekey-previous-0">Attendance Allowance</span><span
                                _ngcontent-ng-c2117170526="" data-qa="interest-item-description-0"
                                class="interest-type-crl">CRL</span>
                            <div _ngcontent-ng-c2117170526="" class="govuk-body no-bottom-margin"><span
                                    _ngcontent-ng-c2117170526="" class="govuk-grey">Interested parties:
                                </span><app-interested-parties _ngcontent-ng-c2117170526=""
                                    _nghost-ng-c2590518032=""><!----><!----><a _ngcontent-ng-c2590518032="" href="#"
                                        id="interested-parties-for-previous-0"
                                        data-qa="interested-parties-for-previous-0">NIRS2 TECHNICAL SUPPORT</a>
                                    <div _ngcontent-ng-c2590518032="" tabindex="-1" id="previous-0-holding-area"></div>
                                </app-interested-parties></div><!----><!---->
                        </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-third-cell"><span
                                _ngcontent-ng-c2117170526="" style="float: right;"><app-view-maintenance
                                    _ngcontent-ng-c2117170526="" _nghost-ng-c311355542=""><!---->
                                    <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container"><a
                                            _ngcontent-ng-c311355542="" href="#"
                                            aria-label="View previous-interest-0 maintenance, click then press tab for content"
                                            data-qa="maintenance-for-previous-interest-0"
                                            id="maintenance-for-previous-interest-0">View<!----> maintenance</a>
                                        <div _ngcontent-ng-c311355542="" tabindex="-1"
                                            id="previous-interest-0-holding-area"></div>
                                    </div>
                                </app-view-maintenance><!----></span></td>
                    </tr><!---->
                    <tr _ngcontent-ng-c2117170526="" class="govuk-table__row">
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-start-cell"> 22 May 2024
                        </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-end-cell"> 22 May 2024 </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-interest-cell"><span
                                _ngcontent-ng-c2117170526="" class="interest-service"
                                data-qa="servicekey-previous-1">Carers Credit</span><span _ngcontent-ng-c2117170526=""
                                data-qa="interest-item-description-1" class="interest-type-system">System</span>
                            <div _ngcontent-ng-c2117170526="" class="govuk-body no-bottom-margin"><span
                                    _ngcontent-ng-c2117170526="" class="govuk-grey">Interested parties:
                                </span><app-interested-parties _ngcontent-ng-c2117170526=""
                                    _nghost-ng-c2590518032=""><!----><!----><a _ngcontent-ng-c2590518032="" href="#"
                                        id="interested-parties-for-previous-1"
                                        data-qa="interested-parties-for-previous-1">NIRS2 TECHNICAL SUPPORT</a>
                                    <div _ngcontent-ng-c2590518032="" tabindex="-1" id="previous-1-holding-area"></div>
                                </app-interested-parties></div><!----><!---->
                        </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-third-cell"><span
                                _ngcontent-ng-c2117170526="" style="float: right;"><app-view-maintenance
                                    _ngcontent-ng-c2117170526="" _nghost-ng-c311355542=""><!---->
                                    <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container"><a
                                            _ngcontent-ng-c311355542="" href="#"
                                            aria-label="View previous-interest-1 maintenance, click then press tab for content"
                                            data-qa="maintenance-for-previous-interest-1"
                                            id="maintenance-for-previous-interest-1">View<!----> maintenance</a>
                                        <div _ngcontent-ng-c311355542="" tabindex="-1"
                                            id="previous-interest-1-holding-area"></div>
                                    </div>
                                </app-view-maintenance><!----></span></td>
                    </tr><!---->
                    <tr _ngcontent-ng-c2117170526="" class="govuk-table__row">
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-start-cell"> 27 Jun 2023
                        </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-end-cell"> 27 Jun 2023 </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-interest-cell"><span
                                _ngcontent-ng-c2117170526="" class="interest-service"
                                data-qa="servicekey-previous-2">Compensation Recovery Service</span><span
                                _ngcontent-ng-c2117170526="" data-qa="interest-item-description-2"
                                class="interest-type-system">System</span>
                            <div _ngcontent-ng-c2117170526="" class="govuk-body no-bottom-margin"><span
                                    _ngcontent-ng-c2117170526="" class="govuk-grey">Interested parties:
                                </span><app-interested-parties _ngcontent-ng-c2117170526=""
                                    _nghost-ng-c2590518032=""><!----><!----><a _ngcontent-ng-c2590518032="" href="#"
                                        id="interested-parties-for-previous-2"
                                        data-qa="interested-parties-for-previous-2">NIRS2 TECHNICAL SUPPORT</a>
                                    <div _ngcontent-ng-c2590518032="" tabindex="-1" id="previous-2-holding-area"></div>
                                </app-interested-parties></div><!----><!---->
                        </td>
                        <td _ngcontent-ng-c2117170526="" class="govuk-table__cell previous-third-cell"><span
                                _ngcontent-ng-c2117170526="" style="float: right;"><app-view-maintenance
                                    _ngcontent-ng-c2117170526="" _nghost-ng-c311355542=""><!---->
                                    <div _ngcontent-ng-c311355542="" class="view-maintenance-link-container"><a
                                            _ngcontent-ng-c311355542="" href="#"
                                            aria-label="View previous-interest-2 maintenance, click then press tab for content"
                                            data-qa="maintenance-for-previous-interest-2"
                                            id="maintenance-for-previous-interest-2">View<!----> maintenance</a>
                                        <div _ngcontent-ng-c311355542="" tabindex="-1"
                                            id="previous-interest-2-holding-area"></div>
                                    </div>
                                </app-view-maintenance><!----></span></td>
                    </tr><!---->
                    
                </tbody>
            </table>
        </div>
    </details>
</govuk-details>