<app-spoken-language _ngcontent-ng-c1527080084="" _nghost-ng-c943916441="">
    <div _ngcontent-ng-c943916441="" class="govuk-grid-row">
        <div _ngcontent-ng-c943916441="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c943916441="" class="govuk-body" data-qa="spoken-language-label">Spoken language</p></div>
        <div _ngcontent-ng-c943916441="" class="govuk-grid-column-one-third govuk-body"><strong _ngcontent-ng-c943916441="" data-qa="spoken-language-description">Welsh</strong></div>
        <div _ngcontent-ng-c943916441="" class="govuk-grid-column-one-third govuk-body spoken-language-links-container" data-qa="spoken-language-links-container"><!----></div>
    </div>
    <hr _ngcontent-ng-c943916441="" class="spoken-language-separator" />
    <!----><!---->
</app-spoken-language>