<app-preferred-language _ngcontent-ng-c1527080084="" _nghost-ng-c729789518="">
    <div _ngcontent-ng-c729789518="" class="govuk-grid-row">
        <div _ngcontent-ng-c729789518="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c729789518="" class="govuk-body" data-qa="preferred-language-label">Preferred language</p></div>
        <div _ngcontent-ng-c729789518="" class="govuk-grid-column-one-third govuk-body"><strong _ngcontent-ng-c729789518="" data-qa="preferred-language-description">English</strong></div>
        <div _ngcontent-ng-c729789518="" class="govuk-grid-column-one-third govuk-body preferred-language-links-container" data-qa="preferred-language-links-container"><!----></div>
    </div>
    <hr _ngcontent-ng-c729789518="" class="preferred-language-separator" />
    <!----><!---->
</app-preferred-language>