<app-special-needs _ngcontent-ng-c1527080084="">
    <div class="govuk-grid-row" data-qa="special-needs-container">
        <div class="govuk-grid-column-one-third"><p class="govuk-body" data-qa="special-needs-title">Additional needs</p></div>
        <div class="govuk-grid-column-one-third govuk-body">
            <div><strong data-qa="special-needs-0"> Sign language </strong></div>
            <div><strong data-qa="special-needs-1"> Relay UK/Typetalk/Textphone </strong></div>
            <div><strong data-qa="special-needs-2"> A ramp </strong></div>
            <div><strong data-qa="special-needs-3"> Sign language - hearing </strong></div>
            <div><strong data-qa="special-needs-4"> Paper </strong></div>
            <div><strong data-qa="special-needs-5"> Communications support </strong></div>
            <div><strong data-qa="special-needs-6"> Email as a reasonable adjustment </strong></div>
            <div><strong data-qa="special-needs-7"> An induction loop </strong></div>
            <div><strong data-qa="special-needs-8"> Large print </strong></div>
            <div><strong data-qa="special-needs-9"> Web accessible PDF </strong></div>
            <div><strong data-qa="special-needs-10"> A wide doorway </strong></div>
            <div><strong data-qa="special-needs-11"> Minicom difficulties </strong></div>
            <div><strong data-qa="special-needs-12"> A lift </strong></div>
            <div><strong data-qa="special-needs-13"> Audio forms </strong></div>
            <div><strong data-qa="special-needs-14"> Braille </strong></div>
            <!---->
        </div>
    </div>
    <!---->
    <hr style="height: 1px; background-color: lightgray; border: none;" />
    <!----><!---->
</app-special-needs>