<app-ni-number _ngcontent-ng-c1527080084="" _nghost-ng-c4076621108="">
    <div _ngcontent-ng-c4076621108="" class="govuk-grid-row ni-number-container" data-qa="ni-number-container">
        <div _ngcontent-ng-c4076621108="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c4076621108="" class="govuk-body" data-qa="ni-number-label">National Insurance number</p></div>
        <div _ngcontent-ng-c4076621108="" class="govuk-grid-column-one-third govuk-body">
            <div _ngcontent-ng-c4076621108="" class="ni-number-parts" data-qa="ni-number-parts">
                <strong _ngcontent-ng-c4076621108="">
                    <span _ngcontent-ng-c4076621108="">
                        <span _ngcontent-ng-c4076621108="" style="margin-right: 0.2em;">QQ</span><span _ngcontent-ng-c4076621108="" style="margin-right: 0.2em;">11</span>
                        <span _ngcontent-ng-c4076621108="" style="margin-right: 0.2em;">22</span><span _ngcontent-ng-c4076621108="" style="margin-right: 0.2em;">33</span><span _ngcontent-ng-c4076621108="">C</span>
                    </span>
                </strong>
            </div>
            <!---->
            <div _ngcontent-ng-c4076621108=""><!----></div>
        </div>
    </div>
    <!----><!----><!----><!----><!----><!----><!---->
    <hr _ngcontent-ng-c4076621108="" class="ni-separator" />
    <!----><!----><!---->
</app-ni-number>