<app-sex _ngcontent-ng-c1527080084="" _nghost-ng-c2791938251="">
    <div _ngcontent-ng-c2791938251="" class="govuk-grid-row">
        <div _ngcontent-ng-c2791938251="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c2791938251="" class="govuk-body">Sex</p></div>
        <div _ngcontent-ng-c2791938251="" class="govuk-grid-column-two-thirds">
            <div _ngcontent-ng-c2791938251="" class="govuk-grid-row govuk-body">
                <div _ngcontent-ng-c2791938251="" class="govuk-grid-column-one-third">
                    <span _ngcontent-ng-c2791938251="" class="govuk-body"><strong _ngcontent-ng-c2791938251="" id="sex">Male</strong></span>
                </div>
                <div _ngcontent-ng-c2791938251="" class="govuk-grid-column--two-thirds">
                    <div _ngcontent-ng-c2791938251="" class="additional-data-links-container"><!----><!----><!----></div>
                </div>
            </div>
        </div>
    </div>
    <hr _ngcontent-ng-c2791938251="" class="details-separator" />
    <!----><!---->
</app-sex>