<app-civil-status _ngcontent-ng-c1527080084="" _nghost-ng-c1975844993="">
    <div _ngcontent-ng-c1975844993="" class="govuk-grid-row" data-qa="civil-status-container">
        <div _ngcontent-ng-c1975844993="" class="govuk-grid-column-one-third"><p _ngcontent-ng-c1975844993="" class="govuk-body" data-qa="civil-status-title">Civil status</p></div>
        <div _ngcontent-ng-c1975844993="" class="govuk-grid-column-one-third govuk-body"><strong _ngcontent-ng-c1975844993="">Separated</strong></div>
    </div>
    <hr _ngcontent-ng-c1975844993="" class="civil-status-separator" />
    <!----><!---->
</app-civil-status>