{% extends "layout.html" %}

{% block pageTitle %}
  Add notes
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/opt1/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/prototype-dev-baseline/prototype-dev-QA/mvp-0_8/engagement-log-journey/outcome" method="post" novalidate>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="{{notesName}}">
                Add notes
              </label>
            </h1>
            <textarea class="govuk-textarea govuk-!-margin-bottom-3" id="{{notesName}}" name="{{notesName}}" rows="5" aria-describedby="more-detail-hint">{{notesValue}}</textarea>
            <div id="more-detail-hint" class="govuk-hint">
              You have 200 characters remaining
            </div>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
