{% extends "layout.html" %}

{% block pageTitle %}
What were the reasons for this call?
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/opt1/header-navigation_contactHistory-active.html" %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/opt1/keydetail-bar.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/phase-banner--user-research.html" %}
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../home-page.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Contact history</a>
      </li>
    </ol>
    </div>
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/prototype-dev-QA/common/footer.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Contact history</h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <!-- Tab button here -->
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#add-to-contact-history">
              Add to contact history
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#view-contact-history">
              View contact history
            </a>
          </li>
        </ul>
        <!-- Tab1 content start here -->
        <div class="govuk-tabs__panel" id="add-to-contact-history">
          <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

          <form action={{nextUrl}} method="post" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-fieldset__heading">
                    What were the reasons for this call?
                  </h2>
                </legend>
                <span class="govuk-caption-m govuk-!-margin-top-5">{{pageLength}}</span>
                <h3 class="govuk-heading-m">Employment and Support Allowance  (ESA)</h3>
                <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                  <!-- Payment enquiries -->
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          Payment
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="esa-payment-hint">
                          <div id="esa-payment-hint" class="govuk-hint">
                            Select all that apply.
                          </div>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-payment-1" name="esa-payment" type="checkbox" value="Next Payment Date">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-payment-1">
                                Next Payment Date
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-payment-2" name="esa-payment" type="checkbox" value="Next Payment Amount">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-payment-2">
                                Next Payment Amount
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-payment-3" name="esa-payment" type="checkbox" value="Missing Payment">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-payment-3">
                                Missing Payment
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <!-- Progress chasing enquiries -->
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          Progress chasing
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="esa-process-chasing-hint">
  
                          <div id="esa-process-chasing-hint" class="govuk-hint">
                            Select all that apply.
                          </div>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-process-chasing-1" name="esa-process-chasing" type="checkbox" value="New Claim">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-process-chasing-1">
                                New Claim
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-process-chasing-2" name="esa-process-chasing" type="checkbox" value="Claim Closure Contact">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-process-chasing-2">
                                Claim Closure Contact
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-process-chasing-3" name="esa-process-chasing" type="checkbox" value="Explanation">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-process-chasing-3">
                                Explanation
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-process-chasing-4" name="esa-process-chasing" type="checkbox" value="Appeal, Reconsideration, Supersessions, SOS">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-process-chasing-4">
                                Appeal, Reconsideration, Supersessions, SOS
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-process-chasing-5" name="esa-process-chasing" type="checkbox" value="Interventions - Planned (Award Reviews)">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-process-chasing-5">
                                Interventions - Planned (Award Reviews)
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-process-chasing-6" name="esa-process-chasing" type="checkbox" value="Interventions - Unplanned (CoC Reviews)">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-process-chasing-6">
                                Interventions - Unplanned (CoC Reviews)
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-process-chasing-7" name="esa-process-chasing" type="checkbox" value="Severe Disablement Premium (SDP)">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-process-chasing-7">
                                Severe Disablement Premium (SDP)
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <!-- Change of circumstances enquiries -->
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          Change of circumstances
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="esa-coc-hint">
  
                          <div id="esa-coc-hint" class="govuk-hint">
                            Select all that apply.
                          </div>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-1" name="esa-coc" type="checkbox" value="Special Accommodation Admission/Discharge">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-1">
                                Special Accommodation Admission/Discharge
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-2" name="esa-coc" type="checkbox" value="Change of Address">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-2">
                                Change of Address
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-3" name="esa-coc" type="checkbox" value="Change to Hospital Status">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-3">
                                Change to Hospital Status
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-4" name="esa-coc" type="checkbox" value="Savings and Investments">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-4">
                                Savings and Investments
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-5" name="esa-coc" type="checkbox" value="Change to Carer's Status">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-5">
                                Change to Carer’s Status
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-6" name="esa-coc" type="checkbox" value="Care Home Admission">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-6">
                                Care Home Admission
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-7" name="esa-coc" type="checkbox" value="Changes to Earnings">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-7">
                                Changes to Earnings
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-8" name="esa-coc" type="checkbox" value="Change to Bank Details">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-8">
                                Change to Bank Details
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-9" name="esa-coc" type="checkbox" value="Change to Family Unit">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-9">
                                Change to Family Unit
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-coc-10" name="esa-coc" type="checkbox" value="Change to Medical Condition">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-coc-10">
                                Change to Medical Condition
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <!-- Letter of Entitlement enquiries -->
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                          Letter of Entitlement
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="esa-loe-hint">
  
                          <div id="esa-loe-hint" class="govuk-hint">
                            Select all that apply.
                          </div>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-loe-1" name="esa-loe" type="checkbox" value="LoE Request">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-loe-1">
                                LoE Request
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                  <!--  General enquiries -->
                  <div class="govuk-accordion__section">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                          General
                        </span>
                      </h2>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="esa-general-hint">
  
                          <div id="esa-general-hint" class="govuk-hint">
                            Select all that apply.
                          </div>
                          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-general-1" name="esa-general" type="checkbox" value="Medical Evidence Enquiry">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-general-1">
                                Medical Evidence Enquiry
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-general-2" name="esa-general" type="checkbox" value="Jobcentre Appointment or Enquiry">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-general-2">
                                Jobcentre Appointment or Enquiry
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" id="esa-general-3" name="esa-general" type="checkbox" value="General Enquiry">
                              <label class="govuk-label govuk-checkboxes__label" for="esa-general-3">
                                General Enquiry
                              </label>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>
        </div>
      <!-- Tab2 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view-contact-history">
        <div id="showContactHistory-bydefault">
          <h2 class="govuk-heading-l">View contact history</h2>
          <!-- Filter section start here -->
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="show-filter-btn" onclick="showFilter()">
            Show filter
          </button>
          <button class="govuk-visually-hidden govuk-button govuk-button--secondary" data-module="govuk-button" id="hide-filter-btn" onclick="cancelFilter()">
            Hide filter
          </button>

        <!-- Filter section -->
        <form action="contact-history" method="post">
          <!-- both benefit and ate filter-->
          <div class="govuk-!-display-none govuk-!-margin-bottom-8" id="old-filter-design">
            <h3 class="govuk-heading-m">Filters</h3>
                <!-- filter by date range -->
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Date range</h3>
                  <div id="passport-issued-hint" class="govuk-hint">
                    Please select date range that is within last 12 months.
                  </div>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-third">
                      <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-from-hint">
                          <legend class="govuk-fieldset__legend">
                            From date
                          </legend>
                          <div id="date-range-from-hint" class="govuk-hint">
                            For example, 13 03 2023
                          </div>
                          <div class="govuk-date-input" id="from-date">
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-date-day">
                                      Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-day" name="from-date-day" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromDay}}">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-date-month">
                                      Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-month" name="from-date-month" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromMonth}}">
                              </div>
                            </div>
                            <div class="govuk-date-input__item">
                              <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="from-date-year">
                                      Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-year" name="from-date-year" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromYear}}">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                          <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-to-hint">
                              <legend class="govuk-fieldset__legend">
                                To date
                              </legend>
                              <div id="date-range-to-hint" class="govuk-hint">
                                For example, 22 04 2023
                              </div>
                              <div class="govuk-date-input" id="to-date">
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="to-date-day">
                                      Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-date-day" name="to-date-day" type="text" inputmode="numeric" autocomplete="on" value="{{data.toDay}}">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="to-date-month">
                                      Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-date-month" name="to-date-month" type="text" inputmode="numeric" autocomplete="on" value="{{data.toMonth}}">
                                  </div>
                                </div>
                                <div class="govuk-date-input__item">
                                  <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="to-date-year">
                                      Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-date-year" name="to-date-year" type="text" inputmode="numeric" autocomplete="on" value="{{data.toYear}}">
                                  </div>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              <!-- filter by Benefits -->
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Benefit
                      </legend>
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          {% if data.tableFilterEsa == true%}
                            <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                              Employment and Support Allowance
                            </label>
                          {% else %}
                            <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance">
                            <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                              Employment and Support Allowance
                            </label>
                          {% endif%}
                        </div>
                        <div class="govuk-checkboxes__item">
                          {% if data.tableFilterJa == true%}
                          <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="Carer's Allowance" checked="checked">
                          <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                            Carer's Allowance
                          </label>
                          {% else %}
                          <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="Carer's Allowance">
                          <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                            Carer's Allowance
                          </label>
                          {% endif%}
                        </div>
                        <div class="govuk-checkboxes__item">
                          {% if data.tableFilterPip == true%}
                          <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="Personal Independence Payment" checked="checked">
                          <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                            Personal Independence Payment
                          </label>
                          {% else %}
                          <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="Personal Independence Payment">
                          <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                            Personal Independence Payment
                          </label>
                          {% endif%}
                        </div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
                <!-- Apply filter button -->
              <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" id="apply-filter-btn" onclick="applyFilter()">
                  Apply filter
                </button>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="cancel-filter-link" onclick="cancelFilter()">
                  Clear filter
                </button>
              </div>
          </div>
        </form>

          <!-- data table -->
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date and time of call</th>
                <th scope="col" class="govuk-table__header">Type of call</th>
                <th scope="col" class="govuk-table__header ">Benefits discussed</th>
                <th scope="col" class="govuk-table__header">Type of enquiry </th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">Incoming telephone call</td>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell">Next payment amount</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="javascript:void(0);" class="govuk-link" onclick="showContactDetails();">View details</a></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">Incoming telephone call</td>
                <td class="govuk-table__cell">Personal Independence Payment</td>
                <td class="govuk-table__cell">Next payment date</td>
                <td class="govuk-table__cell"><strong class="govuk-tag">resolved</strong></td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="javascript:void(0);" class="govuk-link" onclick="showContactDetails();">View details</a></td>
              </tr>
            </tbody>
          </table>
          <!-- table pagination -->
          <nav class="moj-pagination" aria-label="Pagination navigation">
            <ul class="moj-pagination__list govuk-visually-hidden">
            <li class="moj-pagination__item  moj-pagination__item--prev">
              <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
            </li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>

            <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>

            <li class="moj-pagination__item moj-pagination__item--dots">…</li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>

            <li class="moj-pagination__item  moj-pagination__item--next">
              <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
            </li>
          </ul>
            <p class="moj-pagination__results">Showing <b>01</b> to <b>01</b> of <b>01</b> page</p>
          </nav>
        </div>
        <!-- contact details section -->
        <div class="govuk-visually-hidden" id="showCtDetails">
          <a class="govuk-back-link" href="javascript:void(0);" onclick="showContactHistory();">Back</a>
          <h1 class="govuk-!-width-two-thirds govuk-heading-l govuk-!-margin-top-6">Details about incoming telephone call on 17 October 2023</h1>
          <!-- call started at -->
          <div class="ovuk-!-width-full govuk-!-margin-bottom-6">
            <span class="govuk-caption-m">Started at</span>
            <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:03</h2>
          </div>
          <!-- Benefits discussed -->
          <div class="govuk-!-width-full govuk-!-margin-top-4 govuk-!-margin-bottom-8">
            <div class="colleague-view-upcomming-payment-benefit">
              <h2 class="govuk-heading-m">
                Benefits discussed
              </h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header ">Benefits</th>
                    <th scope="col" class="govuk-table__header">Type of enquiry</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Notes<span class="govuk-hint"> (optional)</span</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Employment and Support Allowance</td>
                    <td class="govuk-table__cell">Next payment date</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Employment and Support Allowance</td>
                    <td class="govuk-table__cell">Next payment amount</td>
                    <td class="govuk-table__cell">-</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Call and Agent information -->
          <div class="colleague-view-container-light-grey govuk-!-margin-bottom-4">
            <div class="govuk-grid-row"> 
              <div class="govuk-grid-column-one-third">
                <span class="govuk-caption-m">Caller</span>
                <div>
                  <span class="govuk-body govuk-!-font-weight-bold">Jane Doe (Appointee)</span>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <span class="govuk-caption-m">Call taken by</span>
                <div>
                  <span class="govuk-body govuk-!-font-weight-bold">Agent (1003)</span>
                </div>
              </div>
              <div class="govuk-grid-column-one-third">
                <span class="govuk-caption-m">Length of call</span>
                <div>
                  <span class="govuk-body govuk-!-font-weight-bold">15 Minutes</span>
                </div>
              </div>
            </div>
          </div>
          <!-- call ended at -->
          <div class="govuk-!-width-full">
            <span class="govuk-caption-m">Ended at</span>
            <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:18</h2>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>


<!-- logic for filter function -->

<script type="text/javascript">

function showFilter() {
// document.getElementById("demo").innerHTML = "Hello World";
// alert("Hello world");
var link = document.getElementById('filter-section');
var link2 = document.getElementById('show-filter-btn');
var esaTable = document.getElementById('table-ESA');
var hideFilterBtn = document.getElementById('hide-filter-btn');
var showOldFilter = document.getElementById('old-filter-design');
// alert("Hello world",link.className);
// link.style.display = 'block'; 
hideFilterBtn.classList.remove("govuk-!-display-none");
// link.classList.remove("govuk-!-display-none");
showOldFilter.classList.remove("govuk-!-display-none");
link2.classList.add("govuk-!-display-none");
esaTable.classList.add("govuk-!-display-none");
}
function hideFilter() {
var link2 = document.getElementById('show-filter-btn');
var esaTable = document.getElementById('table-ESA');
var hideFilterBtn = document.getElementById('hide-filter-btn');
var showOldFilter = document.getElementById('old-filter-design');
hideFilterBtn.classList.add("govuk-!-display-none");
showOldFilter.classList.add("govuk-!-display-none");
link2.classList.remove("govuk-!-display-none");
esaTable.classList.add("govuk-!-display-none");
}

function cancelFilter() {
var link = document.getElementById('filter-section');
var link2 = document.getElementById('show-filter-btn');
var hideFilterBtn = document.getElementById('hide-filter-btn');
var showOldFilter = document.getElementById('old-filter-design');
// var link4 = document.getElementById('apply-filter-btn');
link.classList.add("govuk-visually-hidden");
link2.classList.remove("govuk-visually-hidden");
hideFilterBtn.classList.add("govuk-visually-hidden");
showOldFilter.classList.add("govuk-visually-hidden");
}


function applyFilter() {

var link3 = document.getElementById('filter-selected');
// var link4 = document.getElementById('apply-filter-btn');
var link2 = document.getElementById('show-filter-btn');
var link5 = document.getElementById('filter-section'); 
var tableDefault = document.getElementById('default-table')
var esaTable = document.getElementById('table-ESA');
link3.classList.remove("govuk-visually-hidden");
link2.classList.remove("govuk-visually-hidden");
// link4.classList.add("govuk-visually-hidden");
link5.classList.add("govuk-visually-hidden");
tableDefault.classList.add("govuk-visually-hidden");
esaTable.classList.remove("govuk-visually-hidden");
}

function clearFilter() {
var link3 = document.getElementById('filter-selected');
var esaTable = document.getElementById('table-ESA');
var tableDefault = document.getElementById('default-table')
// var link4 = document.getElementById('apply-filter-btn');
link3.classList.add("govuk-visually-hidden");
tableDefault.classList.remove("govuk-visually-hidden");
esaTable.classList.add("govuk-visually-hidden");
link.classList.remove("govuk-visually-hidden");

}

// show contact details section
function showContactDetails() {
var showContactDetails = document.getElementById('showCtDetails');
var defaultContactHistory = document.getElementById('showContactHistory-bydefault');
defaultContactHistory.classList.add("govuk-visually-hidden");
showContactDetails.classList.remove("govuk-visually-hidden");

}
function showContactHistory() {
var showContactDetails = document.getElementById('showCtDetails');
var defaultContactHistory = document.getElementById('showContactHistory-bydefault');
defaultContactHistory.classList.remove("govuk-visually-hidden");
showContactDetails.classList.add("govuk-visually-hidden");

}
</script>

{% endblock %}
