{% extends "layout.html" %}
{% block pageTitle %}
  Which benefit did you discuss with the caller?
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/header.html" %}
  {% include "prototype-dev-baseline/common/opt2/different-type-contact-user/keydetail-bar-start-new-session.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- new design journey code -->
    <form action="/prototype-sprint-wise/sprint23/opt2/call-log-journey/selectQuestion" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which benefit did you discuss with the caller?
            </h1>
          </legend>
          <div id="changedName-hint" class="govuk-hint">
            If you discussed more than one, you can add more later.
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="EAS" name="What-services-have-they-called-about" type="radio" value="Employment and Support Allowance (ESA)" {{ checked('What-services-have-they-called-about', 'Employment and Support Allowance (ESA)') }} >
              <label class="govuk-label govuk-radios__label" for="EAS">
                Employment and Support Allowance (ESA)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="PIP" name="What-services-have-they-called-about" type="radio" value="Personal Independence Payment (PIP)" {{ checked('What-services-have-they-called-about', 'Personal Independence Payment (PIP)') }}>
              <label class="govuk-label govuk-radios__label" for="PIP">
                Personal Independence Payment (PIP)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="CA" name="What-services-have-they-called-about" type="radio" value="Carer's Allowance (CA)" {{ checked('What-services-have-they-called-about', "Carer's Allowance (CA)") }} >
              <label class="govuk-label govuk-radios__label" for="CA">
                Carer's Allowance (CA)
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit_notDiscussed" name="What-services-have-they-called-about" type="radio" value="A different benefit" {{ checked('What-services-have-they-called-about', 'A different benefit') }} >
              <label class="govuk-label govuk-radios__label" for="benefit_notDiscussed">
                A different benefit, or we did not discuss a benefit
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>
  </div>
</div>


{% endblock %}
