{% extends "layout.html" %}

{% block pageTitle %}
  Did you discuss anything else with the caller?
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="../selectBenefit" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Did you discuss anything else with the caller?
                </h1>
              </legend>
              <div id="changedName-hint" class="govuk-hint">
                Select one option.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="uHappy_discussAnthingElse-yes" name="unHappy_discussAnthingElse" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="uHappy_discussAnthingElse-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="uHappy_discussAnthingElse-no" name="unHappy_discussAnthingElse" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="uHappy_discussAnthingElse-no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
