{% extends "layout.html" %}

{% block pageTitle %}
Benefit payments
{% endblock %}


{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/header.html" %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/view-only/keydetail-bar" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/phase-banner.html" %}
  <a href="benefit-payment.html" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-xl">Payment history</h1>
  </div>
  <div class="govuk-grid-column-one-half govuk-!-text-align-right">
    <form action="/prototype-dev-baseline/mvp-1_2/index" method="post">
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Start service again
        </button>
    </form>
  </div>
</div>
<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
  <!-- MOJ filter -->
  <div class="moj-filter cv-filter">
    <div class="moj-filter__header">
      <div class="moj-filter__header-title">
        <h2 class="govuk-heading-m">Filter payment</h2>
      </div>
      <div class="moj-filter__header-action">
      </div>
    </div>
    <div class="moj-filter__content">
      <!-- selected filters -->
      {% set benefits =  data['benefit'] | length %}
      {% if benefits >= 1 %}
      <hr class="govuk-section-break govuk-section-break--visible">
      <div class="moj-filter__selected" style="box-shadow: none;">
        <div class="moj-filter__selected-heading">
          <div class="moj-filter__heading-title">
            <h3 class="govuk-heading-s">Selected filters</h3>
          </div>
          <div class="moj-filter__heading-action">
            <p><a class="govuk-link govuk-link--no-visited-state" href="payment-history.html">Clear filters</a></p>
          </div>
        </div>
        <ul class="moj-filter-tags">
          {%for benefitName in data['benefit']%}
          <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> {{ benefitName }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <hr class="govuk-section-break govuk-section-break--visible">
      {%endif%}
      <!-- filter options -->
      <div class="moj-filter__options">
        <form action="payment-history" method="post">
          <!-- filter by benefits -->
          <div class="govuk-form-group govuk-!-margin-bottom-5">
            <!-- {% set benefitName = data['benefit'] %} -->
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Benefit
              </legend> 
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="ESA" {{ checked ('benefit', 'CA') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                    Employment and Support Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="CA" {{ checked ('benefit', 'CA') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                    Carer's Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="PIP" {{ checked ('benefit', 'PIP') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                    Personal Independence Payment
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button govuk-!-margin-bottom-2" data-module="govuk-button" id="apply-filter-btn">
            Apply filters
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="govuk-grid-column-two-thirds">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">25 results</h2>
  <p class="govuk-body govuk-!-margin-bottom-6">
    Sorted by:
    <span class="govuk-!-font-weight-bold">Date</span>
  </p>
  <!-- selected filters -->
  <!-- {% set benefits =  data['benefit'] | length %}
  {% if benefits >= 1 %}
  <div class="moj-filter__selected">
    <div class="moj-filter__selected-heading">
      <div class="moj-filter__heading-title">
        <h3 class="govuk-heading-s">Selected filters</h3>
      </div>
      <div class="moj-filter__heading-action">
        <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
      </div>
    </div>
    <ul class="moj-filter-tags">
      {%for benefitName in data['benefit']%}
      <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> {{ benefitName }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {%endif%} -->
<!-- selected filter end here -->

  {% if data['paymentTableData'].length > 0%}
  <div id="default-table">          
    <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Benefit</th>
        <th scope="col" class="govuk-table__header">Due date</th>
        <th scope="col" class="govuk-table__header ">Status</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Award</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deduction</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for item in data['paymentTableData'] %}
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">{{item.benefit}}</th>
        <td class="govuk-table__cell">{{item.dueData}}</td>
        <td class="govuk-table__cell">{{item.status}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{item.award}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{item.deduction}}</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">{{item.amount}}</td>
      </tr>
      {%endfor%}
    </tbody>
    </table>
  </div>
{% else %}
<div id="default-table">          
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Benefit</th>
        <th scope="col" class="govuk-table__header">Due date</th>
        <th scope="col" class="govuk-table__header ">Status</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Award</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deduction</th>
        <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
        <td class="govuk-table__cell">01 August 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
        <td class="govuk-table__cell">18 July 2023</td>
        <td class="govuk-table__cell">Not issued yet</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Carer Allowance</th>
        <td class="govuk-table__cell">21 July 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
        <td class="govuk-table__cell">14 July 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£479.00</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
        <td class="govuk-table__cell">04 July 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£377.23</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£368.26</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
        <td class="govuk-table__cell">20 June 2023</td>
        <td class="govuk-table__cell">Cancelled</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Carer Allowance</th>
        <td class="govuk-table__cell">23 June 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
        <td class="govuk-table__cell">14 June 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£479.80</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
        <td class="govuk-table__cell">06 June 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
        <td class="govuk-table__cell">12 May 2023</td>
        <td class="govuk-table__cell">Issued</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£40.00</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">£519.00</td>
      </tr>
    </tbody>
  </table>
</div>
{%endif%}
<nav class="moj-pagination" aria-label="Pagination navigation" role="navigation">
  <ul class="moj-pagination__list">
    <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
    </li> -->
    <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1" aria-current="page">1</a></li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2">2</a></li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3">3</a></li>

    <li class="moj-pagination__item moj-pagination__item--dots">…</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 5">5</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
    </li>
  </ul>
  <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>60</b> results</p>
</nav>
</div>
</div>


  <!-- logic for filter function -->
  <script type="text/javascript">
    function showFilter() {
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var hdFilter = document.getElementById('hide-filter-btn');
      var esaTable = document.getElementById('table-ESA');
      var caTable = document.getElementById('table-CA');
      var pipTable = document.getElementById('table-PIP');
      link.classList.remove("govuk-visually-hidden");
      link2.classList.add("govuk-visually-hidden");
      hdFilter.classList.remove("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
      document.getElementById("filter-1").checked = false;
      document.getElementById("filter-2").checked = false;
      document.getElementById("filter-3").checked = false;
    }
    function cancelFilter() {
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var hdFilter = document.getElementById('hide-filter-btn');
      link.classList.add("govuk-visually-hidden");
      hdFilter.classList.add("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
      document.getElementById("filter-1").checked = false;
      document.getElementById("filter-2").checked = false;
      document.getElementById("filter-3").checked = false;
    }
    function applyFilter() {
      var link3 = document.getElementById('filter-selected');
      var link2 = document.getElementById('show-filter-btn');
      var link5 = document.getElementById('filter-section'); 
      var tableDefault = document.getElementById('default-table')
      var esaTable = document.getElementById('table-ESA');
      var caTable = document.getElementById('table-CA');
      var pipTable = document.getElementById('table-PIP');
      // link3.classList.remove("govuk-visually-hidden");
      if (document.getElementById("filter-1").checked == true) {
        // link3.classList.remove("govuk-visually-hidden");
        link2.classList.remove("govuk-visually-hidden");
        link5.classList.add("govuk-visually-hidden");
        tableDefault.classList.add("govuk-visually-hidden");
        esaTable.classList.remove("govuk-visually-hidden");
        caTable.classList.add("govuk-visually-hidden");
        pipTable.classList.add("govuk-visually-hidden");
      }
      else if (document.getElementById("filter-2").checked == true) {
        // link3.classList.remove("govuk-visually-hidden");
        link2.classList.remove("govuk-visually-hidden");
        // link4.classList.add("govuk-visually-hidden");
        link5.classList.add("govuk-visually-hidden");
        tableDefault.classList.add("govuk-visually-hidden");
        caTable.classList.remove("govuk-visually-hidden");
        esaTable.classList.add("govuk-visually-hidden");
        pipTable.classList.add("govuk-visually-hidden");
    } else if (document.getElementById("filter-3").checked == true) {
        // link3.classList.remove("govuk-visually-hidden");
        link2.classList.remove("govuk-visually-hidden");
        // link4.classList.add("govuk-visually-hidden");
        link5.classList.add("govuk-visually-hidden");
        tableDefault.classList.add("govuk-visually-hidden");
        pipTable.classList.remove("govuk-visually-hidden");
        esaTable.classList.add("govuk-visually-hidden");
        caTable.classList.add("govuk-visually-hidden");
    } else if (document.getElementsByName("benefit") != '') {
       link3.classList.remove("govuk-visually-hidden");
    }
  }
    function clearFilter() {
      var link3 = document.getElementById('filter-selected');
      var esaTable = document.getElementById('table-ESA');
      var caTable = document.getElementById('table-CA');
      var pipTable = document.getElementById('table-PIP');
      var tableDefault = document.getElementById('default-table');
      var hdFilter = document.getElementById('hide-filter-btn');
      link3.classList.add("govuk-visually-hidden");
      tableDefault.classList.remove("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
      caTable.classList.add("govuk-visually-hidden");
      pipTable.classList.add("govuk-visually-hidden");
      link.classList.remove("govuk-visually-hidden");
      hdFilter.classList.add("govuk-visually-hidden");
      document.getElementById("filter-1").checked = false;
      document.getElementById("filter-2").checked = false;
      document.getElementById("filter-3").checked = false;
      
    }
  </script>


{% endblock %}
