{% extends "layout.html" %}

{% block pageTitle %}
Check the details you have added
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-10/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Step 3 of 3</span>
    <h1 class="govuk-heading-l">Check the details you have added</h1>
    {% set benefits =  data['what-benefit-discussed'] %}
    {% set benefitLength =  data['what-benefit-discussed'] | length %}
    
    {% if benefitLength >1 %}
    <!-- CA Summary card -->
    <div class="govuk-summary-card govuk-visually-hidden {{isCACard}}">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Carer's Allowance</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="benefits-discussed.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Questions asked
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for benefit in data['questionAsk-ca'] %}
                  <li>{{ benefit }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="ca-questions-asked.html">
                  Change
                <span class="govuk-visually-hidden">questions that the caller asked</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isNpdCA}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third"> Was the next payment date question resolved?</th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpdResolvedCA}}">
                  {{ data['npd_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered-ca.html">
                Change
                <span class="govuk-visually-hidden">the outcome of the next payment date question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isNpaCA}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the next payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpaResolvedCA}}">
                  {{ data['npa_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered-ca.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the next payment amount question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isMpCA}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the missing payment question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isMaRresolvedCA}}">
                  {{ data['ma_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered-ca.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the missing payment question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isRfchCA}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the change in payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isRfchRresolvedCA}}">
                  {{ data['chpa_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered-ca.html">
                  Change<span class="govuk-visually-hidden"> the outcome of the change in payment amount question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isOthQCA}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the other question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isOthQresolvedCA}}">
                  {{ data['othQ_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered-ca.html">
                  Change<span class="govuk-visually-hidden"> the other question</span>
                </a>
              </td>
            </tr>
            <tr class="govuk-summary-list__row {{isSECA}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was something else question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isSERresolvedCA}}">
                  {{ data['smelse_wasQuestionResolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered-ca.html">
                  Change
                <span class="govuk-visually-hidden"> table data</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Benefit discussed -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Benefits discussed</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="what-benefits-discussed.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Benefit name
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for benefit in data['what-benefit-discussed'] %}
                  <li>{{ benefit }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- question asked -->
    <div class="govuk-summary-card">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">What the call was about</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="questions-asked.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">
                Employment and Support Allowance
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsESA in data['questionAsk-esa'] %}
                  <li>{{ questionsESA or "No inquiry selected"}}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">
                Personal Independence Payment
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsPIP in data['questionAsk-pip'] %}
                  <li>{{ questionsPIP }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">
               Note
              </th>
              <td class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}

    {%if (benefitLength == 1) and ( benefits != 'No benefit') %}
        <!-- custom summary card -->
    <!-- Benefit discussed -->
    <div class="govuk-summary-card">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Benefit discussed</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="what-benefits-discussed.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Benefit name
              </th>
              <td class="govuk-summary-list__value">
                {{benefits}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- question asked -->
    <div class="govuk-summary-card">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">What the call was about</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="questions-asked.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                {{ benefits }} 
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for questions in data['question-asked'] %}
                  <li>{{ questions }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">
                Note
              </th>
              <td class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
        <!-- custom summary card -->
    <!-- Benefit discussed -->
    <div class="govuk-summary-card">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Benefits</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="what-benefits-discussed.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third govuk-!-display-none">
                Benefit name
              </th>
              <td class="govuk-summary-list__value">
                {{benefits}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- question asked -->
    <div class="govuk-summary-card">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Notes</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="no-benefit.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-display-none">
                Note
              </th>
              <td class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% endif %} 
    <!-- Note added -->
   <!-- warning message -->
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        When you select confirm, you will not be able to remove the benefits you have added. 
      </strong>
    </div>
    <form action="added-details" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Confirm
      </button>
    </form>
  </div>
</div>
{% endblock %}
