{% extends "layout.html" %}

{% block pageTitle %}
You have added details about this call
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/non-telephony/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% set contactType =  data['What-type-of-contact'] %}
    {% set benefits =  data['what-benefit-discussed-non-telephony'] %}
    {% set questionESA = data['questionAsk-esa'] %}
    {% set questionPIP = data['questionAsk-pip'] %}
    {% set benefitLength =  data['what-benefit-discussed-non-telephony'] | length %}
       
    <!-- ------------------------------ for letter ------------------------------ -->
    {% if data['contact-types']== 'A letter' %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
           Letter record has been saved successfully.
          </h3>
        </div>
      </div>
      <h1 class="govuk-heading-l">You have added details about this letter</h1>
      {% if benefitLength >1 %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Letter details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% for benefitsName in data['what-benefit-discussed-non-telephony'] %}
              
            <!-- for ESA -->
              {% if benefitsName == 'Employment and Support Allowance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employment and Support Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-esa'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsESA in data['contact-type-esa'] %}
                    <li>{{ questionsESA or "No inquiry selected"}}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                <p>{{data['contact-type-esa']}}</p>
                {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for pip -->
              {% if benefitsName == 'Personal Independence Payment' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Personal Independence Payment
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-pip'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsPIP in data['contact-type-pip'] %}
                    <li>{{ questionsPIP }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-pip']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for aa -->
              {% if benefitsName == 'Attendance Allowance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendance Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-aa'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsAA in data['contact-type-aa'] %}
                    <li>{{ questionsAA }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-aa']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for ca -->
              {% if benefitsName == "Carer's Allowance" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Carer's Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-ca'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsCA in data['contact-type-ca'] %}
                    <li>{{ questionsCA }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-ca']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for dla -->
              {% if benefitsName == 'Disability Living Allowance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['dla-type'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-dla'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsDLA in data['contact-type-dla'] %}
                    <li>{{ questionsDLA }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-dla']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for General CoC -->
              {% if benefitsName == 'General change of circumstance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  General change of circumstance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-gCoC'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsgCoC in data['contact-type-gCoC'] %}
                      <li>{{ questionsgCoC }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-gCoC']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}
            {% endfor %}
              <!-- Note added -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes added
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {%else%}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Letter details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {%if data['what-benefit-discussed-non-telephony']== "Disability Living Allowance" %}
                {{ data['dla-type'] }}
                {%else%}
                {{ data['what-benefit-discussed-non-telephony'] }}
                {%endif%}
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for contactTopics in data['contact-type'] %}
                  <li>{{ contactTopics }}</li>
                  {% endfor %}
                </ul>
                {%else%}
                  <p>{{data['contact-type']}}</p>
                {%endif%}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-display-none">
                <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes added
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {%endif%}

      <!-- Ask to complete session -->
      <form class="form govuk-!-margin-top-9" action="complete-contact" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do you want to start the service again or continue working on this letter?
            </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-contact" type="radio" value="Start Service again">
                <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                  Start Service again
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-contact" type="radio" value="back to home page">
                <label class="govuk-label govuk-radios__label" for="complete-the-call">
                  Continue working on this letter
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    {%endif%}
    <!-- ------------------------------ for Email ------------------------------ -->
    {% if data['contact-types']== 'An email' %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
         Email record has been saved successfully.
        </h3>
      </div>
    </div>
    <h1 class="govuk-heading-l">You have added details about this email</h1>
    {% if benefitLength >1 %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Email details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% for benefitsName in data['what-benefit-discussed-non-telephony'] %}
            
          <!-- for ESA -->
            {% if benefitsName == 'Employment and Support Allowance' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employment and Support Allowance
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type-esa'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsESA in data['contact-type-esa'] %}
                  <li>{{ questionsESA or "No inquiry selected"}}</li>
                  {% endfor %}
                </ul>
              {%else%}
              <p>{{data['contact-type-esa']}}</p>
              {%endif%}
              </dd>
            </div>
            {%endif%}

            <!-- for pip -->
            {% if benefitsName == 'Personal Independence Payment' or benefitsName == 'Attendance Allowance' or benefitsName == 'dla' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Personal Independence Payment
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type-pip'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsPIP in data['contact-type-pip'] %}
                  <li>{{ questionsPIP }}</li>
                  {% endfor %}
                </ul>
              {%else%}
                <p>{{data['contact-type-pip']}}</p>
                {%endif%}
              </dd>
            </div>
            {%endif%}

            <!-- for General CoC -->
            {% if benefitsName == 'General change of circumstance' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                General change of circumstance
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type-gCoC'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsgCoC in data['contact-type-gCoC'] %}
                    <li>{{ questionsgCoC }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-gCoC']}}</p>
                {%endif%}
              </dd>
            </div>
            {%endif%}
          {% endfor %}
            <!-- Note added -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notes added
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addNote'] or "Not provided" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {%else%}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Email details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {%if data['what-benefit-discussed-non-telephony']== "Disability Living Allowance" %}
              {{ data['dla-type'] }}
              {%else%}
              {{ data['what-benefit-discussed-non-telephony'] }}
              {%endif%}
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['contact-type'] | length > 1 %}
              <ul class="govuk-list govuk-list--bullet">
                {% for contactTopics in data['contact-type'] %}
                <li>{{ contactTopics }}</li>
                {% endfor %}
              </ul>
              {%else%}
                <p>{{data['contact-type']}}</p>
              {%endif%}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-display-none">
              <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notes added
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addNote'] or "Not provided" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {%endif%}

    <!-- Ask to complete session -->
    <form class="form govuk-!-margin-top-9" action="complete-contact" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Do you want to start the service again or continue working on this email?
          </h2>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-contact" type="radio" value="Start Service again">
              <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                Start Service again
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-contact" type="radio" value="back to home page">
              <label class="govuk-label govuk-radios__label" for="complete-the-call">
                Continue working on this email
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    {%endif%}

    <!-- ------------------------------ for Notification ------------------------------ -->
    {% if data['contact-types']== 'Text message to' %} 
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
         Text message record has been saved successfully.
        </h3>
      </div>
    </div>
    <h1 class="govuk-heading-l">You have added details about this text message</h1>
    {% if benefitLength >1 %}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Text message details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          {% for benefitsName in data['what-benefit-discussed-non-telephony'] %}
            
          <!-- for ESA -->
            {% if benefitsName == 'Employment and Support Allowance' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Employment and Support Allowance
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type-esa'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsESA in data['contact-type-esa'] %}
                  <li>{{ questionsESA or "No inquiry selected"}}</li>
                  {% endfor %}
                </ul>
              {%else%}
              <p>{{data['contact-type-esa']}}</p>
              {%endif%}
              </dd>
            </div>
            {%endif%}

            <!-- for pip -->
            {% if benefitsName == 'Personal Independence Payment' or benefitsName == 'Attendance Allowance' or benefitsName == 'dla' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Personal Independence Payment
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type-pip'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsPIP in data['contact-type-pip'] %}
                  <li>{{ questionsPIP }}</li>
                  {% endfor %}
                </ul>
              {%else%}
                <p>{{data['contact-type-pip']}}</p>
                {%endif%}
              </dd>
            </div>
            {%endif%}

            <!-- for General CoC -->
            {% if benefitsName == 'General change of circumstance' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                General change of circumstance
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type-gCoC'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsgCoC in data['contact-type-gCoC'] %}
                    <li>{{ questionsgCoC }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-gCoC']}}</p>
                {%endif%}
              </dd>
            </div>
            {%endif%}
          {% endfor %}
            <!-- Note added -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notes added
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addNote'] or "Not provided" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {%else%}
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Text message details
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {%if data['what-benefit-discussed-non-telephony']== "Disability Living Allowance" %}
              {{ data['dla-type'] }}
              {%else%}
              {{ data['what-benefit-discussed-non-telephony'] }}
              {%endif%}
            </dt>
            <dd class="govuk-summary-list__value">
              {%if data['contact-type'] | length > 1 %}
              <ul class="govuk-list govuk-list--bullet">
                {% for contactTopics in data['contact-type'] %}
                <li>{{ contactTopics }}</li>
                {% endfor %}
              </ul>
              {%else%}
                <p>{{data['contact-type']}}</p>
              {%endif%}
            </dd>
            <dd class="govuk-summary-list__actions govuk-!-display-none">
              <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Notes added
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['addNote'] or "Not provided" }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    {%endif%}

    <!-- Ask to complete session -->
    <form class="form govuk-!-margin-top-9" action="complete-contact" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Do you want to start the service again or continue working on this text message?
          </h2>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-contact" type="radio" value="Start Service again">
              <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                Start Service again
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-contact" type="radio" value="back to home page">
              <label class="govuk-label govuk-radios__label" for="complete-the-call">
                Continue working on this message
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    {%endif%}

    <!-- ------------------------------ for Face to face converstaion ------------------------------ -->
    {% if data['contact-types']== 'A visit or appointment' %}
      <!-- Inbound conversation at a DWP office or Jobcentre -->
      {% if data['What-type-of-contact']== 'Visit from' %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Visit record has been saved successfully.
          </h3>
        </div>
      </div>
      <h1 class="govuk-heading-l">You have added details about this visit</h1>
      {% if benefitLength >1 %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Visit details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% for benefitsName in data['what-benefit-discussed-non-telephony'] %}
              
            <!-- for ESA -->
              {% if benefitsName == 'Employment and Support Allowance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employment and Support Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-esa'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsESA in data['contact-type-esa'] %}
                    <li>{{ questionsESA or "No inquiry selected"}}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                <p>{{data['contact-type-esa']}}</p>
                {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for pip -->
              {% if benefitsName == 'Personal Independence Payment' or benefitsName == 'Attendance Allowance' or benefitsName == 'dla' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Personal Independence Payment
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-pip'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsPIP in data['contact-type-pip'] %}
                    <li>{{ questionsPIP }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-pip']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for General CoC -->
              {% if benefitsName == 'General change of circumstance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  General change of circumstance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-gCoC'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsgCoC in data['contact-type-gCoC'] %}
                      <li>{{ questionsgCoC }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-gCoC']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}
            {% endfor %}
              <!-- Note added -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes added
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {%else%}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Visit details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {%if data['what-benefit-discussed-non-telephony']== "Disability Living Allowance" %}
                {{ data['dla-type'] }}
                {%else%}
                {{ data['what-benefit-discussed-non-telephony'] }}
                {%endif%}
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for contactTopics in data['contact-type'] %}
                  <li>{{ contactTopics }}</li>
                  {% endfor %}
                </ul>
                {%else%}
                  <p>{{data['contact-type']}}</p>
                {%endif%}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-display-none">
                <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes added
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {%endif%}
      <!-- Ask to complete session -->
      <form class="form govuk-!-margin-top-9" action="complete-contact" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do you want to start the service again or continue working on this visit?
            </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-contact" type="radio" value="Start Service again">
                <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                  Start Service again
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-contact" type="radio" value="back to home page">
                <label class="govuk-label govuk-radios__label" for="complete-the-call">
                  Continue working on this visit
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
      {%endif%}

      <!-- for Outbound visit to claimant -->
      {% if data['What-type-of-contact'] == 'Visit to' %}
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            Visit record has been saved successfully.
          </h3>
        </div>
      </div>
      <h1 class="govuk-heading-l">You have added details about this visit</h1>
      {% if benefitLength >1 %}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Visit details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% for benefitsName in data['what-benefit-discussed-non-telephony'] %}
              
            <!-- for ESA -->
              {% if benefitsName == 'Employment and Support Allowance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employment and Support Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-esa'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsESA in data['contact-type-esa'] %}
                    <li>{{ questionsESA or "No inquiry selected"}}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                <p>{{data['contact-type-esa']}}</p>
                {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for pip -->
              {% if benefitsName == 'Personal Independence Payment' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Personal Independence Payment
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-pip'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsPIP in data['contact-type-pip'] %}
                    <li>{{ questionsPIP }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-pip']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for AA -->
              {% if benefitsName == 'Attendance Allowance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Attendance Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-aa'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsAA in data['contact-type-aa'] %}
                    <li>{{ questionsAA }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-aa']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for CA -->
              {% if benefitsName == "Carer's Allowance" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Carer's Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-ca'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsCA in data['contact-type-ca'] %}
                    <li>{{ questionsCA }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-ca']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for DLA -->
              {% if benefitsName == 'Disability Living Allowance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['dla-type'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-dla'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for questionsDLA in data['contact-type-dla'] %}
                    <li>{{ questionsDLA }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-dla']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}

              <!-- for General CoC -->
              {% if benefitsName == 'General change of circumstance' %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  General change of circumstance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-gCoC'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsgCoC in data['contact-type-gCoC'] %}
                      <li>{{ questionsgCoC }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-gCoC']}}</p>
                  {%endif%}
                </dd>
              </div>
              {%endif%}
            {% endfor %}
              <!-- Note added -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes added
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {%else%}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Visit details
          </h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {%if data['what-benefit-discussed-non-telephony']== "Disability Living Allowance" %}
                {{ data['dla-type'] }}
                {%else%}
                {{ data['what-benefit-discussed-non-telephony'] }}
                {%endif%}
              </dt>
              <dd class="govuk-summary-list__value">
                {%if data['contact-type'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for contactTopics in data['contact-type'] %}
                  <li>{{ contactTopics }}</li>
                  {% endfor %}
                </ul>
                {%else%}
                  <p>{{data['contact-type']}}</p>
                {%endif%}
              </dd>
              <dd class="govuk-summary-list__actions govuk-!-display-none">
                <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Notes added
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </dd>
            </div>
          </dl>
        </div>
      </div>
      {%endif%}

      <!-- Ask to complete session -->
      <form class="form govuk-!-margin-top-9" action="complete-contact" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do you want to start the service again or continue working on this visit?
            </h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-contact" type="radio" value="Start Service again">
                <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                  Start Service again
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-contact" type="radio" value="back to home page">
                <label class="govuk-label govuk-radios__label" for="complete-the-call">
                  Continue working on this visit
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
      {%endif%}
    {%endif%}
  </div>
</div>

{% endblock %}
