{% extends "layout.html" %}

{% block pageTitle %}
You have added details about this call
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set contactType =  data['What-type-of-contact'] %}
        {% set benefits =  data['what-benefit-discussed'] %}
        {% set questionESA = data['questionAsk-esa'] %}
        {% set questionPIP = data['questionAsk-pip'] %}
        {% set benefitLength =  data['what-benefit-discussed'] | length %}
       
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Call record has been saved successfully.
            </h3>
          </div>
        </div>
        <h1 class="govuk-heading-l">You have added details about this call</h1>

        {% if benefitLength >1 %}
        <!-- for multiple benefits -->
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Call details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              {% for benefitsName in data['what-benefit-discussed'] %}
                
                <!-- for ESA -->
                {% if benefitsName == 'Employment and Support Allowance' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Employment and Support Allowance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {%if data['contact-type-esa'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsESA in data['contact-type-esa'] %}
                      <li>{{ questionsESA or "No inquiry selected"}}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                  <p>{{data['contact-type-esa']}}</p>
                  {%endif%}
                  </dd>
                </div>
                {%endif%}

                <!-- for pip -->
                {% if benefitsName == 'Personal Independence Payment' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Personal Independence Payment
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {%if data['contact-type-pip'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsPIP in data['contact-type-pip'] %}
                      <li>{{ questionsPIP }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-pip']}}</p>
                    {%endif%}
                  </dd>
                </div>
                {%endif%}

                <!-- for aa -->
                {% if benefitsName == 'Attendance Allowance' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Attendance Allowance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {%if data['contact-type-aa'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsAA in data['contact-type-aa'] %}
                      <li>{{ questionsAA }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-aa']}}</p>
                    {%endif%}
                  </dd>
                </div>
                {%endif%}

                <!-- for dla active -->
                {% if benefitsName == 'Disability Living Allowance' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ data['dla-type'] }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {%if data['contact-type-dla'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsDLA in data['contact-type-dla'] %}
                      <li>{{ questionsDLA }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-dla']}}</p>
                    {%endif%}
                  </dd>
                </div>
                {%endif%}
                <!-- for dla static -->
                {% if benefitsName == 'Disability Living Allowance 65+' or benefitsName == 'Disability Living Allowance Adult' or benefitsName == 'Disability Living Allowance Child' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{benefitsName}}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {%if data['contact-type-dla'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsDLA in data['contact-type-dla'] %}
                      <li>{{ questionsDLA }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-dla']}}</p>
                    {%endif%}
                  </dd>
                </div>
                {%endif%}

                <!-- for ca -->
                {% if benefitsName == "Carer's Allowance" %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Carer's Allowance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {%if data['contact-type-ca'] | length > 1 %}
                    <ul class="govuk-list govuk-list--bullet">
                      {% for questionsCA in data['contact-type-ca'] %}
                      <li>{{ questionsCA }}</li>
                      {% endfor %}
                    </ul>
                  {%else%}
                    <p>{{data['contact-type-ca']}}</p>
                    {%endif%}
                  </dd>
                </div>
                {%endif%}

                <!-- for General CoC -->
                {% if benefitsName == 'General change of circumstance' %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    General change of circumstance
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {%if data['contact-type-gCoC'] | length > 1 %}
                      <ul class="govuk-list govuk-list--bullet">
                        {% for questionsgCoC in data['contact-type-gCoC'] %}
                        <li>{{ questionsgCoC }}</li>
                        {% endfor %}
                      </ul>
                    {%else%}
                      <p>{{data['contact-type-gCoC']}}</p>
                    {%endif%}
                  </dd>
                </div>
                {%endif%}

              {% endfor %}
                <!-- Note added -->
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notes added
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['addNote'] or "Not provided" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {%else%}
        <!-- for one benefit --> 
        {%if data['what-benefit-discussed'] == 'General change of circumstance' %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Call details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  General change of circumstance
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type-gCoC'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for contactTopicsgCoC in data['contact-type-gCoC'] %}
                    <li>{{ contactTopicsgCoC }}</li>
                    {% endfor %}
                  </ul>
                  {%else%}
                    <p>{{data['contact-type-gCoC']}}</p>
                  {%endif%}
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-display-none">
                  <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notes added
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['addNote'] or "Not provided" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {%else%} 
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Call details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  <!-- {{ data['what-benefit-discussed'] }} -->
                  {%if data['what-benefit-discussed']== "Disability Living Allowance" %}
                  {{ data['dla-type'] }}
                  {%else%}
                  {{ data['what-benefit-discussed'] }}
                  {%endif%}
                </dt>
                <dd class="govuk-summary-list__value">
                  {%if data['contact-type'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for contactTopics in data['contact-type'] %}
                    <li>{{ contactTopics }}</li>
                    {% endfor %}
                  </ul>
                  {%else%}
                    <p>{{data['contact-type']}}</p>
                  {%endif%}
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-display-none">
                  <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notes added
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['addNote'] or "Not provided" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {%endif%}
        {%endif%}

        {%if data['What-type-of-contact'] == 'Inbound phone call with'%}
        <!-- Inbound complete session -->
        <form class="form govuk-!-margin-top-9" action="complete-call" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Do you want to start the service again or continue working on this call? 
              </h2>
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-call" type="radio" value="Complete phone call">
                  <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                    Start Service again
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-call" type="radio" value="back to home page">
                  <label class="govuk-label govuk-radios__label" for="complete-the-call">
                    Continue working on this call
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
        {%endif%}

        {%if data['What-type-of-contact'] == 'Outbound phone call with'%}
          {%if data['was-call-answered']== 'No'%}
          <!-- Outbound - Call not answered -->
          <form class="form govuk-!-margin-top-9" action="/prototype-dev-baseline/mvp-1_3/index" method="post">
            <button class="govuk-button" data-module="govuk-button">
              Start service again
            </button>
          </form>
          {%else%}
          <!-- Outbound - Call answered  -->
          <form class="form govuk-!-margin-top-9" action="complete-call" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Do you want to start the service again or continue working on this call? 
                </h2>
                </legend>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-call" type="radio" value="Complete phone call">
                    <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                      Start Service again
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-call" type="radio" value="back to home page">
                    <label class="govuk-label govuk-radios__label" for="complete-the-call">
                      Continue working on this call
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
          {%endif%}
        {%endif%}
      </div>
    </div>

{% endblock %}
