{% extends "layout.html" %}

{% block pageTitle %}
You have added details about this call
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/header.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/phase-banner.html" %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You have saved the contact record</h1>
        <p>You can close this window</p>
      </div>
</div>
{% endblock %}
