{% extends "layout.html" %}

{% block pageTitle %}
What was the call about?
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-10/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="added-call-details" method="post" novalidate>
    {% set benefits =  data['what-benefit-discussed'] %}
    {%set checkNoteAdded = data['addNote'] %}
    {% set benefitLength =  data['what-benefit-discussed'] | length %} 
    <!-- add a note -->
    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="5000">
      <span class="govuk-caption-l">Step 2 of 3</span>
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="with-hint">
          Add a note
        </label>
      </h1>
    {%if checkNoteAdded == ''%}
      <!-- <p class="govuk-body">Add a note to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give more details of what the call was about</li>
        <li>explain who the call was with if it was not with the claimant or a known representative</li>
      </ul> -->
      <p class="govuk-body">You do not need to repeat anything you have already selected.</p>
      <div class="govuk-warning-text govuk-!-margin-bottom-2">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Do not include any personal details.
        </strong>
      </div>
    {%else%}
      <div class="govuk-warning-text govuk-!-margin-bottom-2">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          This note applies to the whole call. Do not delete your previous notes if they are still needed. Do not include any personal details.
        </strong>
      </div>
      {%endif%}
      <!-- <p class="govuk-body">This note applies to the whole call. Do not delete your previous notes if they are still needed.</p> -->
      <textarea class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-3" id="with-hint" name="addNote" rows="7" aria-describedby="with-hint-info with-hint-hint">{{ data['addNote'] }}</textarea>
      <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
        You have 5000 characters remaining
      </div>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>
  </div>
</div>

{% endblock %}
