{% extends "layout.html" %}

{% block pageTitle %}
  You have added information about this call
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-8/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <span class="govuk-caption-l">Step 4 of 5</span> -->
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Call details and notes have been saved successfully.
            </h3>
          </div>
        </div>
        <h1 class="govuk-heading-l">You have added details about this call</h1>
        <!-- <h2 class="govuk-heading-m">Reasons for this call</h2> -->
        {% set benefits =  data['what-benefit-discussed'] %}
        {% set questionCA = data['questionAsk-ca'] %}
        {% set questionESA = data['questionAsk-esa'] %}
        {% set questionPIP = data['questionAsk-pip'] %}
        {% set questionLenghtCA = data['questionAsk-ca'] | length %}
        {% set benefitLength =  data['what-benefit-discussed'] | length %}
        {% if benefitLength >1 %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Benefit added
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employment and Support Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for benefit in data['questionAsk-esa'] %}
                    <li>{{ benefit }}</li>
                    {% endfor %}
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Personal Independence Payment
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for benefit in data['questionAsk-pip'] %}
                    <li>{{ benefit }}</li>
                    {% endfor %}
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {%else%} 
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Benefit added
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['what-benefit-discussed'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for benefit in data['question-asked'] %}
                    <li>{{ benefit }}</li>
                    {% endfor %}
                  </ul>
                </dd>
              </div>
            </dl>
          </div>
          </div>
        {%endif%}
        <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-6">
          <h2 class="govuk-heading-s">Notes</h2>
          <p class="govuk-body govuk-!-margin-bottom-2">{{ data['addNote'] or "Not provided" }}</p> 
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>

        <!-- <form action="do-you-want-to-complete-call" method="post" novalidate>
          <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a href="add-note" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Add or change note
            </a>
          </div>
      </form> -->

          <!-- Ask to complete session -->
          <form class="form" action="complete-call" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Do you want to complete the call or go back to the home page?
                </h2>
                </legend>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-the-call-2" name="Do-you-want-to-complete-the-call" type="radio" value="Complete phone call">
                    <label class="govuk-label govuk-radios__label" for="complete-the-call-2">
                      Complete phone call
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-the-call" name="Do-you-want-to-complete-the-call" type="radio" value="back to home page">
                    <label class="govuk-label govuk-radios__label" for="complete-the-call">
                      Back to home page
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
          </form>

        <!-- add more beneft/reason -->
        <!-- <form action="/prototype-sprint-wise/ur-8/a/addAnotherBenefit" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you want to add another benefit or reason for this call?
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="addAnotherBenefit" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="addAnotherBenefit" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form> -->
      </div>
    </div>

{% endblock %}
