{% extends "layout.html" %}

{% block pageTitle %}
Benefit payments
{% endblock %}


{% block header %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/header.html" %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/phase-banner.html" %}
  <a href="benefit-payment.html" class="govuk-back-link">Back</a>
  <!-- <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Benefit payments</a>
      </li>
    </ol>
  </div> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Benefit details</h1>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        <form action="what-benefits-discussed" method="post">
          <button class="govuk-button {{hideAddNote}}" data-module="govuk-button" onclick="global_var['a']['b']=1;">
            Add or change notes
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <nav class="moj-side-navigation" aria-label="Side navigation">
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item" onclick="showPIP()" id="pip-nav">
          <a href="#1" aria-current="location">Personal Independence Payment</a>
        </li>
        <li class="moj-side-navigation__item" onclick="showESA()" id="esa-nav">
          <a href="#2">Employment and Support Allowance</a>
        </li>
        <li class="moj-side-navigation__item moj-side-navigation__item--active" onclick="showDLA()" id="dla-nav">
          <a href="#3">Disability Living Allowance</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <!-- PIP details -->
    <section class="govuk-visually-hidden" id="pip-details">
      <h2 class="govuk-heading-l">
        Personal Independence Payment
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit
          </dt>
          <dd class="govuk-summary-list__value">
            Personal Independence Payment
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            08 November 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value">
            02 December 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            Others
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Frequency of payments
          </dt>
          <dd class="govuk-summary-list__value">
            Every 4 week
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Amount before deductions
          </dt>
          <dd class="govuk-summary-list__value">
            £559.00
          </dd>
        </div>
      </dl>
      <!-- componets included -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Components</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Component</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Rate</th><th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Daily living</td>
            <td class="govuk-table__cell">£329.20</td>
            <td class="govuk-table__cell">Standard</td><td class="govuk-table__cell">08 November 2020</td>
            <td class="govuk-table__cell">02 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mobility</td>
            <td class="govuk-table__cell">£229.80</td>
            <td class="govuk-table__cell">Enhanced</td><td class="govuk-table__cell">08 November 2020</td>
            <td class="govuk-table__cell">02 December 2023</td>
          </tr>
        </tbody>
      </table>
      <!-- deductions -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Deductions</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Type of deduction</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">ESA (Income Related)</td>
            <td class="govuk-table__cell">£40.00</td>
            <td class="govuk-table__cell">11 May 2023</td>
            <td class="govuk-table__cell">10 May 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Child Benefit</td>
            <td class="govuk-table__cell">£40.00</td>
            <td class="govuk-table__cell">15 July 2023</td>
            <td class="govuk-table__cell">08 December 2024</td>
          </tr>
            <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total deductions</th>
            <td class="govuk-table__cell" colspan="3">£80.00</td>
            <!-- <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td> -->
          </tr>
        </tbody>
      </table>
    </section>
    <!-- ESA details -->
    <section class="govuk-visually-hidden" id="esa-details">
      <h2 class="govuk-heading-l">
        Employment and Support Allowance
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit
          </dt>
          <dd class="govuk-summary-list__value">
            Employment and Support Allowance
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            11 May 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value">
            10 May 2024
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            ESA IR
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Frequency of payments
          </dt>
          <dd class="govuk-summary-list__value">
            Every 2 week
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Amount before deductions
          </dt>
          <dd class="govuk-summary-list__value">
            £193.10
          </dd>
        </div>
      </dl>
      <!-- componets included -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Components</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Components</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Personal allowance</td>
            <td class="govuk-table__cell">£154.00</td>
            <td class="govuk-table__cell">11 May 2023</td>
            <td class="govuk-table__cell">10 May 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Client group premium</td>
            <td class="govuk-table__cell">£39.10</td>
            <td class="govuk-table__cell">11 May 2023</td>
            <td class="govuk-table__cell">10 May 2024</td>
          </tr>
        </tbody>
      </table>
      <!-- deductions -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Deductions</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Type of deduction</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Water/General Rates</td>
            <td class="govuk-table__cell">£8.97</td>
            <td class="govuk-table__cell">09 June 2023</td>
            <td class="govuk-table__cell">No end date</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total deductions</th>
            <td class="govuk-table__cell" colspan="3">£8.97</td>
            <!-- <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td> -->
          </tr>
        </tbody>
      </table>
    </section>
    <!-- DLA details -->
    <section class="" id="dla-details">
      <h2 class="govuk-heading-l">
        Disability Living Allowance
      </h2>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            08 November 2020
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value">
            02 December 2023
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefit type
          </dt>
          <dd class="govuk-summary-list__value">
            Others
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Amount before deductions
          </dt>
          <dd class="govuk-summary-list__value">
            £559.00
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment frequency
          </dt>
          <dd class="govuk-summary-list__value">
            Every 4 week
          </dd>
        </div>
      </dl>
      <!-- componets included -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Components</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Component</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Rate</th><th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Daily living</td>
            <td class="govuk-table__cell">£329.20</td>
            <td class="govuk-table__cell">Standard</td><td class="govuk-table__cell">08 November 2020</td>
            <td class="govuk-table__cell">02 December 2023</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mobility</td>
            <td class="govuk-table__cell">£229.80</td>
            <td class="govuk-table__cell">Enhanced</td><td class="govuk-table__cell">08 November 2020</td>
            <td class="govuk-table__cell">02 December 2023</td>
          </tr>
        </tbody>
      </table>
      <!-- deductions -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Deductions</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Type of deduction</th>
            <th scope="col" class="govuk-table__header">Amount</th>
            <th scope="col" class="govuk-table__header">Start date</th>
            <th scope="col" class="govuk-table__header">End date</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">ESA (Income Related)</td>
            <td class="govuk-table__cell">£40.00</td>
            <td class="govuk-table__cell">11 May 2023</td>
            <td class="govuk-table__cell">10 May 2024</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Child Benefit</td>
            <td class="govuk-table__cell">£40.00</td>
            <td class="govuk-table__cell">15 July 2023</td>
            <td class="govuk-table__cell">08 December 2024</td>
          </tr>
            <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total deductions</th>
            <td class="govuk-table__cell" colspan="3">£80.00</td>
            <!-- <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td> -->
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>

<script type="text/javascript">
  function showPIP() {
    var pip = document.getElementById('pip-details');
    var esa = document.getElementById('esa-details');
    var dla = document.getElementById('dla-details');
    var pipNavigation = document.getElementById('pip-nav');
    var esaNavigation = document.getElementById('esa-nav');
    var dlaNavigation = document.getElementById('dla-nav');

    pip.classList.remove("govuk-visually-hidden");
    esa.classList.add("govuk-visually-hidden");
    dla.classList.add("govuk-visually-hidden");
    pipNavigation.classList.add("moj-side-navigation__item--active");
    esaNavigation.classList.remove("moj-side-navigation__item--active");
    dlaNavigation.classList.remove("moj-side-navigation__item--active");
  }

  function showESA() {
    var pip = document.getElementById('pip-details');
    var esa = document.getElementById('esa-details');
    var dla = document.getElementById('dla-details');
    var pipNavigation = document.getElementById('pip-nav');
    var esaNavigation = document.getElementById('esa-nav');
    var dlaNavigation = document.getElementById('dla-nav');

    pip.classList.add("govuk-visually-hidden");
    esa.classList.remove("govuk-visually-hidden");
    dla.classList.add("govuk-visually-hidden");
    pipNavigation.classList.remove("moj-side-navigation__item--active");
    esaNavigation.classList.add("moj-side-navigation__item--active");
    dlaNavigation.classList.remove("moj-side-navigation__item--active");
  }

  function showDLA() {
    var pip = document.getElementById('pip-details');
    var esa = document.getElementById('esa-details');
    var dla = document.getElementById('dla-details');
    var pipNavigation = document.getElementById('pip-nav');
    var esaNavigation = document.getElementById('esa-nav');
    var dlaNavigation = document.getElementById('dla-nav');

    pip.classList.add("govuk-visually-hidden");
    esa.classList.add("govuk-visually-hidden");
    dla.classList.remove("govuk-visually-hidden");
    pipNavigation.classList.remove("moj-side-navigation__item--active");
    esaNavigation.classList.remove("moj-side-navigation__item--active");
    dlaNavigation.classList.add("moj-side-navigation__item--active");

  }

  </script>

{% endblock %}
