{% extends "layout.html" %}

{% block pageTitle %}
Contact history
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/header.html" %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/phase-banner.html" %}
  <!-- <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-display-none-print">Back</a> -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="viewDetail.html">Contact history</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" id ="ch">Contact history</h1>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-text-align-right">
        <form action="what-benefits-discussed" method="post">
          <button class="govuk-button {{hideAddNote}}" data-module="govuk-button" onclick="global_var['a']['b']=1;">
            Add or change notes
          </button>
        </form>
      </div>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <!-- Tab button here -->
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#view">
            View contact history
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#jsaps-notes">
            JSAPS notes for ESA
          </a>
        </li>
      </ul>
      <!-- Tab1 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view">
        <!-- <h2 class="govuk-heading-l">View contact history</h2> -->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <!-- MOJ filter -->
            <div class="moj-filter cv-filter">
              <div class="moj-filter__header">
                <div class="moj-filter__header-title">
                  <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="moj-filter__header-action">
                </div>
              </div>
              <div class="moj-filter__content">
                <!-- selected filters -->
                <div class="moj-filter__selected govuk-visually-hidden">
                  <div class="moj-filter__selected-heading">
                    <div class="moj-filter__heading-title">
                      <h3 class="govuk-heading-m">Selected filters</h3>
                    </div>
                    <div class="moj-filter__heading-action">
                      <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                    </div>
                  </div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>
                  <ul class="moj-filter-tags">
                    <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>
                    <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>
                  </ul>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
                  <ul class="moj-filter-tags">
                    <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Completed</a></li>
                  </ul>
                </div>
                <!-- filter options -->
                <div class="moj-filter__options">
                  <form action="filtered-list" method="post">
                    <button type="submit" class="govuk-button" data-module="govuk-button" id="apply-filter-btn">
                      Apply filters
                    </button>
                    <!-- filter by benefits -->
                    <div class="govuk-form-group">
                      {% set benefitName = data['benefit'] %}
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Benefit
                        </legend> 
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="esa">
                            <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                              Employment and Support Allowance
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="ca">
                            <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                              Carer's Allowance
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="pip">
                            <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                              Personal Independence Payment
                            </label>
                          </div>
                          <!-- <div class="govuk-checkboxes__item">
                            {% if benefitName == "esa" %}
                              <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="esa" checked="checked">
                              <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                                Employment and Support Allowance
                              </label>
                            {% else %}
                              <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="esa">
                              <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                                Employment and Support Allowance
                              </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if benefitName == "ca" %}
                            <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="ca" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                              Carer's Allowance
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="JA-benefit" name="benefit" type="checkbox" value="ca">
                            <label class="govuk-label govuk-checkboxes__label" for="JA-benefit">
                              Carer's Allowance
                            </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if benefitName == "pip" %}
                            <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="pip" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                              Personal Independence Payment
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="pip">
                            <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                              Personal Independence Payment
                            </label>
                            {% endif%}
                          </div> -->
                        </div>
                      </fieldset>
                    </div>
                    <!-- filter by questions -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Payment enquiry
                        </legend>
                        <!-- <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="type">
                              Next payment date
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="type-2">
                              Next payment amount
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                            <label class="govuk-label govuk-checkboxes__label" for="type-3">
                              Missing payment
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                            <label class="govuk-label govuk-checkboxes__label" for="type-3">
                              Change in payment amount
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                            <label class="govuk-label govuk-checkboxes__label" for="type-3">
                              Other questions
                            </label>
                          </div>
                        </div> -->

                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterNpd == true%}
                              <input class="govuk-checkboxes__input" id="NPD-subContext" name="querySubContext" type="checkbox" value="Next payment date" checked="checked">
                              <label class="govuk-label govuk-checkboxes__label" for="NPD-subContext">
                                Next payment date
                              </label>
                            {% else %}
                              <input class="govuk-checkboxes__input" id="NPD-subContext" name="querySubContext" type="checkbox" value="Next payment date">
                              <label class="govuk-label govuk-checkboxes__label" for="NPD-subContext">
                                Next payment date
                              </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterNpa == true%}
                            <input class="govuk-checkboxes__input" id="NPA-subContext" name="querySubContext" type="checkbox" value="Next payment amount" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="NPA-subContext">
                              Next payment amount
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="NPA-subContext" name="querySubContext" type="checkbox" value="Next payment amount">
                            <label class="govuk-label govuk-checkboxes__label" for="NPA-subContext">
                              Next payment amount
                            </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterMp == true%}
                            <input class="govuk-checkboxes__input" id="MP-subContext" name="querySubContext" type="checkbox" value="Missing payment" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="MP-subContext">
                              Missing payment
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="MP-subContext" name="querySubContext" type="checkbox" value="Missing payment">
                            <label class="govuk-label govuk-checkboxes__label" for="MP-subContext">
                              Missing payment
                            </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterCPA == true%}
                            <input class="govuk-checkboxes__input" id="CPA-subContext" name="querySubContext" type="checkbox" value="Change in payment amount" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="CPA-subContext">
                              Change in payment amount
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="CPA-subContext" name="querySubContext" type="checkbox" value="Change in payment amount">
                            <label class="govuk-label govuk-checkboxes__label" for="CPA-subContext">
                              Change in payment amount
                            </label>
                            {% endif%}
                          </div>
                          <div class="govuk-checkboxes__item">
                            {% if data.tableFilterOQ == true%}
                            <input class="govuk-checkboxes__input" id="OQ-subContext" name="querySubContext" type="checkbox" value="Other questions" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="OQ-subContext">
                              Other questions
                            </label>
                            {% else %}
                            <input class="govuk-checkboxes__input" id="OQ-subContext" name="querySubContext" type="checkbox" value="Other questions">
                            <label class="govuk-label govuk-checkboxes__label" for="OQ-subContext">
                              Other questions
                            </label>
                            {% endif%}
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <!-- filter by date  -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-from-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          From date
                        </legend>
                        <div class="govuk-date-input" id="from-date">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="from-date-day">
                                    Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-day" name="from-date-day" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromDay}}">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="from-date-month">
                                    Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-month" name="from-date-month" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromMonth}}">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="from-date-year">
                                    Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-year" name="from-date-year" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromYear}}">
                            </div>
                          </div>
                        </div>
                        <div class="govuk-form-group govuk-!-margin-top-2">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-from-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
                              search by month
                            </legend>
                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                                <label class="govuk-label govuk-radios__label" for="changedName">
                                  Last one month
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                                <label class="govuk-label govuk-radios__label" for="changedName-2">
                                  Last 3 months
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                                <label class="govuk-label govuk-radios__label" for="changedName-2">
                                  Last 6 months
                                </label>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </fieldset>
                    </div>

                    <!-- filter by contact type -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                         Contact type
                        </legend>
                        <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="month">
                            <label class="govuk-label govuk-radios__label" for="changedName">
                              A telephone call
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="year">
                            <label class="govuk-label govuk-radios__label" for="changedName-2">
                              A different type of contact
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <!-- filter by status -->
                    <!-- <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          Status
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="status">
                              Completed (2)
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                            <label class="govuk-label govuk-checkboxes__label" for="status-2">
                              Incomplete (5)
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                            <label class="govuk-label govuk-checkboxes__label" for="status-3">
                              In progress (3)
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div> -->
                </div>
                </form>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-two-thirds">  
            <!-- default ch table -->
            <h3 class="govuk-heading-m">32 results</h3>
            <p class="govuk-body govuk-!-margin-bottom-6">
                Sorted by:
                <span class="govuk-!-font-weight-bold">Date</span>
            </p>
            <div class="summry-card">
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 10 Aug 2023, 13:03</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value govuk-!-width-one-third">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value govuk-!-width-one-third">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Personal Independence Payment
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 05 Aug 2023, 09:03</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          No benefit
                        </th>
                        <td class="govuk-summary-list__value">
                          Check notes
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 08 Aug 2023, 09:20</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <span class="govuk-!-font-weight-regular">No notes added</span>
                      <!-- <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a> -->
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Carer's Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 15 July 2023, 13:00</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">A different contact type: 29 Jun 2023, 09:03</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Personal Independence Payment
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 28 Jun 2023, 12:15</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Carer's Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 13 Jun 2023, 10:00</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 26 May 2023, 13:03</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Personal Independence Payment
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 01 May 2023, 10:00</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <span class="govuk-!-font-weight-regular">No notes added</span>
                      <!-- <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a> -->
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Personal Independence Payment
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment date
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Personal Independence Payment
                        </th>
                        <td class="govuk-summary-list__value">
                          Next payment amount
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Telephone call: 14 April 2023, 09:00</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="viewDetail.html">Check notes<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          Personal Independence Payment
                        </th>
                        <td class="govuk-summary-list__value">
                          Something else
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                          No benefit
                        </th>
                        <td class="govuk-summary-list__value">
                          Check notes
                        </td>
                        <td class="govuk-summary-list__actions govuk-!-display-none-print">
                          <strong class="govuk-tag">
                            Resolved
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- pagination start here -->
            <nav class="govuk-pagination" aria-label="Pagination">
              <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                  <a class="govuk-link govuk-pagination__link" href="viewDetail.html" aria-label="Page 1" aria-current="page">
                    1
                  </a>
                </li>
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="viewDetail.html" aria-label="Page 2">
                    2
                  </a>
                </li>
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="viewDetail.html" aria-label="Page 3">
                    3
                  </a>
                </li>
              </ul>
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="viewDetail.html" rel="next">
                  <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                  </span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
            </nav>

          </div>
        </div>
      </div>
      <!-- Tab2 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="jsaps-notes">
        <div id="showContactHistory-bydefault">
          <h2 class="govuk-heading-l">JSAPS notes for ESA</h2>
          <!-- data table -->
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">When note was created</th>
                <th scope="col" class="govuk-table__header">Notes</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Mon 17 Oct 2023, 13:03</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
            </tbody>
          </table>
          <!-- table pagination -->
          <nav class="moj-pagination" aria-label="Pagination navigation" role="navigation">
            <ul class="moj-pagination__list">
              <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
                <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
              </li> -->
              <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1" aria-current="page">1</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="viewDetail.html" aria-label="Page 2">2</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="viewDetail.html" aria-label="Page 3">3</a></li>
  
              <li class="moj-pagination__item moj-pagination__item--dots">…</li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="viewDetail.html" aria-label="Page 5">5</a></li>
  
              <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
              </li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>45</b> results</p>
          </nav>
        </div>
          <!-- contact details section -->
          <div class="govuk-visually-hidden" id="showCtDetails">
            <a class="govuk-back-link" href="javascript:void(0);" onclick="showContactHistory();">Back</a>
            <h2 class="govuk-!-width-two-thirds govuk-heading-l govuk-!-margin-top-6">Details about Telephone call on 17 October 2023</h2>
            <!-- call started at -->
            <div class="ovuk-!-width-full govuk-!-margin-bottom-6">
              <span class="govuk-caption-m">Started at</span>
              <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:03</h2>
            </div>
            <!-- Benefits discussed -->
            <div class="govuk-!-width-full govuk-!-margin-top-4 govuk-!-margin-bottom-8">
              <div class="colleague-view-upcomming-payment-benefit">
                <h2 class="govuk-heading-m">
                  Benefits discussed
                </h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header ">Benefits</th>
                      <th scope="col" class="govuk-table__header">Type of enquiry</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Notes<span class="govuk-hint"> (optional)</span</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Employment and Support Allowance</td>
                      <td class="govuk-table__cell">Next payment date</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Employment and Support Allowance</td>
                      <td class="govuk-table__cell">Next payment amount</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Call and Agent information -->
            <div class="colleague-view-container-light-grey govuk-!-margin-bottom-4">
              <div class="govuk-grid-row"> 
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Caller</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">Jane Doe (Appointee)</span>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Call taken by</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">Agent (1003)</span>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Length of call</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">15 Minutes</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- call ended at -->
            <div class="govuk-!-width-full">
              <span class="govuk-caption-m">Ended at</span>
              <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:18</h2>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock %}
