{% extends "layout.html" %}

{% block pageTitle %}
Error: Check benefit information and contact history
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-8/common/header.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#full-name-input">Enter the customer's National Insurance number</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <h1 class="govuk-heading-xl">Check benefit information and contact history</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        This service does not provide information about Universal Credit.
      </strong>
    </div>
    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>view personal details</li>
      <li>view live and past benefit information</li>
      <li>check DWP contact notes</li>
      <li>add details of new contact</li>
    </ul>
      <form class="form button_to" action="why-checking-info" method="post">
        <div class="govuk-form-group govuk-!-margin-top-7 govuk-!-margin-bottom-2 govuk-form-group--error">
          <h2 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="full-name-input">
              Enter the National Insurance number
            </label>
          </h2>
          <div id="national-insurance-number-hint" class="govuk-hint">
            This can be found on the person's National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 Q’.
          </div>
          <p id="national-insurance-number-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter the customer's National Insurance number
          </p>
          <input class="govuk-input govuk-input--width-10 govuk-input--error" id="full-name-input" name="nnational-insurance-number-ur-8" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint" autocomplete="on" value="{{ data['national-insurance-number-sprint23'] }}">
        </div>
        <button draggable="false" data-module="govuk-button" class="govuk-button govuk-button--start govuk-!-margin-top-5" type="submit">
            Start now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </button>
      </form>

  </div>

  <div class="govuk-grid-column-one-third govuk-visually-hidden">
    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a class="govuk-link" href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-link govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>


{% endblock %}
