{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/mvp-1_1/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/mvp-1_1/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/mvp-1_1/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- note added successfully notification message -->
        <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Call added complete
            </h3>
            <p class="govuk-body">You have added call details for <strong>Employment and Support Allowance</strong></p>
          </div>
          </div>
        <h1 class="govuk-heading-l">Information added about this call</h1>
        <!-- <h2 class="govuk-heading-m">Reasons for this call</h2> -->
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header ">Benefit</th>
              <th scope="col" class="govuk-table__header">Question asked</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Outcome</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% if outcomePage.length > 0%}
            {% for item in outcomePage %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{ item.benefit }}</th>
                <td class="govuk-table__cell">{{ item.question }}</td>
                <td class="govuk-table__cell">
                  <!-- <strong class="govuk-tag {{isQResolved}}">{{item.result}}</strong> -->
                  {% if item.result == 'Resolved' %}
                    <stong class="govuk-tag">Resolved</strong>
                  {%elif item.result == 'Does not apply'%}
                    <span class="govuk-body">Does not apply</span>
                  {%else%}
                        <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            {% for item in data.outcomePage %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">{{ item.benefit }}</th>
              <td class="govuk-table__cell">{{ item.question }}</td>
              <td class="govuk-table__cell">
                <!-- <strong class="govuk-tag {{isQResolved}}">{{item.result}}</strong> -->
                {% if item.result == 'Resolved' %}
                  <stong class="govuk-tag">Resolved</strong>
                {%elif item.result == 'Does not apply'%}
                  <span class="govuk-body">Does not apply</span>
                {%else%}
                      <stong class="govuk-tag govuk-tag--grey">  Not resolved</strong>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
          </tbody>
        </table>

        <div class="govuk-!-margin-bottom-8 govuk-!-margin-top-8">
          <h2 class="govuk-heading-m ">More information about this call</h2>
          <p class="govuk-body govuk-!-margin-bottom-2">{{notes or "Not provided"  }} </p> 
          <p class="govuk-body">
            <a href="add-note" class="govuk-link govuk-link--no-visited-state">Add or change</a>
          </p> 
        </div>

        <!-- add more beneft/reason -->
        <form action="/prototype-dev-baseline/mvp-1_1/different-type-contact-user/addAnotherBenefit" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Do you want to add another benefit or reason for this call?
              </legend>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds" name="addAnotherBenefit" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="interviewNeeds-2" name="addAnotherBenefit" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="interviewNeeds-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
