{% extends "layout.html" %}

{% block pageTitle %}
  Payments and Awards
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/header.html" %}
  {% include "prototype-dev-baseline/common/opt2/view-only-user/keydetail-bar.html" %} 
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-dev-baseline/common/phase-banner.html" %}
  <!-- <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-display-none-print">Back</a> -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Payments and awards</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Upcoming and historic benefit payments</h1>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-full">
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#upcoming-payments">
            Upcoming payments
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#payment-history">
            Payment history
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#award-breakdown">
            Details and breakdowns of benefits
          </a>
        </li>
      </ul>
      <!-- TAB-1 start here -->
      <div class="govuk-tabs__panel" id="upcoming-payments">
        <h2 class="govuk-heading-l">Confirmed payments</h2>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                      <div class="gem-c-big-number">
                        <span class="gem-c-big-number__label">
                          Personal Independence Payment
                        </span>
                        <div class="gem-c-big-number__value govuk-!-font-size-48 govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                          £479.00
                        </div>
                        <span class="govuk-body">is on 14 August 2023</span> <br/>
                        <strong class="govuk-tag govuk-tag--turquoise govuk-!-margin-top-2 govuk-!-margin-bottom-2">Issued</strong>
                      </div>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            View payment breakdown
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <table class="govuk-table">
                            <caption class="govuk-table__caption govuk-table__caption--m">Payment breakdown</caption>
                            <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Payment type</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
                              </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Award</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Total deductions</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Total</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£479.00</td>
                              </tr>
                            </tbody>
                        </table>
                                </div>
                      </details>
                    </div>
                  </div>
                </div>
                <div class="govuk-grid-column-one-half">
                  <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                      <div class="gem-c-big-number">
                        <span class="gem-c-big-number__label">
                          Employment and Support Allowance
                        </span>
                        <div class="gem-c-big-number__value govuk-!-font-size-48 govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                          £184.13
                        </div>
                        <span class="govuk-body">is on 15 August 2023</span> <br/>
                        <strong class="govuk-tag govuk-tag--orange govuk-!-margin-top-2 govuk-!-margin-bottom-2">Pending</strong>
                      </div>
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            View payment breakdown
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <table class="govuk-table">
                            <caption class="govuk-table__caption govuk-table__caption--m">Payment breakdown</caption>
                            <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Payment type</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
                              </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Award</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Total deductions</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                              </tr>
                              <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Total</th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
                              </tr>
                            </tbody>
                        </table>
                        </div>
                      </details>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-margin-top-5">
            <div class="govuk-grid-column-full">
              <h2 class="govuk-heading-l govuk-!-margin-bottom-3">Estimated payments</h2>
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                      <div class="gem-c-big-number">
                          <span class="gem-c-big-number__label">
                            Carer's Allowance
                          </span>
                          <div class="gem-c-big-number__value govuk-!-font-size-36 govuk-!-margin-top-2 govuk-!-margin-bottom-2">
                            £278.80 <span class="govuk-body"> (estimated)</span>
                          </div>
                          <span class="govuk-body">Date to be confirmed</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!-- TAB-2 start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="payment-history">
        <h2 class="govuk-heading-l">Payment history</h2>
        <!-- Filter section start here -->
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="show-filter-btn" onclick="showFilter()">
          Show filter
        </button>
            <!-- Filter section start here -->
        <button class="govuk-visually-hidden govuk-button govuk-button--secondary" data-module="govuk-button" id="hide-filter-btn" onclick="cancelFilter()">
          Hide filter
        </button>
        <!-- Filter section display benefit options -->
        <form action="/prototype-dev-baseline/mvp-1_0/payment-and-awards#payment-history" method="post">
          <div class="govuk-visually-hidden" id="filter-section">
            <div class="govuk-form-group govuk-!-margin-bottom-3">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h3 class="govuk-fieldset__heading">
                    Filter by benefit
                  </h3>
                </legend>
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    {% if data.paymentTableFilterEsa == true%}
                      <input class="govuk-checkboxes__input" id="esa-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance" checked="checked">
                      <label class="govuk-label govuk-checkboxes__label" for="esa-benefit">
                        Employment and Support Allowance
                      </label>
                    {% else %}
                      <input class="govuk-checkboxes__input" id="esa-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance" >
                      <label class="govuk-label govuk-checkboxes__label" for="esa-benefit">
                        Employment and Support Allowance
                      </label>
                    {% endif %}
                  </div>
                  <div class="govuk-checkboxes__item">
                    {% if data.paymentTableFilterCa == true%}
                      <input class="govuk-checkboxes__input" id="ca-benefit" name="benefit" type="checkbox" value="Carer's Allowance" checked="checked">
                      <label class="govuk-label govuk-checkboxes__label" for="ca-benefit">
                        Carer's Allowance
                      </label>
                    {%else%}
                      <input class="govuk-checkboxes__input" id="ca-benefit" name="benefit" type="checkbox" value="Carer's Allowance">
                      <label class="govuk-label govuk-checkboxes__label" for="ca-benefit">
                        Carer's Allowance
                      </label>
                    {%endif%}
                  </div>
                  <div class="govuk-checkboxes__item">
                    {% if data.paymentTableFilterPip == true%}
                      <input class="govuk-checkboxes__input" id="pip-benefit" name="benefit" type="checkbox" value="Personal Independence Payment" checked="checked">
                      <label class="govuk-label govuk-checkboxes__label" for="pip-benefit">
                        Personal Independence Payment
                      </label>
                    {%else%}
                      <input class="govuk-checkboxes__input" id="pip-benefit" name="benefit" type="checkbox" value="Personal Independence Payment">
                      <label class="govuk-label govuk-checkboxes__label" for="pip-benefit">
                        Personal Independence Payment
                      </label>
                    {%endif%}
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button" id="apply-filter-btn" onclick="applyFilter()">
                Apply filter
              </button>
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="cancel-filter-link" onclick="cancelFilter()">
                Clear filter
              </button>
            </div>
          </div>
        </form>
        <!-- Filters end here -->
        
        <!-- Display Applied / selected filter here -->
        <div class="govuk-!-padding-top-0 moj-filter__selected" id="filter-selected">
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Filters applied</h3>
          {% if data['benefit'].length > 0%}
            <ul class="moj-filter-tags govuk-!-margin-bottom-2">
              {% for filterBenefit in data['benefit'] %}
              <li><a class="moj-filter__tag" href="#"><span class="govuk-visually-hidden">Remove this filter</span>{{ filterBenefit }}</a></li>
              {% endfor %}
            </ul>
            <a class="govuk-link" href="#" onclick="clearFilter()">Clear filter</a>
          {% else %}
          <span class="govuk-body">There is no filter selected</span>
        {%endif%}
        </div>

        {% if data['paymentTableData'].length > 0%}
          <div id="default-table">          
            <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Benefit</th>
                <th scope="col" class="govuk-table__header">Due Date</th>
                <th scope="col" class="govuk-table__header ">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Award</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deduction</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for item in data['paymentTableData'] %}
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">{{item.benefit}}</th>
                <td class="govuk-table__cell">{{item.dueData}}</td>
                <td class="govuk-table__cell">{{item.status}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">{{item.award}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">{{item.deduction}}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">{{item.amount}}</td>
              </tr>
              {%endfor%}
            </tbody>
            </table>
          </div>
        {% else %}
        <div id="default-table">          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Benefit</th>
                <th scope="col" class="govuk-table__header">Due Date</th>
                <th scope="col" class="govuk-table__header ">Status</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Award</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Deduction</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                <td class="govuk-table__cell">01 August 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                <td class="govuk-table__cell">18 July 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Carer Allowance</th>
                <td class="govuk-table__cell">21 July 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                <td class="govuk-table__cell">14 July 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£479.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                <td class="govuk-table__cell">04 July 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£377.23</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£368.26</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                <td class="govuk-table__cell">20 June 2023</td>
                <td class="govuk-table__cell">Cancelled</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£8.97</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£184.13</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Carer Allowance</th>
                <td class="govuk-table__cell">23 June 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£278.80</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                <td class="govuk-table__cell">14 June 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£80.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£479.80</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Employment and Support Allowance</th>
                <td class="govuk-table__cell">06 June 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£0.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£193.10</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Personal Independence Payment</th>
                <td class="govuk-table__cell">12 May 2023</td>
                <td class="govuk-table__cell">Issued</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£559.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£40.00</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">£519.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        {%endif%}
        <nav class="moj-pagination" aria-label="Pagination navigation" role="navigation">
          <ul class="moj-pagination__list">
            <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
              <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
            </li> -->
            <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1" aria-current="page">1</a></li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 2">2</a></li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 3">3</a></li>

            <li class="moj-pagination__item moj-pagination__item--dots">…</li>

            <li class="moj-pagination__item"><a class="moj-pagination__link" href="#" aria-label="Page 5">5</a></li>

            <li class="moj-pagination__item  moj-pagination__item--next">
              <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
            </li>
          </ul>
          <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>60</b> results</p>
        </nav>
      </div>
      <!-- TAB-3 start here -->
      <div class="govuk-tabs__panel" id="award-breakdown">
        <h2 class="govuk-heading-l">Details and breakdowns of benefits</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h3 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                      Personal Independence Payment
                    </span>
                  </h3>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Benefit
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Personal Independence Payment
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Start date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        08 November 2020
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        End date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        02 December 2023
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Benefit type
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Others
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Frequency of payments
                      </dt>
                      <dd class="govuk-summary-list__value">
                      4 Weekly in Arrears by Direct Payment on Monday
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £559.00
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">Components</dt>
                      <dd class="govuk-summary-list__value">
                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Component</th>
                              <th scope="col" class="govuk-table__header">Amount</th>
                              <th scope="col" class="govuk-table__header">Rate</th><th scope="col" class="govuk-table__header">Start date</th>
                              <th scope="col" class="govuk-table__header">End date</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Daily living</td>
                              <td class="govuk-table__cell">£329.20</td>
                              <td class="govuk-table__cell">Standard</td><td class="govuk-table__cell">08 November 2020</td>
                              <td class="govuk-table__cell">02 December 2023</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Mobility</td>
                              <td class="govuk-table__cell">£229.80</td>
                              <td class="govuk-table__cell">Enhanced</td><td class="govuk-table__cell">08 November 2020</td>
                              <td class="govuk-table__cell">02 December 2023</td>
                            </tr>
                          </tbody>
                        </table>
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Deductions
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Type of deduction</th>
                              <th scope="col" class="govuk-table__header">Amount</th>
                              <th scope="col" class="govuk-table__header">Start date</th>
                              <th scope="col" class="govuk-table__header">End date</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">ESA (Income Related)</td>
                              <td class="govuk-table__cell">£40.00</td>
                              <td class="govuk-table__cell">11 May 2023</td>
                              <td class="govuk-table__cell">10 May 2024</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Child Benefit</td>
                              <td class="govuk-table__cell">£40.00</td>
                              <td class="govuk-table__cell">15 July 2023</td>
                              <td class="govuk-table__cell">08 December 2024</td>
                            </tr>
                              <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header" total="" deduction<="" th="">Total deductions                                     </th><td class="govuk-table__cell">£80.00</td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                          </tbody>
                        </table>
                      </dd>
                    </div>
                    <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Estimated next payment amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £479.00
                      </dd>
                    </div> -->
                    <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last payment date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        17 July 2023
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last payment amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £519.00
                      </dd>
                    </div> -->
                  </dl>
                </div>
              </div>
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h3 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                      Employment and Support Allowance
                    </span>
                  </h3>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Benefit
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Employment and Support Allowance
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Start date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        11 May 2023
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        End date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        10 May 2024
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Benefit type
                      </dt>
                      <dd class="govuk-summary-list__value">
                        ESA IR
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Frequency of payments
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Every 2 week
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £193.10
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Components
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Components</th>
                              <th scope="col" class="govuk-table__header">Amount</th>
                              <th scope="col" class="govuk-table__header">Start date</th>
                              <th scope="col" class="govuk-table__header">End date</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Personal allowance</td>
                              <td class="govuk-table__cell">£154.00</td>
                              <td class="govuk-table__cell">11 May 2023</td>
                              <td class="govuk-table__cell">10 May 2024</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Client group premium</td>
                              <td class="govuk-table__cell">£39.10</td>
                              <td class="govuk-table__cell">11 May 2023</td>
                              <td class="govuk-table__cell">10 May 2024</td>
                            </tr>
                          </tbody>
                        </table>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Deductions
                      </dt>
                      <dd class="govuk-summary-list__value">
                        <table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Type of deduction</th>
                              <th scope="col" class="govuk-table__header">Amount</th>
                              <th scope="col" class="govuk-table__header">Start date</th>
                              <th scope="col" class="govuk-table__header">End date</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">Water/General Rates</td>
                              <td class="govuk-table__cell">£8.97</td>
                              <td class="govuk-table__cell">09 June 2023</td>
                              <td class="govuk-table__cell">No end date</td>
                            </tr>
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header" total="" deduction<="" th="">Total deductions</th>
                              <td class="govuk-table__cell">£8.97</td>
                              <td class="govuk-table__cell"></td>
                              <td class="govuk-table__cell"></td>
                            </tr>
                          </tbody>
                        </table>
                      </dd>
                    </div>
                    <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Estimated next payment amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £184.13
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last payment date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        01 August 2023
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last payment amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £184.13
                      </dd>
                    </div> -->
                  </dl>
                </div>
              </div>
              <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                  <h3 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                      Carer's Allowance
                    </span>
                  </h3>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Benefit
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Carer's Allowance
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Start date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        23 June 2023
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        End date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        No end date
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Benefit type
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Benefit type does not apply for Carer's Allowance 
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Frequency of payments
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Every 4 week
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £278.80
                        
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">Components</dt>
                      <dd class="govuk-summary-list__value">
                        <table class="govuk-table">
                              
                              <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                  <th scope="col" class="govuk-table__header">Components</th>
                                  <th scope="col" class="govuk-table__header">Amount</th>
                                  <th scope="col" class="govuk-table__header">Start date</th>
                                  <th scope="col" class="govuk-table__header">End date</th>
                                </tr>
                              </thead>
                              <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Carer allowance</td>
                                  <td class="govuk-table__cell">£278.80</td>
                                  <td class="govuk-table__cell">23 June 2023</td>
                                  <td class="govuk-table__cell">No end date</td>
                                </tr>
                              </tbody>
                            </table>
                        
                      </dd>
                    </div><div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Deduction
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £0.00
                      </dd>
                    </div>
                    <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Estimated next payment amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £278.80
                      </dd>
                    </div> -->
                    <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last payment date
                      </dt>
                      <dd class="govuk-summary-list__value">
                        21 July 2023
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last payment amount
                      </dt>
                      <dd class="govuk-summary-list__value">
                        £278.80
                      </dd>
                    </div> -->
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- logic for filter function -->
  <script type="text/javascript">
    function showFilter() {
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var hdFilter = document.getElementById('hide-filter-btn');
      var esaTable = document.getElementById('table-ESA');
      var caTable = document.getElementById('table-CA');
      var pipTable = document.getElementById('table-PIP');
      link.classList.remove("govuk-visually-hidden");
      link2.classList.add("govuk-visually-hidden");
      hdFilter.classList.remove("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
      document.getElementById("filter-1").checked = false;
      document.getElementById("filter-2").checked = false;
      document.getElementById("filter-3").checked = false;
    }
    function cancelFilter() {
      var link = document.getElementById('filter-section');
      var link2 = document.getElementById('show-filter-btn');
      var hdFilter = document.getElementById('hide-filter-btn');
      link.classList.add("govuk-visually-hidden");
      hdFilter.classList.add("govuk-visually-hidden");
      link2.classList.remove("govuk-visually-hidden");
      document.getElementById("filter-1").checked = false;
      document.getElementById("filter-2").checked = false;
      document.getElementById("filter-3").checked = false;
    }
    function applyFilter() {
      var link3 = document.getElementById('filter-selected');
      var link2 = document.getElementById('show-filter-btn');
      var link5 = document.getElementById('filter-section'); 
      var tableDefault = document.getElementById('default-table')
      var esaTable = document.getElementById('table-ESA');
      var caTable = document.getElementById('table-CA');
      var pipTable = document.getElementById('table-PIP');
      // link3.classList.remove("govuk-visually-hidden");
      if (document.getElementById("filter-1").checked == true) {
        // link3.classList.remove("govuk-visually-hidden");
        link2.classList.remove("govuk-visually-hidden");
        link5.classList.add("govuk-visually-hidden");
        tableDefault.classList.add("govuk-visually-hidden");
        esaTable.classList.remove("govuk-visually-hidden");
        caTable.classList.add("govuk-visually-hidden");
        pipTable.classList.add("govuk-visually-hidden");
      }
      else if (document.getElementById("filter-2").checked == true) {
        // link3.classList.remove("govuk-visually-hidden");
        link2.classList.remove("govuk-visually-hidden");
        // link4.classList.add("govuk-visually-hidden");
        link5.classList.add("govuk-visually-hidden");
        tableDefault.classList.add("govuk-visually-hidden");
        caTable.classList.remove("govuk-visually-hidden");
        esaTable.classList.add("govuk-visually-hidden");
        pipTable.classList.add("govuk-visually-hidden");
    } else if (document.getElementById("filter-3").checked == true) {
        // link3.classList.remove("govuk-visually-hidden");
        link2.classList.remove("govuk-visually-hidden");
        // link4.classList.add("govuk-visually-hidden");
        link5.classList.add("govuk-visually-hidden");
        tableDefault.classList.add("govuk-visually-hidden");
        pipTable.classList.remove("govuk-visually-hidden");
        esaTable.classList.add("govuk-visually-hidden");
        caTable.classList.add("govuk-visually-hidden");
    } else if (document.getElementsByName("benefit") != '') {
       link3.classList.remove("govuk-visually-hidden");
    }
  }
    function clearFilter() {
      var link3 = document.getElementById('filter-selected');
      var esaTable = document.getElementById('table-ESA');
      var caTable = document.getElementById('table-CA');
      var pipTable = document.getElementById('table-PIP');
      var tableDefault = document.getElementById('default-table');
      var hdFilter = document.getElementById('hide-filter-btn');
      link3.classList.add("govuk-visually-hidden");
      tableDefault.classList.remove("govuk-visually-hidden");
      esaTable.classList.add("govuk-visually-hidden");
      caTable.classList.add("govuk-visually-hidden");
      pipTable.classList.add("govuk-visually-hidden");
      link.classList.remove("govuk-visually-hidden");
      hdFilter.classList.add("govuk-visually-hidden");
      document.getElementById("filter-1").checked = false;
      document.getElementById("filter-2").checked = false;
      document.getElementById("filter-3").checked = false;
      
    }
  </script>


{% endblock %}
