{% extends "layout.html" %}

{% block pageTitle %}
  You have added information about this contact
{% endblock %}

{% block header %}
{% include "/prototype-dev-baseline/mvp-1_2/common/non-telephony/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <!-- <span class="govuk-caption-l">Step 4 of 5</span> -->
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Contact details and notes have been saved successfully.
            </h3>
          </div>
        </div>
        <h1 class="govuk-heading-l">You have added details about this contact</h1>
        <!-- <h2 class="govuk-heading-m">Reasons for this contact</h2> -->
        {% set benefits =  data['what-benefit-discussed-non-telephony'] %}
        {% set questionESA = data['questionAsk-esa'] %}
        {% set questionPIP = data['questionAsk-pip'] %}
        {% set benefitLength =  data['what-benefit-discussed-non-telephony'] | length %}
        {% if benefitLength >1 %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contact details
            </h2>
            <!-- <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="questions-asked.html">Add or change notes<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
              </li>
            </ul> -->
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Employment and Support Allowance
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for benefit in data['questionAsk-esa'] %}
                    <li>{{ benefit }}</li>
                    {% endfor %}
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Personal Independence Payment
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for benefit in data['questionAsk-pip'] %}
                    <li>{{ benefit }}</li>
                    {% endfor %}
                  </ul>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notes added
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['addNote'] or "Not provided" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {%else%}
        {%if benefitLength == 1 and benefits != 'General information' %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contact details
            </h2>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['what-benefit-discussed-non-telephony'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for benefit in data['question-asked'] %}
                    <li>{{ benefit }}</li>
                    {% endfor %}
                  </ul>
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-display-none">
                  <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notes added
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['addNote'] or "Not provided" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {%else%} 
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
              Contact details
            </h2>
            <!-- <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link" href="questions-asked.html">Add or change notes<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
              </li>
            </ul> -->
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ data['what-benefit-discussed-non-telephony'] }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{data['noBenefitReason']}}
                </dd>
                <dd class="govuk-summary-list__actions govuk-!-display-none">
                  <a class="govuk-link" href="add-change-notes.html">Change<span class="govuk-visually-hidden"> name</span></a>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Notes added
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['addNote'] or "Not provided" }}
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {%endif%}
        {%endif%}
          <!-- Ask to complete session -->
          <form class="form govuk-!-margin-top-9" action="complete-contact" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Do you want to start the service again or continue working on this contact? 
                </h2>
                </legend>
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-the-contact-2" name="Do-you-want-to-complete-the-contact" type="radio" value="Complete phone contact">
                    <label class="govuk-label govuk-radios__label" for="complete-the-contact-2">
                      Start Service again
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="complete-the-contact" name="Do-you-want-to-complete-the-contact" type="radio" value="back to home page">
                    <label class="govuk-label govuk-radios__label" for="complete-the-contact">
                      Continue working on this contact
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </form>
      </div>
    </div>

{% endblock %}
