{% extends "layout.html" %}

{% block pageTitle %}
What did you review?
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/non-telephony/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Step 1 of 3</span>
        <form action="questions-asked" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What did you review?
                </h1>
              </legend>
              <div id="changedName-hint" class="govuk-hint">
                The options you select will automatically be added to the contact log. You can log any additional information later in the notes.
              </div>
              <div class="govuk-checkboxes govuk-!-margin-top-5" data-module="govuk-checkboxes">
                <div class="govuk-radios__divider colleague-view-benefit-list">Active benefits</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_ca" name="what-benefit-discussed-non-telephony" type="checkbox" value="Carer Allowance" {{ checked ('what-benefit-discussed-non-telephony', 'Carer Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_ca">
                    Carer's Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_esa" name="what-benefit-discussed-non-telephony" type="checkbox" value="Employment and Support Allowance" {{ checked ('what-benefit-discussed-non-telephony', 'Employment and Support Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_esa">
                    Employment and Support Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_pip" name="what-benefit-discussed-non-telephony" type="checkbox" value="Personal Independence Payment" {{ checked ('what-benefit-discussed-non-telephony', 'Personal Independence Payment') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_pip">
                    Personal Independence Payment
                  </label>
                </div>
                <div class="govuk-radios__divider colleague-view-benefit-list">Other benefits</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_aa" name="what-benefit-discussed-non-telephony" type="checkbox" value="Attendance Allowance" {{ checked ('what-benefit-discussed-non-telephony', 'Attendance Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_aa">
                    Attendance Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_bsp" name="what-benefit-discussed-non-telephony" type="checkbox" value="bereavement_support_payment" {{ checked ('what-benefit-discussed-non-telephony', 'Bereavement Support Payment') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_bsp">
                    Bereavement Support Payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_chm" name="what-benefit-discussed-non-telephony" type="checkbox" value="Child Maintenance" {{ checked ('what-benefit-discussed-non-telephony', 'Child Maintenance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_chm">
                    Child Maintenance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_cwp" name="what-benefit-discussed-non-telephony" type="checkbox" value="Cold_Weather_Payment" {{ checked ('what-benefit-discussed-non-telephony', 'Cold Weather Payment') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_cwp">
                    Cold Weather Payment
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_dla" name="what-benefit-discussed-non-telephony" type="checkbox" value="dla" {{ checked ('what-benefit-discussed-non-telephony', 'Disability Living Allowance 65+') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_dla">
                    Disability Living Allowance 65+
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_dla_adlt" name="what-benefit-discussed-non-telephony" type="checkbox" value="dla" {{ checked ('what-benefit-discussed-non-telephony', 'Disability Living Allowance Adult') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_dla_adlt">
                    Disability Living Allowance Adult
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_dla_chld" name="what-benefit-discussed-non-telephony" type="checkbox" value="dla" {{ checked ('what-benefit-discussed-non-telephony', 'Disability Living Allowance Child') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_dla_chld">
                    Disability Living Allowance Child
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_jsa" name="what-benefit-discussed-non-telephony" type="checkbox" value="jsa" {{ checked ('what-benefit-discussed-non-telephony', "Income-based Job Seeker's Allowance") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_jsa">
                    Income-based Job Seeker's Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_nsjsa" name="what-benefit-discussed-non-telephony" type="checkbox" value="nsjsa" {{ checked ('what-benefit-discussed-non-telephony', "New Style Job Seeker's Allowance") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_nsjsa">
                    New Style Job Seeker's Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_ma" name="what-benefit-discussed-non-telephony" type="checkbox" value="ma" {{ checked ('what-benefit-discussed-non-telephony', 'Maternity Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_ma">
                    Maternity Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_pc" name="what-benefit-discussed-non-telephony" type="checkbox" value="pc" {{ checked ('what-benefit-discussed-non-telephony', 'Pension Credit') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_pc">
                    Pension Credit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_sdb" name="what-benefit-discussed-non-telephony" type="checkbox" value="Scottish devolved benefits" {{ checked ('what-benefit-discussed-non-telephony', 'Scottish devolved benefits') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_sdb">
                    Scottish devolved benefits
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_sp" name="what-benefit-discussed-non-telephony" type="checkbox" value="State Pension" {{ checked ('what-benefit-discussed-non-telephony', 'State Pension') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_sp">
                    State Pension
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_sda" name="what-benefit-discussed-non-telephony" type="checkbox" value="Severe Disablement Allowance" {{ checked ('what-benefit-discussed-non-telephony', 'Severe Disablement Allowance') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_sda">
                    Severe Disablement Allowance
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_uc" name="what-benefit-discussed-non-telephony" type="checkbox" value="Universal Credit" {{ checked ('what-benefit-discussed-non-telephony', 'Universal Credit') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_uc">
                    Universal Credit
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_wfp" name="what-benefit-discussed-non-telephony" type="checkbox" value="Winter_Fuel_Payment" {{ checked ('what-benefit-discussed-non-telephony', 'Winter Fuel Payment') }}>
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_wfp">
                    Winter Fuel Payment
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="benefit_notDiscussed" name="what-benefit-discussed-non-telephony" type="checkbox" value="General information" data-aria-controls="conditional-contact" data-behaviour="exclusive" {{ checked ('what-benefit-discussed-non-telephony', 'General information') }} >
                  <label class="govuk-label govuk-checkboxes__label" for="benefit_notDiscussed">
                    General information
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="30">
                    <label class="govuk-label" for="with-hint">
                      Enter the subject of the contact in a few words.
                    </label>
                    <div id="no-benefit-hint" class="govuk-hint">
                      For example, 'change of address'.
                    </div>
                    <input class="govuk-input govuk-js-character-count  govuk-!-width-one-half" id="with-hint" name="noBenefitReason" type="text" aria-describedby="with-hint-info with-hint-hint" maxlength="30" value="{{data ['noBenefitReason']}}" >
                    <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                      Must be no more than 30 characters
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
