.sl-trace-results-error {
  padding: 0 !important;
  background-color: #fff3dc !important;
  margin-top: 30px;
  margin-bottom: 30px;
  h3 {
    margin: 0;
  }
}

#sl-alert-results-container {
  padding: 20px;
}
