{% extends "layout.html" %}

{% block pageTitle %}
  You have added information about this call
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/common/phase-banner.html" %}
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You have added information about this call</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-8">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What did you discuss with the caller?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['addNote'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-Note.html">
            Add or change<span class="govuk-visually-hidden"> More information</span>
          </a>
        </dd>
      </div>
    </dl> 
    <form action="/prototype-dev-baseline/mvp-1_0/goToHome" method="post" novalidate>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to add another benefit or reason for this call?
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="unHappyAddreason-1" name="unHappyAddreason" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="unHappyAddreason-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="unHappyAddreason-2" name="unHappyAddreason" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="unHappyAddreason-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
    </div>

{% endblock %}
