{% extends "layout.html" %}

{% block pageTitle %}
  Do you want to update the call details you have added?
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  {% set checkNoteAdded =  data['addNote'] %}
  {% if checkNoteAdded =='' %}
  <!-- Ask to complete session -->
  <form class="form" action="add-more-call-details" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {% if (data['What-type-of-contact']== 'Inbound phone call with') or (data['What-type-of-contact']== 'What-type-of-contact') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the call details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Inbound letter from') or (data['What-type-of-contact']== 'Outbound letter to') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the letter details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Inbound email from') or (data['What-type-of-contact']== 'Outbound email to') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the email details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Inbound notification from') or (data['What-type-of-contact']== 'Outbound notification to') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the notification details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Face to face conversation at DWP office with') or (data['What-type-of-contact'] == 'Face to face conversation at Jobcentre with') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the face to face conversation details you have added?
          </h1>
          {%endif%}
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-add-more-detail-1" name="do-you-want-to-add-more-call-detail" type="radio" value="Yes I want to add">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-add-more-detail-1">
              Add another benefit or query
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-add-more-detail-2" name="do-you-want-to-add-more-call-detail" type="radio" value="Add a note">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-add-more-detail-2">
              Add a note
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-add-more-detail-3" name="do-you-want-to-add-more-call-detail" type="radio" value="Complete phone call">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-add-more-detail-3">
              Start Service again
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>
  {%else%} 
  <form class="form" action="add-more-call-details" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {% if (data['What-type-of-contact']== 'Inbound phone call with') or (data['What-type-of-contact']== 'What-type-of-contact') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the call details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Inbound letter from') or (data['What-type-of-contact']== 'Outbound letter to') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the letter details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Inbound email from') or (data['What-type-of-contact']== 'Outbound email to') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the email details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Inbound notification from') or (data['What-type-of-contact']== 'Outbound notification to') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the notification details you have added?
          </h1>
          {%endif%}
          {% if (data['What-type-of-contact']== 'Face to face conversation at DWP office with') or (data['What-type-of-contact'] == 'Face to face conversation at Jobcentre with') %}
          <h1 class="govuk-fieldset__heading">
            Do you want to update the face to face conversation details you have added?
          </h1>
          {%endif%}
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-add-more-detail-1" name="do-you-want-to-add-more-call-detail" type="radio" value="Yes I want to add">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-add-more-detail-1">
              Add another benefit or query
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-add-more-detail-2" name="do-you-want-to-add-more-call-detail" type="radio" value="Change your note">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-add-more-detail-2">
              Change your note
            </label>
          </div>
          <div class="govuk-radios__divider">or</div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="do-you-want-to-add-more-detail-3" name="do-you-want-to-add-more-call-detail" type="radio" value="Complete phone call">
            <label class="govuk-label govuk-radios__label" for="do-you-want-to-add-more-detail-3">
              Start Service again
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button">
      Save and continue
    </button>
  </form>
  {%endif%}
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <div class="govuk-!-width-two-thirds">
      {% if (data['What-type-of-contact']== 'Inbound phone call with') or (data['What-type-of-contact']== 'What-type-of-contact') %}
      <h2 class="govuk-heading-m">You have added details about this call</h2>
      {%endif%}
      {% if (data['What-type-of-contact']== 'Inbound letter from') or (data['What-type-of-contact']== 'Outbound letter to') %}
      <h2 class="govuk-heading-m">You have added details about this letter</h2>
      {%endif%}
      {% if (data['What-type-of-contact']== 'Inbound email from') or (data['What-type-of-contact']== 'Outbound email to') %}
      <h2 class="govuk-heading-m">You have added details about this email</h2>
      {%endif%}
      {% if (data['What-type-of-contact']== 'Inbound notification from') or (data['What-type-of-contact']== 'Outbound notification to') %}
      <h2 class="govuk-heading-m">You have added details about this notification</h2>
      {%endif%}
      {% if (data['What-type-of-contact']== 'Face to face conversation at DWP office with') or (data['What-type-of-contact'] == 'Face to face conversation at Jobcentre with') %}
      <h2 class="govuk-heading-m">You have added details about this conversation</h2>
      {%endif%}
      
      {% set benefits =  data['what-benefit-discussed'] %}
      {% set questionESA = data['questionAsk-esa'] %}
      {% set questionPIP = data['questionAsk-pip'] %}
      {% set benefitLength =  data['what-benefit-discussed'] | length %}
      {% if benefitLength >1 %}
      <table class="govuk-summary-list govuk-!-margin-bottom-0">
        <tbody class="govuk-summary-list">
          {% for benefitsName in data['what-benefit-discussed'] %}
          <!-- for ESA -->
          {% if benefitsName == 'Employment and Support Allowance' %}
          <tr class="govuk-summary-list__row">
            <th scope="row" class="govuk-summary-list__key">
              Employment and Support Allowance
            </th>
            <td class="govuk-summary-list__value">
              {%if data['contact-type-esa'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsESA in data['contact-type-esa'] %}
                  <li>{{ questionsESA or "No inquiry selected"}}</li>
                  {% endfor %}
                </ul>
              {%else%}
              <p>{{data['contact-type-esa']}}</p>
              {%endif%}
            </td>
          </tr>
          {%endif%}

          <!-- for pip -->
          {% if benefitsName == 'Personal Independence Payment' or benefitsName == 'Attendance Allowance' or benefitsName == 'dla' %}
          <tr class="govuk-summary-list__row">
            <th scope="row" class="govuk-summary-list__key">
              Personal Independence Payment
            </th>
            <td class="govuk-summary-list__value">
              {%if data['contact-type-pip'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsPIP in data['contact-type-pip'] %}
                  <li>{{ questionsPIP }}</li>
                  {% endfor %}
                </ul>
              {%else%}
                <p>{{data['contact-type-pip']}}</p>
                {%endif%}
            </td>
          </tr>
          {%endif%}

          <!-- for dla active -->
          {% if benefitsName == 'Disability Living Allowance' %}
          <tr class="govuk-summary-list__row">
            <th scope="row" class="govuk-summary-list__key">
              {{ data['dla-type'] }}
            </th>
            <td class="govuk-summary-list__value">
              {%if data['contact-type-dla'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsDLA in data['contact-type-dla'] %}
                  <li>{{ questionsDLA }}</li>
                  {% endfor %}
                </ul>
              {%else%}
                <p>{{data['contact-type-dla']}}</p>
                {%endif%}
            </td>
          </tr>
          {%endif%}

          <!-- for dla static -->
          {% if benefitsName == 'Disability Living Allowance 65+' or benefitsName == 'Disability Living Allowance Adult' or benefitsName == 'Disability Living Allowance Child' %}
          <tr class="govuk-summary-list__row">
            <th scope="row" class="govuk-summary-list__key">
              {{benefitsName}}
            </th>
            <td class="govuk-summary-list__value">
              {%if data['contact-type-dla'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsDLA in data['contact-type-dla'] %}
                  <li>{{ questionsDLA }}</li>
                  {% endfor %}
                </ul>
              {%else%}
                <p>{{data['contact-type-dla']}}</p>
                {%endif%}
            </td>
          </tr>
          {%endif%}


          <!-- for General CoC -->
          {% if benefitsName == 'General change of circumstance' %}
          <tr class="govuk-summary-list__row">
            <th scope="row" class="govuk-summary-list__key">
              General change of circumstance
            </th>
            <td class="govuk-summary-list__value">
              {%if data['contact-type-gCoC'] | length > 1 %}
                <ul class="govuk-list govuk-list--bullet">
                  {% for questionsgCoC in data['contact-type-gCoC'] %}
                  <li>{{ questionsgCoC }}</li>
                  {% endfor %}
                </ul>
              {%else%}
                <p>{{data['contact-type-gCoC']}}</p>
              {%endif%}
            </td>
          </tr>
          {%endif%}
        {% endfor %}
          <tr class="govuk-summary-list__row">
            <th scope="row" class="govuk-summary-list__key">
             Notes
            </th>
            <td class="govuk-summary-list__value">
              {{ data['addNote'] or "Not provided" }}
            </td>
          </tr>
        </tbody>
      </table>
      {%else%}
        {%if data['what-benefit-discussed'] == 'General change of circumstance' %}
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                General change of circumstance
              </th>
              <td class="govuk-summary-list__value">
                {%if data['contact-type-gCoC'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for contactTopicsgCoC in data['contact-type-gCoC'] %}
                    <li>{{ contactTopicsgCoC }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type-gCoC']}}</p>
                {%endif%}
              </td>
            </tr>
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">
              Notes added
              </th>
              <td class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </td>
            </tr>
          </tbody>
        </table>
        {%else%}
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                <!-- {{ data['what-benefit-discussed'] }} -->
                {%if data['what-benefit-discussed']== "Disability Living Allowance" %}
                {{ data['dla-type'] }}
                {%else%}
                {{ data['what-benefit-discussed'] }}
                {%endif%}
              </th>
              <td class="govuk-summary-list__value">
                {%if data['contact-type'] | length > 1 %}
                  <ul class="govuk-list govuk-list--bullet">
                    {% for contactTopics in data['contact-type'] %}
                    <li>{{ contactTopics }}</li>
                    {% endfor %}
                  </ul>
                {%else%}
                  <p>{{data['contact-type']}}</p>
                {%endif%}
              </td>
            </tr>
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key">
              Notes added
              </th>
              <td class="govuk-summary-list__value">
                {{ data['addNote'] or "Not provided" }}
              </td>
            </tr>
          </tbody>
        </table>
        {%endif%}
      {%endif%}
    </div>
  </div>
</div>

{% endblock %}


