{% extends "layout.html" %}

{% block pageTitle %}
What was the call about?
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#">Select what was the call about?</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <span class="govuk-caption-l">Step 2 of 3</span>

        <h1 class="govuk-heading-l">What was the call about?</h1>
        <form action="questions-answered" method="post" novalidate>
        {% set benefits =  data['what-benefit-discussed'] %}
        {% set benefitLength =  data['what-benefit-discussed'] | length %} 
        {% if benefitLength >1 %}
        <!-- for ESA -->
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading govuk-heading-m">
                Employment and Support Allowance
              </h2>
            </legend>
            <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select what was the call about?
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nextPaymentDate" name="questionAsk-esa" type="checkbox" value="Next payment date" {{ checked ('questionAsk-esa', 'Next payment date') }}>
                <label class="govuk-label govuk-checkboxes__label" for="nextPaymentDate">
                  Next payment date
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nextPaymentAmount" name="questionAsk-esa" type="checkbox" value="Next payment amount" {{ checked ('questionAsk-esa', 'Next payment amount') }}>
                <label class="govuk-label govuk-checkboxes__label" for="nextPaymentAmount">
                  Next payment amount
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="missingPayment" name="questionAsk-esa" type="checkbox" value="Missing payment" {{ checked ('questionAsk-esa', 'Missing payment') }}>
                <label class="govuk-label govuk-checkboxes__label" for="missingPayment">
                  Missing payment
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="reasonForChange" name="questionAsk-esa" type="checkbox" value="Change in payment amount" {{ checked ('questionAsk-esa', 'Change in payment amount') }}>
                <label class="govuk-label govuk-checkboxes__label" for="reasonForChange">
                  Change in payment amount
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="otherQ" name="questionAsk-esa" type="checkbox" value="Other questions" {{ checked ('questionAsk-esa', 'Other questions') }}>
                <label class="govuk-label govuk-checkboxes__label" for="otherQ">
                  Something else
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- for PIP -->
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading govuk-heading-m">
                Personal Independence Payment
              </h1>
            </legend>
            <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select what was the call about?
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nextPaymentDate" name="questionAsk-pip" type="checkbox" value="Next payment date" {{ checked ('questionAsk-pip', 'Next payment date') }}>
                <label class="govuk-label govuk-checkboxes__label" for="nextPaymentDate">
                  Next payment date
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nextPaymentAmount" name="questionAsk-pip" type="checkbox" value="Next payment amount" {{ checked ('questionAsk-pip', 'Next payment amount') }}>
                <label class="govuk-label govuk-checkboxes__label" for="nextPaymentAmount">
                  Next payment amount
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="missingPayment" name="questionAsk-pip" type="checkbox" value="Missing payment" {{ checked ('questionAsk-pip', 'Missing payment') }}>
                <label class="govuk-label govuk-checkboxes__label" for="missingPayment">
                  Missing payment
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="reasonForChange" name="questionAsk-pip" type="checkbox" value="Change in payment amount" {{ checked ('questionAsk-pip', 'Change in payment amount') }}>
                <label class="govuk-label govuk-checkboxes__label" for="reasonForChange">
                  Change in payment amount
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="otherQ" name="questionAsk-pip" type="checkbox" value="Other questions" {{ checked ('questionAsk-pip', 'Other questions') }}>
                <label class="govuk-label govuk-checkboxes__label" for="otherQ">
                  Something else
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {% else %}
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading govuk-heading-m">
                <!-- <span class="govuk-caption-l">{{ data['what-benefit-discussed'] }}</span> -->
                {{ data['what-benefit-discussed'] }}
              </h2>
            </legend>
            <p id="passport-issued-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select what was the call about?
            </p>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nextPaymentDate" name="question-asked" type="checkbox" value="Next payment date" {{ checked ('question-asked', 'Next payment date') }}>
                <label class="govuk-label govuk-checkboxes__label" for="nextPaymentDate">
                  Next payment date
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nextPaymentAmount" name="question-asked" type="checkbox" value="Next payment amount" {{ checked ('question-asked', 'Next payment amount') }}>
                <label class="govuk-label govuk-checkboxes__label" for="nextPaymentAmount">
                  Next payment amount
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="missingPayment" name="question-asked" type="checkbox" value="Missing payment" {{ checked ('question-asked', 'Missing payment') }}>
                <label class="govuk-label govuk-checkboxes__label" for="missingPayment">
                  Missing payment
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="reasonForChange" name="question-asked" type="checkbox" value="Change in payment amount" {{ checked ('question-asked', 'Change in payment amount') }}>
                <label class="govuk-label govuk-checkboxes__label" for="reasonForChange">
                  Change in payment amount
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="otherQ" name="question-asked" type="checkbox" value="Something else" {{ checked ('question-asked', 'Something else') }}>
                <label class="govuk-label govuk-checkboxes__label" for="otherQ">
                  Something else
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {%endif%}
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
      </div>
    </div>

{% endblock %}
