{% extends "layout.html" %}

{% block pageTitle %}
Benefit payments
{% endblock %}


{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/header.html" %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/view-only/keydetail-bar" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/phase-banner.html" %}
  <a href="benefit-payment.html" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Benefit details</h1>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-text-align-right">
      <form action="/prototype-dev-baseline/dla-enhancements-and-benefit-adjustments/benefit-details" method="post">
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Start service again
          </button>
      </form>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <!-- nunjuck code -->
  
  {% from "side-navigation/macro.njk" import dwpSideNavigation %}
  
  {{ 
      dwpSideNavigation({
          pageId: "side-navigation-1",
          selectedItem: "benefit-details?benefit=" + data.benefit,
          items: [
              {
                text: "Personal Independence Payment",
                href: "benefit-details?benefit=pip",
                id: "Personal-Independence-Payment"
              },
              {
                text: "Employment and Support Allowance",
                href: "benefit-details?benefit=esa",
                id: "Employment-and-Support-Allowance"
              },
              {
                text: "Disability Living Allowance",
                href: "benefit-details?benefit=dla",
                id: "Disability-Living-Allowance"
              }
          ]
      })
  }}
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% if data.benefit == "pip" %}
      <!-- PIP details -->
      <section class="govuk-!-padding-top-2" id="pip-details">
        <h2 class="govuk-heading-l">
          Personal Independence Payment
        </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              08 November 2020
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              02 December 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              There is only one type of this benefit
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment frequency
            </dt>
            <dd class="govuk-summary-list__value">
              Every 4 weeks
            </dd>
          </div>
        </dl>
        <!-- componets included -->
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Components</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Component</th>
              <th scope="col" class="govuk-table__header">Rate</th>
              <th scope="col" class="govuk-table__header">Amount</th>
              <th scope="col" class="govuk-table__header">Start date</th>
              <th scope="col" class="govuk-table__header">End date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Daily living</td>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">£329.20</td>
              <td class="govuk-table__cell">08 November 2020</td>
              <td class="govuk-table__cell">02 December 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Mobility</td>
              <td class="govuk-table__cell">Enhanced</td>
              <td class="govuk-table__cell">£229.80</td>
              <td class="govuk-table__cell">08 November 2020</td>
              <td class="govuk-table__cell">02 December 2023</td>
            </tr>
          </tbody>
        </table>
        <!-- Adjustment to entitlement -->
        <table class="govuk-table govuk-!-margin-top-6">
          <caption class="govuk-table__caption govuk-table__caption--m">Adjustments to entitlement</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 25%;">Reason for adjustment</th>
              <th scope="col" class="govuk-table__header" style="width: 25%;">Adjustment category</th>
              <th scope="col" class="govuk-table__header" style="width: 25%;">Amount</th>
              <th scope="col" class="govuk-table__header" style="width: 25%;">Adjustment period</th>
              <!-- <th scope="col" class="govuk-table__header">End date</th> -->
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Attendance Allowance</td>
              <td class="govuk-table__cell">Overpayment recovery</td>
              <td class="govuk-table__cell"><span>&#8722;</span>£20 every 4 weeks</td>
              <td class="govuk-table__cell">From 31 May 2023 To 31 May 2024</td>
              <!-- <td class="govuk-table__cell">31 May 2024</td> -->
            </tr>
          </tbody>
        </table>
      </section>
      {% endif %}
  
      {% if data.benefit == "esa" %}
      <!-- ESA details -->
      <section class="govuk-!-padding-top-2" id="esa-details">
        <h2 class="govuk-heading-l">
          Employment and Support Allowance
        </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              11 May 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              10 May 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              ESA IR
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment before deductions
            </dt>
            <dd class="govuk-summary-list__value">
              £193.10
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment frequency
            </dt>
            <dd class="govuk-summary-list__value">
              Every 2 weeks
            </dd>
          </div>
        </dl>
        <!-- componets included -->
        <table class="govuk-table govuk-!-margin-top-8">
          <caption class="govuk-table__caption govuk-table__caption--m">Components</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Component</th>
              <th scope="col" class="govuk-table__header">Amount</th>
              <th scope="col" class="govuk-table__header">Start date</th>
              <th scope="col" class="govuk-table__header">End date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Personal allowance</td>
              <td class="govuk-table__cell">£154</td>
              <td class="govuk-table__cell">11 May 2023</td>
              <td class="govuk-table__cell">10 May 2024</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Client group premium</td>
              <td class="govuk-table__cell">£39.10</td>
              <td class="govuk-table__cell">11 May 2023</td>
              <td class="govuk-table__cell">10 May 2024</td>
            </tr>
          </tbody>
        </table>
        <!-- deductions -->
        <table class="govuk-table govuk-!-margin-top-8">
          <caption class="govuk-table__caption govuk-table__caption--m">Deductions to payment</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Type of deduction</th>
              <th scope="col" class="govuk-table__header">Weekly amount</th>
              <th scope="col" class="govuk-table__header">Start date</th>
              <th scope="col" class="govuk-table__header">End date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Water rates</td>
              <td class="govuk-table__cell">£10</td>
              <td class="govuk-table__cell">09 June 2023</td>
              <td class="govuk-table__cell">No end date</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total deductions</th>
              <td class="govuk-table__cell" colspan="3">£10</td>
              <!-- <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td> -->
            </tr>
          </tbody>
        </table>
      </section>
      {% endif %}
  
      {% if data.benefit == "dla" %}
      <!-- DLA details -->
      <section class="govuk-!-padding-top-2" id="dla-details">
        <h2 class="govuk-heading-l">
          Disability Living Allowance
        </h2>
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              08 November 2020
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              02 December 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Benefit type
            </dt>
            <dd class="govuk-summary-list__value">
              There is only one type of this benefit
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Payment frequency
            </dt>
            <dd class="govuk-summary-list__value">
              Every 4 weeks
            </dd>
          </div>
        </dl>
        <!-- componets included -->
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Components</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Component</th>
              <th scope="col" class="govuk-table__header">Rate</th>
              <th scope="col" class="govuk-table__header">Amount</th>
              <th scope="col" class="govuk-table__header">Start date</th>
              <th scope="col" class="govuk-table__header">End date</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Care</td>
              <td class="govuk-table__cell">Standard</td>
              <td class="govuk-table__cell">£329.20</td>
              <td class="govuk-table__cell">08 November 2020</td>
              <td class="govuk-table__cell">02 December 2023</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Mobility</td>
              <td class="govuk-table__cell">Enhanced</td>
              <td class="govuk-table__cell">£229.80</td>
              <td class="govuk-table__cell">08 November 2020</td>
              <td class="govuk-table__cell">02 December 2023</td>
            </tr>
          </tbody>
        </table>
        <!-- Adjustment to entitlement -->
        <table class="govuk-table govuk-!-margin-top-6">
          <caption class="govuk-table__caption govuk-table__caption--m">Adjustments to entitlement</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width: 25%;">Reason for adjustment</th>
              <th scope="col" class="govuk-table__header" style="width: 25%;">Adjustment category</th>
              <th scope="col" class="govuk-table__header" style="width: 25%;">Amount</th>
              <th scope="col" class="govuk-table__header" style="width: 25%;">Adjustment period</th>
              <!-- <th scope="col" class="govuk-table__header">End date</th> -->
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Invalid Vehicle Scheme recovery</td>
              <td class="govuk-table__cell">Arrears cannot be paid</td>
              <td class="govuk-table__cell"><span>&#8722;</span>£10 weekly</td>
              <td class="govuk-table__cell">From 31 May 2023 To 31 May 2024</td>
              <!-- <td class="govuk-table__cell">31 May 2024</td> -->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Offset Mobility Allowance</td>
              <td class="govuk-table__cell">Already paid or not to be paid</td>
              <td class="govuk-table__cell"><span>&#8722;</span>£10 weekly</td>
              <td class="govuk-table__cell">From 31 May 2023 To 31 May 2024</td>
              <!-- <td class="govuk-table__cell">31 May 2024</td> -->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Offset mobility agreement</td>
              <td class="govuk-table__cell">Increase to entitlement</td>
              <td class="govuk-table__cell">£50 weekly</td>
              <td class="govuk-table__cell">From 09 June 2023</td>
              <!-- <td class="govuk-table__cell">31 May 2024</td> -->
            </tr>
          </tbody>
        </table>
      </section>
      {% endif %}
    </div>
  </div>

{% endblock %}
