{% extends "layout.html" %}

{% block pageTitle %}
Home
{% endblock %}


{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/header.html" %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/phase-banner.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h1 class="govuk-heading-xl">Home</h1>
        </div>
        <div class="govuk-grid-column-one-half">
          <form action="/prototype-dev-baseline/mvp-1_3/add-call/what-benefits-discussed" method="post">
            <div class="govuk-button-group">
              {% set benefits =  data['what-benefit-discussed'] | length %}
              {% set benefitAdded = data['Do-you-want-to-complete-the-call'] %}
              {%if benefitAdded != '' %}
              <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button"  onclick="global_var['a']['b']=1;" formaction="/prototype-dev-baseline/mvp-1_3/add-call/what-benefits-discussed">
                Add or change call details
              </button>
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/prototype-dev-baseline/mvp-1_3/add-call/do-you-want-to-complete-call">
                Start service again
              </button>
              {%else%}
              <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button"  onclick="global_var['a']['b']=1;" formaction="/prototype-dev-baseline/mvp-1_3/add-call/what-benefits-discussed">
                Add call details
              </button>
              {%endif%}
              <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/prototype-dev-baseline/mvp-1_3/add-call/do-you-want-to-complete-call">
                Complete phone call
              </button> -->
            </div>
          </form>
        </div>
      </div>
        <!-- to be card styel -->
        <ul class="govuk-grid-row nhsuk-card-group">
          <li class="govuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link govuk-link" href="personal-details.html">Personal details</a>
                </h2>
                <p class="nhsuk-card__description">View personal details, including contact numbers and addresses.</p>
              </div>
            </div>
          </li>
          <li class="govuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link govuk-link" href="contact-history.html">Contact history</a>
                </h2>
                <p class="nhsuk-card__description">View notes and details about previous contact.</p>
              </div>
            </div>
          </li>
          <li class="govuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link govuk-link" href="benefit-payment.html">Benefit payments</a>
                </h2>
                <p class="nhsuk-card__description">View details, including payment frequency and amounts.</p>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>

{% endblock %}
