{% extends "layout.html" %}

{% block pageTitle %}
  Personal details
{% endblock %}


{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/header.html" %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
{% include "/prototype-dev-baseline/mvp-1_3/common/phase-banner.html" %}
<!-- <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-display-none-print">Back</a> -->
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Personal details</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Personal details</h1>
      </div>
      <div class="govuk-grid-column-one-half">
        <form action="/prototype-dev-baseline/mvp-1_3/add-call/what-benefits-discussed" method="post">
          <div class="govuk-button-group">
            {% set benefits =  data['what-benefit-discussed'] | length %}
            {% set benefitAdded = data['Do-you-want-to-complete-the-call'] %}
            {%if benefitAdded != '' %}
            <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button"  onclick="global_var['a']['b']=1;" formaction="/prototype-dev-baseline/mvp-1_3/add-call/what-benefits-discussed">
              Add or change call details
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/prototype-dev-baseline/mvp-1_3/add-call/do-you-want-to-complete-call">
              Start service again
            </button>
            {%else%}
            <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button"  onclick="global_var['a']['b']=1;" formaction="/prototype-dev-baseline/mvp-1_3/add-call/what-benefits-discussed">
              Add call details
            </button>
            {%endif%}
            <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/prototype-dev-baseline/mvp-1_3/add-call/do-you-want-to-complete-call">
              Complete phone call
            </button> -->
          </div>
        </form>
      </div>
    </div>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Christopher Fox
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Appointee
        </dt>
        <dd class="govuk-summary-list__value">
          George Wood
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show date of birth
              </span>
            </summary>
            <div class="govuk-details__text">
              15 October 1977
            </div>
          </details>
        </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['nino-number-ur-8'] | upper  }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show nationality
                </span>
              </summary>
              <div class="govuk-details__text">
                British citizen
              </div>
            </details>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Home address
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Show home address
                </span>
              </summary>
              <div class="govuk-details__text">
                5 Highfield Av <br>Meltham <br>Holmfirth <br>HD9 5RF
              </div>
            </details>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Awarded benefits
          </dt>
          <dd class="govuk-summary-list__value">
            <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Carer's Allowance
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Start date</th>
                        <th scope="col" class="govuk-table__header">End date</th>
                      </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">23 June 2023</td>
                      <td class="govuk-table__cell">No end date</td>
                    </tr>
                  </tbody>
              </table>
              </div>
            </details>
            <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Employment and Support Allowance
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Start date</th>
                      <th scope="col" class="govuk-table__header">End date</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">11 May 2023</td>
                      <td class="govuk-table__cell">10 May 2024</td>
                    </tr>
                  </tbody>
              </table>
              </div>
            </details>
            <details class="govuk-details govuk-!-margin-bottom-3" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Personal Independence Payment
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Start date</th>
                      <th scope="col" class="govuk-table__header">End date</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">08 November 2020</td>
                      <td class="govuk-table__cell">02 December 2023</td>
                    </tr>
                  </tbody>
              </table>
              </div>
            </details>
            <!-- <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Benefit</th>
                  <th scope="col" class="govuk-table__header">Start date</th>
                  <th scope="col" class="govuk-table__header">End date</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Carer's Allowance</td>
                  <td class="govuk-table__cell">23 June 2023</td>
                  <td class="govuk-table__cell">No end date</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Employment and Support Allowance</td>
                  <td class="govuk-table__cell">11 May 2023</td>
                  <td class="govuk-table__cell">10 May 2024</td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Personal Independence Payment</td>
                  <td class="govuk-table__cell">08 November 2020</td>
                  <td class="govuk-table__cell">02 December 2023</td>
                </tr>
              </tbody>
            </table> -->
          </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">Contact details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile numbers
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show mobile numbers
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body govuk-body govuk-!-margin-bottom-2">07700 900 000</p>
              <p class="govuk-body govuk-body govuk-!-margin-bottom-2">07700 900 457</p>
              <p class="govuk-body govuk-body govuk-!-margin-bottom-2">+1 123 1231234</p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Landline numbers
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show landline numbers
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body govuk-body govuk-!-margin-bottom-2">020 1234 1234</p>
              <p class="govuk-body govuk-body govuk-!-margin-bottom-2">0117 123 1234</p>
              <p class="govuk-body govuk-body govuk-!-margin-bottom-2">01234 123 123</p>
            </div>
          </details>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address we can send letters to
        </dt>
        <dd class="govuk-summary-list__value">
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show address we can send letters to 
              </span>
            </summary>
            <div class="govuk-details__text">
              5 Highfield Av <br>Meltham <br>Holmfirth <br>HD9 5RF
            </div>
          </details>
        </dd>
      </div>
    </dl>
    <p class="govuk-body">
      <a href="home" class="govuk-link">Back to home</a>
    </p>
  </div>
</div>

{% endblock %}
