{% extends "layout.html" %}

{% block pageTitle %}
Who were you trying to contact?
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/header_keydetail_bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/prototype-dev-baseline/mvp-1_3/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/prototype-dev-baseline/mvp-1_3/add-log-outbound-call-attempt-failed" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Who were you trying to contact?
              </h1>
            </legend>
            <div class="govuk-radios govuk-!-margin-top-3" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Who-is-the-engagement-with-1" name="Who-is-the-phone-call-with-ur8" type="radio" value="Christopher Fox" aria-describedby="Customer-hint" onchange="handleRadio('Who-is-the-engagement-with','(Customer)')">
                <label class="govuk-label govuk-radios__label" for="Who-is-the-engagement-with-1">
                  Christopher Fox
                </label>
                <!-- <div id="Customer-hint" class="govuk-hint govuk-radios__hint" name="govuk-hint govuk-radios__hint">
                  Customer
                </div> -->
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="Who-is-the-engagement-with-2" name="Who-is-the-phone-call-with-ur8" type="radio" value="George Wood" aria-describedby="Corporate-PAB-hint" onchange="handleRadio('Who-is-the-engagement-with','(appointee)')">
                <label class="govuk-label govuk-radios__label" for="Who-is-the-engagement-with-2">
                  George Wood
                </label>
                <div id="Corporate-PAB-hint" class="govuk-hint govuk-radios__hint" name="govuk-hint govuk-radios__hint">
                  Corporate Personal Acting Body 
                  <!-- <input class="govuk-input govuk-visually-hidden" id="Who-is-the-engagement-with-1" name="Who-is-the-engagement-with-1" type="text" value="(Corporate PAB)" hidden> -->
                </div>
              </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="Who-is-the-engagement-with-3" name="Who-is-the-phone-call-with-ur8" type="radio" value="Susan Jones" aria-describedby="Partner-hint" onchange="handleRadio('Who-is-the-engagement-with','(Partner)')">
              <label class="govuk-label govuk-radios__label" for="Who-is-the-engagement-with-3">
                Susan Jones
              </label>
              <div id="Partner-hint" class="govuk-hint govuk-radios__hint" name="govuk-hint govuk-radios__hint">
                Partner 
                <!-- <input class="govuk-input govuk-visually-hidden" id="Who-is-the-engagement-with-1" name="Who-is-the-engagement-with-1" type="text" value="(Partner)" hidden> -->
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="Who-is-the-engagement-with-5" name="Who-is-the-phone-call-with-ur8" type="radio" value="someone else">
              <label class="govuk-label govuk-radios__label" for="Who-is-the-engagement-with-5">
                Someone else  
              </label>
            </div>
            <input class="govuk-input govuk-visually-hidden" id="Who-is-the-engagement-with" name="Who-is-the-engagement-with" type="text" autocomplete="on" hidden>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    function handleRadio(name, value) {
      document.getElementById(name).value = value;
    }
  </script>
    
{% endblock %}
