{% extends "layout.html" %}

{% block pageTitle %}
  Contact history
{% endblock %}

{% block header %}
{% include "prototype-sprint-wise/sprint23/common/opt2/header-navigation_contactHistory-active.html" %}
{% include "prototype-sprint-wise/sprint23/common/opt2/keydetail-bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-sprint-wise/sprint23/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
{% include "prototype-dev-baseline/common/phase-banner.html" %}
<!-- <div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="home-page.html">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="#">Contact history</a>
  </li>
</ol>
</div> -->
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Details about incoming telephone call on 28 July 2023</h1>
      </div>
      <!-- call started at -->
      <div class="govuk-grid-column-full">
              <span class="govuk-caption-m">Started at</span>
              <h2 class="govuk-heading-m">Fri 28 Jul 2023,11:00</h2>
      </div>
      <!-- Benefits discussed -->
      <div class="govuk-grid-column-full govuk-!-margin-top-4 govuk-!-margin-bottom-4">
            <div class="colleague-view-upcomming-payment-benefit">
              <h2 class="govuk-heading-m">
                Benefits discussed
              </h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header ">Benefits</th>
                    <th scope="col" class="govuk-table__header">Type of enquiry</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Personal Independence Payment</td>
                    <td class="govuk-table__cell">Next payment amount</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                  </tr>
                </tbody>
              </table>
              <!-- more information about call -->
              <div class="govuk-!-margin-bottom-9 govuk-!-margin-top-9">
                <h2 class="govuk-heading-m">More information about this call</h2>
                <p class="govuk-body govuk-!-margin-bottom-2">Spoke to claimant to check hospital dates, confirmed approx 8 days , no change in the payment</p> 
              </div>
          </div>
      </div>
        <!-- Call and Agent information -->
        <div class="govuk-grid-column-full colleague-view-container-light-grey govuk-!-margin-bottom-4">
            <div class="govuk-grid-row"> 
                   <div class="govuk-grid-column-one-third">
                     <span class="govuk-caption-m">Caller</span>
                      <div>
                        <span class="govuk-body govuk-!-font-weight-bold">Christopher Fox (Customer)</span>
                      </div>
                    </div>
                    <div class="govuk-grid-column-one-third">
                       <span class="govuk-caption-m">Call taken by</span>
                      <div>
                        <span class="govuk-body govuk-!-font-weight-bold">Agent (1003)</span>
                      </div>
                     </div>
                    <div class="govuk-grid-column-one-third">
                        <span class="govuk-caption-m">Length of call</span>
                         <div>
                          <span class="govuk-body govuk-!-font-weight-bold">15 Minutes</span>
                        </div>
                    </div>
            </div>
        </div>
      <!-- call ended at -->
      <!-- <div class="govuk-grid-column-full">
        <span class="govuk-caption-m">Ended at</span>
        <h2 class="govuk-heading-m">Fri 28 Jul 2023,11:15</h2>
      </div> -->
  </div>

{% endblock %}
