{% extends "layout.html" %}

{% block pageTitle %}
Error: Select whether this is an incoming or outgoing telephone call
{% endblock %}

{% block header %}
  {% include "prototype-sprint-wise/sprint23/common/opt2/header_keydetail_bar.html" %}
{% endblock %}

{% block footer %}
  {% include "sprint23/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "sprint23/common/phase-banner--user-research.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="../call-with" method="post">
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#incoming-telephone-call">Select whether this is an incoming or outgoing telephone call</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Is this an incoming or outgoing telephone call?
              </h1>
            </legend>
            <p id="whatTypeOfCall-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select whether this is an incoming or outgoing telephone call
            </p>
            <div class="govuk-radios govuk-!-margin-top-5" data-module="govuk-radios">
              <div class="govuk-radios__item">
               <input class="govuk-radios__input" id="incoming-telephone-call" name="What-type-of-engagement-is-it-sprint23-opt2" type="radio" value="Incoming call">
                <label class="govuk-label govuk-radios__label" for="incoming-telephone-call">
                  Incoming
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="incoming-telephone-call-2" name="What-type-of-engagement-is-it-sprint23-opt2" type="radio" value="Outgoing call">
                <label class="govuk-label govuk-radios__label" for="incoming-telephone-call-2">
                  Outgoing
                </label>
              </div>
            </div>
          </fieldset>
        </div>
          <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>
  </div>

{% endblock %}
