<div id="topofpage">
    <a
      href="#maincontent"
      class="govuk-skip-link"
      (click)="skipToMainContent($event)"
      (keydown.space)="skipToMainContent($event)"
      tabindex="0"
      role="link"
      >Skip to main content</a
    >
  </div>

      <div class="sticky-header">
        <header
          class="sl-govuk-header sl-not-printable"
          role="banner"
          data-module="govuk-header">
          <div
            class="govuk-header__container app-width-container sl-header-color-production home-width">
            <div class="sl-flex-row sl-nav-wrapper">
              <div style="width: 100%">
                <div
                  class="govuk-header__logo"
                  style="display: inline-block; padding-right: 0">
                  <a
                    tabindex="0"
                    role="link"
                    *ngIf="model.headerBarConfig.EnableHomePageLink"
                    href="./"
                    class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype">
                      <span class="sl-logo-text">One view</span>
                    </span>
                  </a>
                </div>


  
                {# TODO: app search 
                <app-nino-search
                  [isHomePage]="false"
                  *ngIf="model.headerBarConfig.NinoSearchBar"></app-nino-search>
                #}
                <!-- // The Menu link is removed in version 5 of the design all integrations will be on the home page and footer//<div
                  class="sl-flex-row sl-flex-gap-5 sl-nav-align-center app-menu-container">

                  {%
                    include "../menu/menu.component.html"
                  %}
                  {# TODO: menu 
                  <app-menu *ngIf="model.headerBarConfig.Menu"></app-menu>
                #}
                </div> -->
              </div>
            </div>
          </div>
        </header>
  
        <div class="phase-banner-container">
          <div class="app-width-container govuk-phase-banner govuk-phase-banner__home sl-not-printable home-width">
            <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag"> BETA </strong><span
                class="govuk-phase-banner__text"> This is a new service - your <a class="govuk-link" href="/feedback-page">
                  feedback</a> will help us to improve it. </span></p>
          </div>
        </div>

  </div>


  <app-jumbo-nino-search-bar>
    <head >
      <title >Searchlight - Home - Beta</title>
    </head>
    <div class="jumbotron">
      <div class="jumbotron-content">
        <h1 tabindex="-1" class="maincontent govuk-heading-l search-title"> Enter a National Insurance number or Organisation number</h1>
        <p class="search-title">A National Insurance number can be found on the person's National Insurance card, benefit letter, payslip or P60. For example, QQ 12 34 56 Q</p>
        <div>
          <app-nino-search>
            <form action="customer-record" method="post"</form>
            <div class="nino-search-container">
              <div class="nino-search">
                <input  type="text" maxlength="10" id="nino-search-input" autocomplete="off" name="nino-search" aria-label="search input" class="nino-search-maincontent nino-search-input ng-untouched ng-pristine ng-valid" placeholder="Enter a National Insurance or Organisation number">
                <button id="btn-search" aria-label="search" class="nino-search-button"><em class="fa fa-search"></em></button>
              </div>
            </div>
          </app-nino-search>
        </div>
        <div class="jumbotron-link">
        <a href="trace.html">Search without a National Insurance number</a>
      </div>
      </div>
    </div>
  </app-jumbo-nino-search-bar>