{% extends "layout.html" %}

{% block pageTitle %}
  Contact history
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/header.html" %}
  {% include "prototype-dev-baseline/common/opt2/view-only-user/keydetail-bar.html" %} 
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "prototype-dev-baseline/common/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Details about contact added on Wed 09 August 2023</h1>
    </div>
    <div class="govuk-grid-column-full govuk-!-margin-top-4">
    </div>
      <!-- Benefits discussed -->
      <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
        <div class="colleague-view-upcomming-payment-benefit">
          <!-- more information about call -->
          <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Notes</h2>
            <p class="govuk-body govuk-!-margin-bottom-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut sem nulla pharetra diam sit amet nisl. Aliquet nec ullamcorper sit amet risus nullam eget felis eget. Sed faucibus turpis in eu. Sed viverra tellus in hac habitasse platea.</p> 
          </div>
        </div>
      </div>
        <!-- Call and Agent information -->
        <div class="govuk-grid-column-full colleague-view-container-light-grey govuk-!-margin-bottom-4">
          <div class="govuk-grid-row"> 
            <div class="govuk-grid-column-one-half">
              <span class="govuk-caption-m">Contact with</span>
              <div>
                <span class="govuk-body govuk-!-font-weight-bold">Christopher Fox (Customer)</span>
              </div>
            </div>
            <div class="govuk-grid-column-one-half">
                <span class="govuk-caption-m">Agent</span>
              <div>
                <span class="govuk-body govuk-!-font-weight-bold">Agent (1003)</span>
              </div>
              </div>
          </div>
        </div>
  </div>

{% endblock %}
