{% extends "layout.html" %}

{% block pageTitle %}
Error: Which benefit did you discuss with the caller?
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="../../selectQuestion" method="post" novalidate>
          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#benefit_esa">Select which benefits you discussed with the caller</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govuk-form-group govuk-form-group--error">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Which benefit did you discuss with the caller?
                </h1>
              </legend>
              <p id="whereDoYouLive-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select which benefits you discussed with the caller
              </p>
              <div id="changedName-hint" class="govuk-hint">
                If you discussed more than one, you can add more later.
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="benefit_esa" name="whichBenefitDiscussed" type="radio" value="Employment and Support Allowance (ESA)" {{ checked ('whichBenefitDiscussed', 'Employment and Support Allowance (ESA)') }} >
                  <label class="govuk-label govuk-radios__label" for="benefit_esa">
                    Employment and Support Allowance (ESA)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="benefit_pip" name="whichBenefitDiscussed" type="radio" value="Personal Independence Payment (PIP)" {{ checked ('whichBenefitDiscussed', 'Personal Independence Payment (PIP)') }} >
                  <label class="govuk-label govuk-radios__label" for="benefit_pip">
                    Personal Independence Payment (PIP)
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="benefit_ca" name="whichBenefitDiscussed" type="radio" value="Carer's Allowance (CA)" {{ checked ('whichBenefitDiscussed', "Carer's Allowance (CA)") }}>
                  <label class="govuk-label govuk-radios__label" for="benefit_ca">
                    Carer's Allowance (CA)
                  </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="benefit_notDiscussed" name="whichBenefitDiscussed" type="radio" value="A different benefit" {{ checked ('whichBenefitDiscussed', 'A different benefit') }} >
                  <label class="govuk-label govuk-radios__label" for="benefit_notDiscussed">
                    A different benefit, or we did not discuss a benefit
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
