{% extends "layout.html" %}

{% block pageTitle %}
Do you want to add anything else to the contact history?
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/mvp-1_1/common/header.html" %}
  {% include "prototype-dev-baseline/mvp-1_1/common/opt2/different-type-contact-user/keydetail-bar-start-new-session.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/mvp-1_1/common/phase-banner.html" %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block footer %}
  {% include "prototype-dev-baseline/mvp-1_1/common/footer.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/prototype-dev-baseline/mvp-1_1/start-new-session" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                Do you want to add details about this contact?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="do-you-want-add-Details-yes" name="add-callDetails" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="do-you-want-add-Details-yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="do-you-want-add-Details-no" name="add-callDetails" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="do-you-want-add-Details-no">
                    No, start service again
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

        <!-- <form action="selectBenefit" method="post" novalidate>
          <button class="govuk-button" data-module="govuk-button">
            Add call details
          </button>
      </form> -->
      </div>
    </div>
    <script type="text/script">
      var snum = location.search.substr(location.search.indexOf("=")+1);
      alert(snum); // assumes snum will be sent as "nextPage.html?snum=10"
</script>
{% endblock %}
