{% extends "layout.html" %}

{% block pageTitle %}
  Add a note
{% endblock %}

{% block header %}
  {% include "prototype-dev-baseline/common/header.html" %}
  {% include "prototype-dev-baseline/common/opt2/different-type-contact-user/keydetail-bar-start-new-session.html" %}
{% endblock %}


{% block footer %}
  {% include "prototype-dev-baseline/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "prototype-dev-baseline/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="added-details" method="post" novalidate>
          <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="5000">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="with-hint">
                Add a note
              </label>
            </h1>
            <div id="with-hint-hint" class="govuk-hint">
              You will be able to change this information later.
            </div>
            <textarea class="govuk-textarea govuk-js-character-count govuk-!-margin-bottom-3" id="with-hint" name="addNote" rows="8" aria-describedby="with-hint-info with-hint-hint">{{ data['addNote'] }}</textarea>
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
              You have 500 characters remaining
            </div>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
        </form>

      </div>
    </div>

{% endblock %}
