/* Current, active, hover link style */
@mixin current {
  text-decoration: underline;
  text-decoration-thickness: max(3px, 0.0625rem);
  box-shadow: none;
}

/* Link and button base styles for all header navigation links  */
@mixin header-nav-link-and-button-base {
  box-sizing: border-box;
  color: govuk-colour("light-grey");
  display: block;    
  font-size: 1rem;
  padding: 3px 7px 7px 7px;
  text-decoration: none;
  
  &:focus,
  &:hover {
    @include current;
  }
  
  &.current {
    font-weight: 700;
    @include current;
  }

  @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
    text-align: left;
    padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(3);
  }
}

/* Button overriding styles - extra bits required for button interaction behaviour */
@mixin header-nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  @include dwp-chevron("down", govuk-colour("light-grey"), inline-block);

  &:after {
    left: -4px;
    margin: 0 0 0 govuk-spacing(2);
  }

  &:focus {
    @include current;
    background-color: govuk-colour("yellow");
    color: govuk-colour("black");

    &:after {
      border-bottom-color: govuk-colour("black");
      border-right-color: govuk-colour("black");
    }
  }

  @include govuk-media-query($until: $mobile-nav-break-point ) {
    margin-right: govuk-spacing(3) * -1;
    margin-top: -8px;
  }

  &.dwp-header-navigation__menu-button--open {
    @include dwp-chevron("up", govuk-colour("light-grey"), inline-block);

    font-weight: 700;

    &:focus {
      background-color: govuk-colour("yellow");
      color: govuk-colour("black");
      @include current;
  
      &:after {
        border-bottom-color: govuk-colour("black");
        border-right-color: govuk-colour("black");
      }
    }
  }
}

/* header navigation styles */
.dwp-header-navigation-v3 {
  background-color: govuk-colour("black");

  ul {
    @include govuk-clearfix;
    left: -7px;
    margin: 0 auto;
    max-width: 960px;
    min-height: 34px;
    padding: 0 govuk-spacing(6);
    position: relative;
    
    @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
      padding: 0 7px;
    }
  }

  .js-enabled &.dwp-header-navigation--js-nav ul {
    overflow: hidden;
    height: 34px; 

    @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
      height: 44px;
    }
  }

  li {
    box-sizing: border-box;
    float: left;
    margin: 0 govuk-spacing(3) 5px 0;
    list-style-type: none;

    &.dwp-header-navigation__button-list-item {
      margin-right: 0;
    }

    @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
      margin: 0;
    }
  }

  a, .dwp-header-navigation__overflow-menu-button {
    @include header-nav-link-and-button-base;
  }

  a:focus {
    color: govuk-colour("black");
  }

  .dwp-header-navigation__overflow-menu-button {
    @include header-nav-button; 

    @include govuk-media-query($until: $mobile-nav-break-point) {
      display: none;
    }
  }


  .nav-links--overflow {
    display: none;

    @include govuk-media-query($until: $mobile-nav-break-point) {
      display: block;
    }
  }
  

  .nav-links--overflow.navlinks--overflow-visible {
    display: block;
    position: relative;


    ul {
      height: auto;
      position: relative;
      padding-left: govuk-spacing(6);

      li:first-child {
        margin-left: 0;
      }

      @include govuk-media-query($until: $nojs-mobile-nav-break-point) {
        padding: 0 7px;
      }
    }
    
    a {
      @include govuk-media-query($from: $mobile-nav-break-point) {
        margin: govuk-spacing(1) 0 0 0;
      }

      &:focus,
      &:focus-visible {
        background-color: govuk-colour("yellow");
        color: govuk-colour("black");
      }
    }
  }
  
  @include govuk-media-query($until: $mobile-nav-break-point) {
    ul {
      height: auto;
      overflow: visible;
      padding: 0 govuk-spacing(1);
      text-align: left;

      a, .govuk-header__link  {
        display: inline-block;
        
        &:before {
          display: none;
        }      
      }

      .govuk-header__link {
        &:focus {
          color: govuk-colour("black");
        }
      }
    }

    &.dwp-header-navigation--js-nav ul {
      display: none; 

      &.nav-links--mobile-visible {
        display: block;
        overflow: visible;
        height: auto;
        left: 0;
        padding: 0;

        li {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }

  @include govuk-media-query($from:$mobile-nav-break-point, $until: $nojs-mobile-nav-break-point ) {
    &.dwp-header-navigation--js-nav ul { 
      display: none; 
    }

    .js-enabled & ul {
      display: block; 
    }
  }
  
  @include govuk-media-query($until: $nojs-mobile-nav-break-point ) {
    &.dwp-header-navigation--nojs-mobile ul {
      display: none;
    }
  }
}

/* Internal service header override - Nojs mobile navigation button */
.dwp-header-navigation__nojs-mobile-nav-link {
  display: none;

  @include govuk-media-query($until: $nojs-mobile-nav-break-point ) {
    display: block;
    margin-bottom: 8px;
    margin-left: govuk-spacing(3);
  }
}


/* Internal service header override - Mobile navigation button */
.dwp-header-navigation__mobile-nav-button {
  @include header-nav-link-and-button-base;
  @include header-nav-button; 

  display: none;
  float: right;
  font-size: inherit;
  font-weight: 700;

  &:after {
    margin: 0 0 1px 14px;
  }

  @include govuk-media-query($until: $mobile-nav-break-point ) {
   .js-enabled & { 
     display: inline-block;
    }
  }

  &.dwp-header-navigation__menu-button--open {
    background-color: transparent;
    color: govuk-colour("light-grey");

    &:after {
      border-bottom-color: govuk-colour("light-grey");
      border-right-color: govuk-colour("light-grey");
      margin: 0 0 -2px 14px;
    }
  }
}

/* Internal service header override - applied by js to hide any links in the header component when using js mobile nav */
@include govuk-media-query($until: $mobile-nav-break-point ) {
  .hide-links--mobile {
    a {
      display: none;
    }
  }
}

.dwp-header-navigation-v3 .app-back-to-top {
    display: none;
  }
  
.app-back-to-top__icon {
  display: inline-block;
  height: 1em;
  margin-right: govuk-spacing(2);
  margin-top: (govuk-spacing(1) * -1);
  vertical-align: middle;
  width: 0.8em;
}
  
@include govuk-media-query($until: $nojs-mobile-nav-break-point ) {

  .dwp-flex-container:not(.js-enabled) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .dwp-flex-item {

        &.govuk-width-container {
          order: 1;

          .govuk-main-wrapper {
            width: 100%;
          }
        }

        &.dwp-header-navigation-v3 {
          box-sizing: border-box;
          display: block;
          order: 2;
          background-color: govuk-colour("light-grey");
          padding: govuk-spacing(3) 0;
          width: 100%;

          ul {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 175px; // height fixed to allow 3 columns of links - needs to be adjusted specific for the number of links to display
          }

          li {
            box-sizing: border-box;
            width: 33.333%;
            margin-right: 0;
          }

          a {
            color: govuk-colour("blue");
            display: inline-block;

            &:focus {
              color: govuk-colour("black");
            }
          }
        }

        &.govuk-footer {
            order: 3;
        }
      }
  }
}
  
@include govuk-media-query($until: $mobile-nav-break-point ) {
  .dwp-flex-container:not(.js-enabled) {
    .dwp-flex-item {
      &.dwp-header-navigation-v3 {
        ul {
          height: 265px; // height fixed to allow 2 columns of links - needs to be adjusted specific for the number of links to display
        }

        li {
          width: 50%;
        }
      }
    }
  }
}