  <div class="app-navigation-content">
    <nav class="app-navigation govuk-clearfix app-navigation-margin">
      <ul class="app-navigation__list app-width-container">
        
        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#interactions">Interactions</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#personal-details">Personal Details</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#address">Address</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#contact">Contact</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#interests">Interests</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#benefits">Benefits</a>
        </li>

        <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#relationships">Relationships</a>
        </li>

        <!-- <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#">Income</a>
        </li>  -->

        <!-- <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#">Local authority notes</a>
        </li> -->

        <!-- <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#">Local authority data</a>
        </li> -->

        <!-- <li class="app-navigation__list-item">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link" href="#">Mobility data</a>
        </li> -->

      </ul>
    </nav>
  </div>
