{% extends "layout.html" %}

{% block pageTitle %}
  Check call details you have added
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/ur-8/common/opt2/header_keydetail_bar.html" %}
{% endblock %}


{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}  
  <!-- <a class="govuk-back-link" href="javascript:window.history.back()">Back</a> -->
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Check call details you have added</h1>
    <!-- {% set benefits =  data['whichBenefitDiscussed'] %} -->
    {% set benefitLength =  data['what-benefit-discussed']%}
    {%for benefit in benefitLength%}
    {%if benefit == 'Attendance Allowance' and benefit == 'Employment and Support Allowance' %}
    <div class="govuk-summary-card isGENERALCard">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['what-benefit-discussed'] }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="benefits-discussed.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Questions asked
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for benefit in data['question-asked'] %}
                  <li>{{ benefit }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questions-asked.html">
                  Change
                <span class="govuk-visually-hidden">questions that the caller asked</span>
                </a>
              </td>
            </tr>
            {%for questions in questionAsk %}
            {%if questions == 'Next payment date' %}
            <tr class="govuk-summary-list__row {{isNpd}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third"> Was the next payment date question resolved?</th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpdResolved}}">
                  {{ data['npd_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                Change
                <span class="govuk-visually-hidden">the outcome of the next payment date question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Next payment amount' %}
            <tr class="govuk-summary-list__row {{isNpa}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the next payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpaResolved}}">
                  {{ data['npa_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the next payment amount question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Missing payment' %}
            <tr class="govuk-summary-list__row {{isMp}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the missing payment question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isMaRresolved}}">
                  {{ data['ma_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the missing payment question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Change in payment amount' %}
            <tr class="govuk-summary-list__row {{isRfch}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the change in payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isRfchRresolved}}">
                  {{ data['chpa_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change<span class="govuk-visually-hidden"> the outcome of the change in payment amount question</span>
                </a>
              </td>
            </tr>
            {%else%}
            <tr class="govuk-summary-list__row {{isOthQ}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the other question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isOthQresolved}}">
                  {{ data['othQ_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change<span class="govuk-visually-hidden"> the other question</span>
                </a>
              </td>
            </tr>
            {%endif%}
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <div class="govuk-summary-card isGENERALCard">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Employment and Support Allowance</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="benefits-discussed.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Questions asked
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for benefit in data['question-asked'] %}
                  <li>{{ benefit }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questions-asked.html">
                  Change
                <span class="govuk-visually-hidden">questions that the caller asked</span>
                </a>
              </td>
            </tr>
            {%for questions in questionAsk %}
            {%if questions == 'Next payment date' %}
            <tr class="govuk-summary-list__row {{isNpd}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third"> Was the next payment date question resolved?</th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpdResolved}}">
                  {{ data['npd_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                Change
                <span class="govuk-visually-hidden">the outcome of the next payment date question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Next payment amount' %}
            <tr class="govuk-summary-list__row {{isNpa}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the next payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpaResolved}}">
                  {{ data['npa_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the next payment amount question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Missing payment' %}
            <tr class="govuk-summary-list__row {{isMp}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the missing payment question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isMaRresolved}}">
                  {{ data['ma_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the missing payment question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Change in payment amount' %}
            <tr class="govuk-summary-list__row {{isRfch}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the change in payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isRfchRresolved}}">
                  {{ data['chpa_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change<span class="govuk-visually-hidden"> the outcome of the change in payment amount question</span>
                </a>
              </td>
            </tr>
            {%else%}
            <tr class="govuk-summary-list__row {{isOthQ}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the other question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isOthQresolved}}">
                  {{ data['othQ_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change<span class="govuk-visually-hidden"> the other question</span>
                </a>
              </td>
            </tr>
            {%endif%}
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    {%else%}
    <!-- custom summary card -->
    <div class="govuk-summary-card isGENERALCard">
      {% set questionAsk = data['question-asked'] %}
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">{{ data['what-benefit-discussed'] }}</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="benefits-discussed.html">Change<span class="govuk-visually-hidden">the benefit that was discussed</span></a>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <table class="govuk-summary-list govuk-!-margin-bottom-0">
          <tbody class="govuk-summary-list">
            <tr class="govuk-summary-list__row">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Questions asked
              </th>
              <td class="govuk-summary-list__value">
                <ul class="govuk-list govuk-list--bullet">
                  {% for benefit in data['question-asked'] %}
                  <li>{{ benefit }}</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questions-asked.html">
                  Change
                <span class="govuk-visually-hidden">questions that the caller asked</span>
                </a>
              </td>
            </tr>
            {%for questions in questionAsk %}
            {%if questions == 'Next payment date' %}
            <tr class="govuk-summary-list__row {{isNpd}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third"> Was the next payment date question resolved?</th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpdResolved}}">
                  {{ data['npd_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                Change
                <span class="govuk-visually-hidden">the outcome of the next payment date question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Next payment amount' %}
            <tr class="govuk-summary-list__row {{isNpa}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the next payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isNpaResolved}}">
                  {{ data['npa_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the next payment amount question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Missing payment' %}
            <tr class="govuk-summary-list__row {{isMp}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the missing payment question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isMaRresolved}}">
                  {{ data['ma_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change
                <span class="govuk-visually-hidden">the outcome of the missing payment question</span>
                </a>
              </td>
            </tr>
            {%elif questions == 'Change in payment amount' %}
            <tr class="govuk-summary-list__row {{isRfch}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the change in payment amount question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isRfchRresolved}}">
                  {{ data['chpa_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change<span class="govuk-visually-hidden"> the outcome of the change in payment amount question</span>
                </a>
              </td>
            </tr>
            {%else%}
            <tr class="govuk-summary-list__row {{isOthQ}}">
              <th scope="row" class="govuk-summary-list__key govuk-!-width-one-third">
                Was the other question resolved?
              </th>
              <td class="govuk-summary-list__value">
                <strong class="govuk-tag {{isOthQresolved}}">
                  {{ data['othQ_question-resolved'] }}
                </strong>
              </td>
              <td class="govuk-summary-list__actions govuk-!-display-none-print">
                <a href="questionAnswered.html">
                  Change<span class="govuk-visually-hidden"> the other question</span>
                </a>
              </td>
            </tr>
            {%endif%}
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    {%endif%}
    {%endfor%}
    <!-- end here -->
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        When you select confirm, you will not be able to change the details you have added.
      </strong>
    </div>
    <form action="add-note-option" method="post" novalidate>
      <input type="hidden" name="answers-checked" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Confirm
      </button>
    </form>
  </div>
</div>
{% endblock %}
