{% extends "layout.html" %}

{% block pageTitle %}
Home
{% endblock %}


{% block header %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/header.html" %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/scenario-1/common/phase-banner.html" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Home</h1>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
          <form action="what-benefits-discussed" method="post">
            <button class="govuk-button {{hideAddNote}}" data-module="govuk-button" onclick="global_var['a']['b']=1;">
              Add or change notes
            </button>
          </form>
        </div>
      </div>
        <!-- to be card styel -->
        <ul class="govuk-grid-row nhsuk-card-group">
          <li class="govuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link govuk-link" href="personal-details.html">Personal details</a>
                </h2>
                <p class="nhsuk-card__description">View personal details, including contact numbers and addresses.</p>
              </div>
            </div>
          </li>
          <li class="govuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link govuk-link" href="contact-history.html">Contact history</a>
                </h2>
                <p class="nhsuk-card__description">View notes and details about previous contact.</p>
              </div>
            </div>
          </li>
          <li class="govuk-grid-column-one-third nhsuk-card-group__item">
            <div class="nhsuk-card nhsuk-card--clickable">
              <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                  <a class="nhsuk-card__link govuk-link" href="benefit-payment.html">Benefit payments</a>
                </h2>
                <p class="nhsuk-card__description">View details, including payment frequency and amounts.</p>
              </div>
            </div>
          </li>
        </ul>
    </div>
  </div>

{% endblock %}
