{% extends "layout.html" %}

{% block pageTitle %}
  Check benefit information and contact history
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/phase-banner.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_2/common/footer.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check benefit information and contact history</h1>
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        This service does not provide payment or entitlement details for Universal Credit, Scottish devolved benefits or Child Maintenance.
      </strong>
    </div>
    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>view personal details</li>
      <li>view live and past benefit information</li>
      <li>check DWP contact notes</li>
      <li>add details of new contact</li>
    </ul>
    <form class="form button_to" action="why-checking-information" method="post">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="full-name-input">
            Enter the National Insurance number
          </label>
        </h2>

        <div id="national-insurance-number-hint" class="govuk-hint">
          This can be found on the person's National Insurance card, benefit letter, payslip or P60. For example, QQ 12 34 56 Q
        </div>
        <input class="govuk-input govuk-input--width-10" id="full-name-input" name="nino-number-ur-8" type="text" spellcheck="false" aria-describedby="national-insurance-number-hint" autocomplete="on">
      </div>
        <button draggable="false" data-module="govuk-button" class="govuk-button govuk-button--start" type="submit">
          Start now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" focusable="false" aria-hidden="true">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </button>
    </form>
  </div>
</div>

{% endblock %}
