{% extends "layout.html" %}

{% block pageTitle %}
Was the call answered?
{% endblock %}

{% block header %}
  {% include "/prototype-sprint-wise/future-ur/failed-disconnect-call-log/common/header_keydetail_bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/future-ur/failed-disconnect-call-log/common/footer.html" %}
{% endblock %}

{% block beforeContent %}
{% include "/prototype-sprint-wise/future-ur/failed-disconnect-call-log/common/phase-banner.html" %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="who-were-tryingTo-contact" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Was the call answered?
              </h1>
            </legend>
            <div class="govuk-radios govuk-!-margin-top-3" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="was-call-answered" name="was-call-answered" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="was-call-answered">
                 Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="was-call-answered-2" name="was-call-answered" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="was-call-answered-2">
                 No
                </label>
              </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">Save and continue</button>
      </form>
    </div>
  </div>

  <script type="text/javascript">
    function handleRadio(name, value) {
      document.getElementById(name).value = value;
    }
  </script>
    
{% endblock %}
