{% extends "layout.html" %}

{% block pageTitle %}
  contact completed
{% endblock %}

{% block header %}
{% include "/prototype-dev-baseline/mvp-1_2/common/non-telephony/header_keydetail_bar.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "/prototype-sprint-wise/ur-8/common/phase-banner.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-sprint-wise/ur-8/common/footer.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Contact completed
        </h1>
        <!-- <div class="govuk-panel__body">
          Session time<br><strong>15 Minutes</strong>
        </div> -->
      </div>
      <!-- <p class="govuk-body">Session start date and time: <span id="todayDate"></span></p> -->
      <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>
      <p class="govuk-body">
        You can start work on another contact by selecting ‘Start service again'.
      </p>
      <form action="/prototype-dev-baseline/mvp-1_2/index" method="post" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Start service again
        </button>
      </form>
    </div>
      <!-- <h1 class="govuk-heading-xl">Call completed</h1>
      <div class="govuk-form-group">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Session start date and time
            </dt>
            <dd class="govuk-summary-list__value">
              <p id="todayDate"></p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Length of session
            </dt>
            <dd class="govuk-summary-list__value">
              15 minutes
            </dd>
          </div>
        </dl>
      </div> -->
    </div>
  </div>

  <script>
    var nowDate = new Date(); 
    var date = nowDate.getDate()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getFullYear()+ ', ' +nowDate.getHours()+':'+nowDate.getMinutes();
    document.getElementById("todayDate").innerHTML = date;
    </script>

{% endblock %}
