{% extends "layout.html" %}

{% block pageTitle %}
Contact history
{% endblock %}

{% block header %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/header.html" %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/non-telephony/keydetail-bar.html" %}
{% endblock %}

{% block footer %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/footer.html" %}
{% endblock %}


{% block beforeContent %}
  {% include "/prototype-dev-baseline/mvp-1_3/common/phase-banner.html" %}
  <!-- <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-display-none-print">Back</a> -->
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="home.html">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="view-call-detail.html">Contact history</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Contact history</h1>
      </div>
      <div class="govuk-grid-column-one-half">
        <form action="/prototype-dev-baseline/mvp-1_3/non-telephony/add-contact/what-benefits-discussed" method="post">
          <div class="govuk-button-group">
            {% set benefits =  data['what-benefit-discussed-non-telephony'] | length %}
            {%if benefits >=1 %}
            <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button"  onclick="global_var['a']['b']=1;" formaction="/prototype-dev-baseline/mvp-1_3/non-telephony/add-contact/what-benefits-discussed">
              Add or change contact details
            </button>
            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/prototype-dev-baseline/mvp-1_3/non-telephony/add-contact/check-before-start-sercive-again">
              Start service again
            </button>
            {%else%}
            <button type="submit" class="govuk-button" style="margin-left: auto;" data-module="govuk-button"  onclick="global_var['a']['b']=1;" formaction="/prototype-dev-baseline/mvp-1_3/non-telephony/add-contact/what-benefits-discussed">
              Add contact details
            </button>
            {%endif%}
            <!-- <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" formaction="/prototype-dev-baseline/mvp-1_3/non-telephony/add-contact/check-before-start-sercive-again">
              Start service again
            </button> -->
          </div>
        </form>
      </div>
    </div>
    <div class="govuk-tabs" data-module="govuk-tabs" id="filter">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <!-- Tab button here -->
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#view">
            View contact history
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#jsaps-notes">
            JSAPS notes for ESA
          </a>
        </li>
      </ul>
      <!-- Tab1 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="view">
        <!-- <h2 class="govuk-heading-l">View contact history</h2> -->
        <div class="govuk-grid-row">
          <!-- filter section -->
          <div class="govuk-grid-column-one-third">
            <!-- MOJ filter -->
            <div class="moj-filter cv-filter">
              <div class="moj-filter__header">
                <div class="moj-filter__header-title">
                  <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="moj-filter__header-action">
                </div>
              </div>
              <div class="moj-filter__content">
                <!-- filter options -->
                <div class="moj-filter__options">
                  <form action="contact-history-filter-selected" method="post">
                    <!-- apply filter button -->
                    <button type="submit" class="govuk-button" data-module="govuk-button" id="apply-filter-btn">
                    Apply filters
                    </button>
                    <!-- filter by benefits -->
                    <div class="govuk-form-group">
                      {% set benefitName = data['benefit'] %}
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Benefit
                        </legend> 
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="ESA-benefit" name="benefit" type="checkbox" value="Employment and Support Allowance">
                            <label class="govuk-label govuk-checkboxes__label" for="ESA-benefit">
                              Employment and Support Allowance
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="PIP-benefit" name="benefit" type="checkbox" value="Personal Independence Payment">
                            <label class="govuk-label govuk-checkboxes__label" for="PIP-benefit">
                              Personal Independence Payment
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="GCoC-benefit" name="benefit" type="checkbox" value="General change of circumstance">
                            <label class="govuk-label govuk-checkboxes__label" for="GCoC-benefit">
                              General change of circumstance
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <!-- filter by contact type -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Contact type
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-type-1" name="contact-type" type="checkbox" value="Inbound phone call">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-type-1">
                              Inbound phone call
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-type-2" name="contact-type" type="checkbox" value="Outbound phone call">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-type-2">
                              Outbound phone call
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-type-3" name="contact-type" type="checkbox" value="Outbound letter">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-type-3">
                              Outbound letter
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-type-3" name="contact-type" type="checkbox" value="JobCentre visit">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-type-3">
                              JobCentre visit
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <!-- filter by contact topics -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Contact topic
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-1" name="contact-topic" type="checkbox" value="Payment enquiry">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-1">
                              Payment enquiry
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-2" name="contact-topic" type="checkbox" value="Proof of benefit">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-2">
                              Proof of benefit
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-3" name="contact-topic" type="checkbox" value="Making a claim over the phone">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-3">
                              Making a claim over the phone
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-4" name="contact-topic" type="checkbox" value="Missing information" >
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-4">
                              Missing information
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-5" name="contact-topic" type="checkbox" value="Checking eligibility">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-5">
                              Checking eligibility
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-6" name="contact-topic" type="checkbox" value="Request for evidence">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-6">
                              Request for evidence
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-7" name="contact-topic" type="checkbox" value="Address">
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-7">
                              Address
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="contact-topic-8" name="contact-topic" type="checkbox" value="Call disconnected" >
                            <label class="govuk-label govuk-checkboxes__label" for="contact-topic-8">
                              Call disconnected
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <!-- filter by date  -->
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-from-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Contact date
                        </legend>
                        <div class="govuk-date-input" id="from-date">
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="from-date-day">
                                    Day
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-day" name="from-date-day" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromDay}}">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="from-date-month">
                                    Month
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-date-month" name="from-date-month" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromMonth}}">
                            </div>
                          </div>
                          <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                              <label class="govuk-label govuk-date-input__label" for="from-date-year">
                                    Year
                              </label>
                              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-date-year" name="from-date-year" type="text" inputmode="numeric" autocomplete="on" value="{{data.fromYear}}">
                            </div>
                          </div>
                        </div>
                        <!-- <div class="govuk-form-group govuk-!-margin-top-2">
                          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range-from-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-visually-hidden">
                              search by month
                            </legend>
                            <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="Last one month">
                                <label class="govuk-label govuk-radios__label" for="changedName">
                                  Last one month
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="Last 3 months">
                                <label class="govuk-label govuk-radios__label" for="changedName-2">
                                  Last 3 months
                                </label>
                              </div>
                              <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changedName-3" name="changedName" type="radio" value="Last 6 months">
                                <label class="govuk-label govuk-radios__label" for="changedName-3">
                                  Last 6 months
                                </label>
                              </div>
                            </div>
                          </fieldset>
                        </div> -->
                      </fieldset>
                    </div>
                    <!-- filter by Keywors -->
                    <div class="govuk-form-group govuk-!-padding-right-4">
                      <label class="govuk-label govuk-label--s" for="keyword-search">
                        Search notes
                      </label>
                      <div id="keyword-search-hint" class="govuk-hint">
                        Enter a word or phrase to find related notes
                      </div>
                      <input class="govuk-input" id="keyword-search" name="keywordSearch" type="text" aria-describedby="keyword-search-hint">
                    </div>
                    <!-- apply filter button -->
                    <!-- <button type="submit" class="govuk-button govuk-!-margin-top-5 govuk-!-margin-bottom-2" data-module="govuk-button" id="apply-filter-btn">
                      Apply filters
                    </button> -->
                    <div class="govuk-!-margin-top-5"> <a class="govuk-link" href="#filter">Back to top<span class="govuk-visually-hidden"> Benefit</span></a></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Sumary result section -->
          <div class="govuk-grid-column-two-thirds">  
            <!-- default ch table -->
            <h3 class="govuk-heading-m">32 results</h3>
            <p class="govuk-body govuk-!-margin-bottom-6">
                Sorted by:
                <span class="govuk-!-font-weight-bold">Date</span>
            </p>
            <div class="summry-card">
              {%if data['what-benefit-discussed-non-telephony'] != '' %}
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Inbound phone call: 15 April 2025, 10:30</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <!-- <span class="govuk-!-font-weight-regular"></span> -->
                      <a class="govuk-link" href="view-call-detail.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          {{ data['addNote'] or "Not provided" }}
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                            <p>Payment enquiry</p>
                            <p>Proof of benefit</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              {%endif%}
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Outbound letter: 20 January 2025, 11:02</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="view-call-detail.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          No notes added
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          General change of circumstance
                        </th>
                        <td class="govuk-summary-list__value">
                          <p>A request for evidence</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Inbound phone call: 20 January 2025, 09:37</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="view-call-detail.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          Evidence required.
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          General change of circumstance
                        </th>
                        <td class="govuk-summary-list__value">
                          Address
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Inbound phone call: 20 January 2025, 09:00</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="view-call-detail.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          <span class="govuk-!-display-none" id="full-text">Call disconnected before reason was established. Did not call back because caller was not identified as vulnerable.</span> <span class="" id="less-text">Call disconnected before reason was established. Did not call back because...</span> <br/><a href="#/" class="govuk-link" id="full-text-link" onclick="showfull()">view more notes</a> <a href="#/" class="govuk-link govuk-!-display-none" id="less-text-link" onclick="showless()"> view less</a>
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Call disconnected
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Outbound letter: 15 October 2024, 12:00</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <!-- <span class="govuk-!-font-weight-regular"></span> -->
                      <a class="govuk-link" href="view-call-detail.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          Sent an entitlement certificate.
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Proof of benefit
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Inbound phone call: 15 October 2024, 11:10</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="view-call-detail-outbound-call.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          Requested an entitlement certificate.
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          <p>A payment enquiry</p>
                          <p>Proof of benefit</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Outbound phone call: 25 September 2024, 13:36</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="view-call-detail-outbound-call.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          Confirmed partner’s annual income. Claim updated.
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Missing information
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Inbound phone call: 10 September 2024, 09:05</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="view-call-detail.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          No notes added.
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Making a claim over the phone
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">Jobcentre visit: 01 September 2024, 14:20</h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="view-call-detail-face-face.html">More details<span class="govuk-visually-hidden"> Benefit</span></a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                         Notes
                        </th>
                        <td class="govuk-summary-list__value">
                          Eligible for ESA but not PIP.
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Employment and Support Allowance
                        </th>
                        <td class="govuk-summary-list__value">
                          Checking eligibility
                        </td>
                      </tr>
                      <tr class="govuk-summary-list__row">
                        <th scope="row" class="govuk-summary-list__key">
                          Personal Independence Payment
                        </th>
                        <td class="govuk-summary-list__value">
                          Checking eligibility
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- pagination start here -->
            <nav class="govuk-pagination" aria-label="Pagination">
              <ul class="govuk-pagination__list">
                <li class="govuk-pagination__item govuk-pagination__item--current">
                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                    1
                  </a>
                </li>
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                    2
                  </a>
                </li>
                <li class="govuk-pagination__item">
                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                    3
                  </a>
                </li>
              </ul>
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                  <span class="govuk-pagination__link-title">
                    Next<span class="govuk-visually-hidden"> page</span>
                  </span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
            </nav>

          </div>
        </div>
      </div>
      <!-- Tab2 content start here -->
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="jsaps-notes">
        <div id="showContactHistory-bydefault">
          <h2 class="govuk-heading-l">JSAPS notes for ESA</h2>
          <!-- data table -->
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">When note was created</th>
                <th scope="col" class="govuk-table__header">Notes</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">15 October 2023</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">17 October 2023</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">10 November 2023</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">17 November 2023</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">25 November 2023</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">11 December 2023</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">20 December 2023</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">20 January 2024</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">12 February 2024</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">15 March 2024</td>
                <td class="govuk-table__cell">This is an example of JSAPS notes added</td>
              </tr>
            </tbody>
          </table>
          <!-- table pagination -->
          <nav class="moj-pagination" aria-label="Pagination navigation" role="navigation">
            <ul class="moj-pagination__list">
              <!-- <li class="moj-pagination__item  moj-pagination__item--prev">
                <a class="moj-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
              </li> -->
              <li class="moj-pagination__item moj-pagination__item--active" aria-label="Page 1" aria-current="page">1</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="view-call-detail.html" aria-label="Page 2">2</a></li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="view-call-detail.html" aria-label="Page 3">3</a></li>
  
              <li class="moj-pagination__item moj-pagination__item--dots">…</li>
  
              <li class="moj-pagination__item"><a class="moj-pagination__link" href="view-call-detail.html" aria-label="Page 5">5</a></li>
  
              <li class="moj-pagination__item  moj-pagination__item--next">
                <a class="moj-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
              </li>
            </ul>
            <p class="moj-pagination__results">Showing <b>1</b> to <b>10</b> of <b>45</b> results</p>
          </nav>
        </div>
          <!-- contact details section -->
          <div class="govuk-visually-hidden" id="showCtDetails">
            <a class="govuk-back-link" href="javascript:void(0);" onclick="showContactHistory();">Back</a>
            <h2 class="govuk-!-width-two-thirds govuk-heading-l govuk-!-margin-top-6">Details about Telephone call on 17 October 2023</h2>
            <!-- call started at -->
            <div class="ovuk-!-width-full govuk-!-margin-bottom-6">
              <span class="govuk-caption-m">Started at</span>
              <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:03</h2>
            </div>
            <!-- Benefits discussed -->
            <div class="govuk-!-width-full govuk-!-margin-top-4 govuk-!-margin-bottom-8">
              <div class="colleague-view-upcomming-payment-benefit">
                <h2 class="govuk-heading-m">
                  Benefits discussed
                </h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header ">Benefits</th>
                      <th scope="col" class="govuk-table__header">Type of enquiry</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Notes<span class="govuk-hint"> (optional)</span</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Employment and Support Allowance</td>
                      <td class="govuk-table__cell">Next payment date</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Employment and Support Allowance</td>
                      <td class="govuk-table__cell">Next payment amount</td>
                      <td class="govuk-table__cell">-</td>
                      <td class="govuk-table__cell"><strong class="govuk-tag">Resolved</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Call and Agent information -->
            <div class="colleague-view-container-light-grey govuk-!-margin-bottom-4">
              <div class="govuk-grid-row"> 
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Caller</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">Jane Doe (Appointee)</span>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Call taken by</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">Agent (1003)</span>
                  </div>
                </div>
                <div class="govuk-grid-column-one-third">
                  <span class="govuk-caption-m">Length of call</span>
                  <div>
                    <span class="govuk-body govuk-!-font-weight-bold break-line-colleague-view">15 Minutes</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- call ended at -->
            <div class="govuk-!-width-full">
              <span class="govuk-caption-m">Ended at</span>
              <h2 class="govuk-heading-m">Monday 17 Oct 2023, 13:18</h2>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  
<!-- logic for filter function -->
<script type="text/javascript">
  function showfull() {
    var fullText = document.getElementById('full-text');
    var fullTextlink = document.getElementById('full-text-link');
    var lessText = document.getElementById('less-text');
    var lessTextlink = document.getElementById('less-text-link');

    fullText.classList.remove("govuk-!-display-none");
    fullTextlink.classList.add("govuk-!-display-none");
    
    lessText.classList.add("govuk-!-display-none");
    lessTextlink.classList.remove("govuk-!-display-none");
  }

  function showless() {
    var fullText = document.getElementById('full-text');
    var fullTextlink = document.getElementById('full-text-link');
    var lessText = document.getElementById('less-text');
    var lessTextlink = document.getElementById('less-text-link');

    fullText.classList.add("govuk-!-display-none");
    fullTextlink.classList.remove("govuk-!-display-none");
    lessText.classList.remove("govuk-!-display-none");
    lessTextlink.classList.add("govuk-!-display-none");
  }


  function showfull2() {
    var fullText2 = document.getElementById('full-text-2');
    var fullTextlink2 = document.getElementById('full-text-link-2');
    var lessText2 = document.getElementById('less-text-2');
    var lessTextlink2 = document.getElementById('less-text-link-2');

    fullText2.classList.remove("govuk-!-display-none");
    fullTextlink2.classList.add("govuk-!-display-none");
    
    lessText2.classList.add("govuk-!-display-none");
    lessTextlink2.classList.remove("govuk-!-display-none");
  }

  function showless2() {
    var fullText2 = document.getElementById('full-text-2');
    var fullTextlink2 = document.getElementById('full-text-link-2');
    var lessText2 = document.getElementById('less-text-2');
    var lessTextlink2 = document.getElementById('less-text-link-2');

    fullText2.classList.add("govuk-!-display-none");
    fullTextlink2.classList.remove("govuk-!-display-none");
    lessText2.classList.remove("govuk-!-display-none");
    lessTextlink2.classList.add("govuk-!-display-none");
  }

  function showfull3() {
    var fullText3 = document.getElementById('full-text-3');
    var fullTextlink3 = document.getElementById('full-text-link-3');
    var lessText3 = document.getElementById('less-text-3');
    var lessTextlink3 = document.getElementById('less-text-link-3');

    fullText3.classList.remove("govuk-!-display-none");
    fullTextlink3.classList.add("govuk-!-display-none");
    
    lessText3.classList.add("govuk-!-display-none");
    lessTextlink3.classList.remove("govuk-!-display-none");
  }

  function showless3() {
    var fullText3 = document.getElementById('full-text-3');
    var fullTextlink3 = document.getElementById('full-text-link-3');
    var lessText3 = document.getElementById('less-text-3');
    var lessTextlink3 = document.getElementById('less-text-link-3');

    fullText3.classList.add("govuk-!-display-none");
    fullTextlink3.classList.remove("govuk-!-display-none");
    lessText3.classList.remove("govuk-!-display-none");
    lessTextlink3.classList.add("govuk-!-display-none");
  }
  </script>

{% endblock %}
