{% extends "layouts/home_ui.html" %}

{% set pageName="UI example" %}

{% block main %}

<main id="maincontent" role="main" class="sl-content home-width">
   
  <h2 class="govuk-heading-l ov-home-card-heading">Complete an activity</h2>
          
  <div class="dfe-grid-container">

    <div class="dfe-card">
        <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
              <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Incidents or concerns</a> 
            </h3>
              <p class="govuk-body-m">Report an incident or concern through Keep Customer Interactions Safe.</p>
        </div>
    </div>
    
  </div>
</main>

{% endblock %}